/* line 1, affiliates.less */
.aff-bs-site-wrapper {
  background-color: #fff;
}
/* line 4, affiliates.less */
.no-pd {
  padding: 0 !important;
}
/* line 7, affiliates.less */
.no-mg {
  margin: 0 !important;
}
/* line 10, affiliates.less */
.aff-thin {
  font-size: 45px !important;
}
/* line 14, affiliates.less */
.aff-img-circle {
  border: 0 !important;
}
/* line 17, affiliates.less */
.logo-sli {
  position: absolute;
  bottom: 30px;
  left: 105px;
}
/* line 22, affiliates.less */
.logo-sli img {
  width: 100%;
}
/* line 25, affiliates.less */
.sec-sl-fotm {
  padding: 0 !important;
}
/* line 28, affiliates.less */
.sec-sl-fotm .slick-arrow {
  display: none !important;
}
/* line 31, affiliates.less */
.col-slide {
  position: relative;
}
/* line 34, affiliates.less */
.col-slide .slick-slider {
  margin-bottom: 0;
}
/* line 37, affiliates.less */
.aff-box-form {
  position: absolute;
  width: 27%;
  top: 0;
  right: 10%;
  height: 100%;
  background: #0173a1;
  color: #fff ;
  text-align: center;
  padding: 30px 20px;
}
/* line 48, affiliates.less */
.white-quad {
  background-color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-top: -55px;
  margin-bottom: 10px;
  transform: rotate(45deg) scale(0.813) skew(1deg) translate(0px);
  -webkit-transform: rotate(45deg) scale(0.813) skew(1deg) translate(0px);
  -moz-transform: rotate(45deg) scale(0.813) skew(1deg) translate(0px);
  -o-transform: rotate(45deg) scale(0.813) skew(1deg) translate(0px);
  -ms-transform: rotate(45deg) scale(0.813) skew(1deg) translate(0px);
}
/* line 61, affiliates.less */
.aff-box-form h5 {
  font-weight: lighter;
  font-size: 145%;
  margin-top: 20px;
}
/* line 66, affiliates.less */
.aff-box-form h4 {
  font-size: 180%;
}
/* line 69, affiliates.less */
.aff-box-form #affiliaton-form .inp-bx {
  width: 100%;
  position: relative;
}
/* line 73, affiliates.less */
.aff-box-form #affiliaton-form input {
  width: 100%;
  float: left;
  padding: 10px;
  margin-bottom: 13px;
  border: 0;
  border-radius: 2px;
  color: #000;
}
/* line 84, affiliates.less */
.aff-box-form #affiliaton-form .arrw-fcs {
  float: left;
  margin-left: -23px;
  color: #fea100;
  font-size: 16px;
  line-height: 2;
  display: none;
}
/* line 92, affiliates.less */
.aff-box-form #affiliaton-form .arrw-fcs.active {
  display: block;
}
/* line 95, affiliates.less */
.aff-box-form #affiliaton-form input {
  float: right;
}
/* line 98, affiliates.less */
.aff-popover {
  opacity: 0;
  -webkit-filter: opacity(0);
  -moz-filter: opacity(0);
  -ms-filter: opacity(0);
  filter: opacity(0);
  -webkit-transition: all 500ms ease-out;
          transition: all 500ms ease-out;
  -webkit-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}
/* line 108, affiliates.less */
.aff-popover-custom {
  border: solid 1px #FFF !important;
}
/* line 111, affiliates.less */
.aff-box-form #affiliaton-form .btn.btn-primary.btn-lg {
  width: 100%;
  border-radius: 2px;
}
/* line 117, affiliates.less */
.aff-box-form p {
  font-size: 80%;
  margin-top: 5px;
}
/* line 121, affiliates.less */
.errmsg::-webkit-input-placeholder {
  color: red;
}
/* WebKit */
/* line 122, affiliates.less */
.errmsg:-moz-placeholder {
  color: red;
}
/* Firefox 18- */
/* line 123, affiliates.less */
.errmsg::-moz-placeholder {
  color: red;
}
/* Firefox 19+ */
/* line 124, affiliates.less */
.errmsg:-ms-input-placeholder {
  color: red;
}
/* IE 10+ */
/* line 125, affiliates.less */
.section-info {
  margin-top: 25px !important;
}
/* line 128, affiliates.less */
.section-info h4 {
  color: #000;
  font-size: 180%;
}
/* line 132, affiliates.less */
.section-steep {
  position: relative;
}
/* line 135, affiliates.less */
.line-blue {
  background: #0173a1;
  height: 2px;
  position: absolute;
  top: 40px;
  width: 68% !important;
  margin-left: 15%;
}
/* line 143, affiliates.less */
.section-info p {
  font-size: 125%;
  padding: 0 20%;
}
/* line 147, affiliates.less */
.circle-ic {
  width: 85px;
  height: 85px;
  border-radius: 100px;
  background-color: #fff;
  border: solid 2px #0173a1;
  margin: 0 auto;
  color: #0173a1;
}
/* line 158, affiliates.less */
.key-ico span {
  font-size: 60px;
  line-height: 76px;
}
/* line 162, affiliates.less */
.mega-ico span,
.oth-ico span {
  font-size: 50px;
  line-height: 76px;
}
/* line 166, affiliates.less */
.step-text {
  padding: 10px 20%;
}
/* line 169, affiliates.less */
.step-text h4 {
  color: #0173a1;
  font-size: 175%;
}
/* line 173, affiliates.less */
.step-text p {
  color: #000;
  font-size: 115%;
}
/* line 177, affiliates.less */
.step-text span {
  font-weight: 400;
}
/* line 180, affiliates.less */
.slide-testimonial {
  background-color: #f6f6f6;
  padding: 50px 40px !important;
}
/* line 184, affiliates.less */
.prev-ar {
  position: absolute;
  top: 48%;
  left: 7%;
  z-index: 1;
  font-size: 180%;
  color: #Ccc;
  cursor: pointer;
}
/* line 193, affiliates.less */
.next-ar {
  position: absolute;
  top: 48%;
  right: 7%;
  z-index: 1;
  font-size: 180%;
  color: #Ccc;
  cursor: pointer;
}
/* line 202, affiliates.less */
.testimonial-row {
  padding-top: 50px !important;
  position: relative;
}
/* line 206, affiliates.less */
.test-info h4 {
  font-style: italic;
  font-weight: 100;
  color: #000;
  font-size: 155%;
}
/* line 212, affiliates.less */
.img-bg img {
  width: 100%;
}
/* line 215, affiliates.less */
.user-img img {
  width: 95%;
}
/* line 218, affiliates.less */
.user-info h4 {
  font-style: inherit;
  font-size: 130%;
  margin-bottom: 0;
}
/* line 223, affiliates.less */
.user-info p {
  font-size: 100%;
}
/* line 227, affiliates.less */
.comi_op {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -2px;
}
/* line 233, affiliates.less */
.comi_cl {
  position: absolute;
  right: 0;
  bottom: 15px;
  z-index: -1;
}
/* line 239, affiliates.less */
.test-text p {
  font-size: 120%;
  font-style: italic;
  z-index: 2;
  padding: 15px;
}
/* line 246, affiliates.less */
.aff-bg-boats {
  margin-top: 50px !important;
  background-image: url('images/affiliate/bg-boats.jpg');
  background-size: cover;
  color: #fff;
  padding: 150px 10px !important;
  background-attachment: fixed;
}
/* line 254, affiliates.less */
.down-animate {
  width: 80px;
  margin-bottom: 20px;
  padding: 10px;
}
/* line 259, affiliates.less */
.aff-bg-boats h4 {
  font-size: 240%;
}
/* line 262, affiliates.less */
.aff-bg-boats h5 {
  font-size: 140%;
}
/* line 265, affiliates.less */
.an-left {
  opacity: 0;
  -webkit-filter: opacity(0);
  -moz-filter: opacity(0);
  -ms-filter: opacity(0);
  filter: opacity(0);
  -webkit-transform: translate3d(-100px, 0px, 0px) scale(1);
  -ms-transform: translate3d(-100px, 0px, 0px) scale(1);
  transform: translate3d(-100px, 0px, 0px) scale(1);
  -webkit-transition: all 500ms ease-out;
          transition: all 500ms ease-out;
}
/* line 280, affiliates.less */
.an-right {
  opacity: 0;
  -webkit-filter: opacity(0);
  -moz-filter: opacity(0);
  -ms-filter: opacity(0);
  filter: opacity(0);
  -webkit-transform: translate3d(100px, 0px, 0px) scale(1);
  -ms-transform: translate3d(100px, 0px, 0px) scale(1);
  transform: translate3d(100px, 0px, 0px) scale(1);
  -webkit-transition: all 500ms ease-out;
          transition: all 500ms ease-out;
}
/* line 295, affiliates.less */
.an-up {
  opacity: 0;
  -webkit-filter: opacity(0);
  -moz-filter: opacity(0);
  -ms-filter: opacity(0);
  filter: opacity(0);
  -webkit-transform: translate3d(0px, -100px, 0px) scale(1);
  -ms-transform: translate3d(0px, -100px, 0px) scale(1);
  transform: translate3d(0px, -100px, 0px) scale(1);
  -webkit-transition: all 500ms ease-ou;
          transition: all 500ms ease-ou;
}
/* line 312, affiliates.less */
.img-res-tab,
.img-res-tabmin,
.img-res-mob,
.img-res-mobmin {
  display: none !important;
}
/* line 315, affiliates.less */
.aff-header-phone {
  color: #0072a0!important;
  font-weight: 600;
  padding-left: 10px!important;
  padding-right: 10px!important;
}
/* line 321, affiliates.less */
.aff-header-phone span {
  color: #0072a0;
  border-radius: 50%;
  border: 2px solid #0072a0;
  width: 22px;
  height: 22px;
  text-align: center;
  padding-top: 2px;
  margin-right: 5px;
}
/* line 331, affiliates.less */
.nav > li > a {
  font-size: 15px !important;
}
/* line 334, affiliates.less */
.aff-search-dropdown.open,
.aff-search-dropdown.open .dropdown-toggle,
.aff-search-dropdown.open span {
  background-color: transparent;
  color: #0072a0 !important;
}
@media (min-width: 1600px) {
  /* line 339, affiliates.less */
  .aff-box-form {
    width: 20%;
    padding: 32px 30px;
  }
}
@media (min-width: 1440px) {
  /* line 345, affiliates.less */
  .new-slider img {
    width: 100%;
  }
  /* line 348, affiliates.less */
  .aff-box-form h5 {
    margin-bottom: 20px;
    margin-top: 25px;
  }
  /* line 352, affiliates.less */
  .aff-box-form {
    padding: 32px 35px;
  }
}
@media (max-width: 1250px) {
  /* line 361, affiliates.less */
  .aff-box-form {
    width: 35%;
    height: 100%;
  }
  /* line 365, affiliates.less */
  .step-text p {
    font-size: 105%;
  }
  /* line 366, affiliates.less */
  .test-text p {
    margin-top: 10px;
  }
  /* line 367, affiliates.less */
  .img-res-desk {
    width: 120%;
  }
}
@media (max-width: 1110px) {
  /* line 370, affiliates.less */
  .aff-box-form h5 {
    margin-bottom: 10px;
  }
}
@media (max-width: 1070px) {
  /* line 375, affiliates.less */
  .aff-box-form {
    width: 40%;
  }
}
@media (max-width: 1064px) {
  /* line 380, affiliates.less */
  .aff-box-form h5 {
    font-size: 125%;
  }
  /* line 383, affiliates.less */
  .aff-box-form h4 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media (max-width: 991px) {
  /* line 389, affiliates.less */
  .step-text {
    padding: 10px 10%;
  }
  /* line 390, affiliates.less */
  .step-text p {
    font-size: 105%;
  }
  /* line 391, affiliates.less */
  .test-text p {
    margin-top: 10px;
  }
  /* line 392, affiliates.less */
  .img-res-tab {
    display: block !important;
  }
  /* line 393, affiliates.less */
  .img-res-desk {
    display: none !important;
  }
}
@media (max-width: 840px) {
  /* line 396, affiliates.less */
  .aff-box-form {
    width: 50%;
  }
}
@media (max-width: 767px) {
  /* line 401, affiliates.less */
  .aff-thin {
    line-height: 49px !important;
  }
  /* line 402, affiliates.less */
  .line-blue {
    display: none;
  }
  /* line 403, affiliates.less */
  .aff-box-form {
    width: 60%;
    right: 20%;
  }
  /* line 407, affiliates.less */
  .img-bg,
  .user-img {
    text-align: center;
  }
  /* line 410, affiliates.less */
  .img-bg img {
    width: 50%;
    margin-bottom: 15px;
  }
  /* line 414, affiliates.less */
  .user-img img {
    width: 70%;
  }
  /* line 417, affiliates.less */
  .slick-slide img {
    margin: 0 auto;
    margin-bottom: 5px;
  }
  /* line 421, affiliates.less */
  .logo-sli img {
    display: none;
  }
  /* line 424, affiliates.less */
  .aff-box-form {
    height: 99%;
  }
  /* line 427, affiliates.less */
  .aff-box-form h5 {
    margin-bottom: 15px;
  }
  /* line 430, affiliates.less */
  .aff-box-form h4 {
    margin-bottom: 15px;
  }
}
@media (max-width: 500px) {
  /* line 435, affiliates.less */
  .aff-thin {
    line-height: 25px !important;
  }
  /* line 436, affiliates.less */
  .col-slide {
    margin-top: -20px !important;
  }
  /* line 439, affiliates.less */
  .aff-box-form {
    width: 90%;
    right: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: -25%;
    padding: 15px 20px;
  }
  /* line 448, affiliates.less */
  .section-info {
    margin-top: 15px !important;
  }
  /* line 451, affiliates.less */
  .img-res-mob {
    display: block !important;
  }
  /* line 452, affiliates.less */
  .img-res-tab {
    display: none !important;
  }
  /* line 453, affiliates.less */
  .new-slider .slick-slide {
    width: 100%;
  }
  /* line 456, affiliates.less */
  .new-slider img {
    width: 100%;
  }
  /* line 459, affiliates.less */
  .white-quad {
    display: none;
  }
  /* line 462, affiliates.less */
  .img-bg img {
    width: 80%;
  }
  /* line 465, affiliates.less */
  .aff-thin {
    font-size: 24px !important;
  }
  /* line 468, affiliates.less */
  .aff-box-form h5 {
    font-size: 110%;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  /* line 473, affiliates.less */
  .section-info p {
    padding: 0;
  }
  /* line 476, affiliates.less */
  .test-info h4 {
    font-size: 140%;
  }
  /* line 479, affiliates.less */
  .user-info p {
    font-size: 85%;
  }
  /* line 482, affiliates.less */
  .user-img img {
    width: 90%;
  }
  /* line 485, affiliates.less */
  .test-info {
    padding: 0 !important;
  }
  /* line 488, affiliates.less */
  .test-text p {
    font-size: 90%;
  }
  /* line 491, affiliates.less */
  .aff-bg-boats h4 {
    font-size: 150%;
  }
  /* line 494, affiliates.less */
  .aff-bg-boats h5 {
    font-size: 120%;
  }
}
/*# sourceMappingURL=affiliates.css.map */