/* line 1, agents.less */
.navbar-brand.agent {
  background: url('images/agent-logo.png') 15px center no-repeat;
  width: 260px;
}
@media only screen and (max-width: 600px) {
  /* line 4, agents.less */
  .navbar-brand.agent {
    width: 50%;
    background-size: 100% auto;
    background-position: 0 center;
  }
}
/* line 11, agents.less */
.bs-navbar-desktop .search-dropdown {
  margin-left: 0;
}
/* line 13, agents.less */
.bs-navbar-desktop .search-dropdown span {
  margin-right: 10px;
}
/* line 18, agents.less */
.slider-row {
  background: url("images/agents-bg.jpg") center center no-repeat;
  background-size: 100% auto;
  max-height: 600px;
}
@media only screen and (max-width: 1030px) {
  /* line 22, agents.less */
  .slider-row {
    background-size: auto 100%;
  }
}
/* line 27, agents.less */
.slideshow-overlay {
  pointer-events: none;
  position: absolute;
  top: 40px;
}
@media only screen and (max-width: 768px) {
  /* line 34, agents.less */
  .slideshow-overlay {
    position: relative !important;
    top: auto;
    bottom: 0;
  }
  /* line 39, agents.less */
  .slider-row {
    height: calc(100vh - 56px);
  }
}
/* line 47, agents.less */
#form-standard-search .toggle-form,
#form-advanced-search .toggle-form {
  border-radius: 4px;
}
/* line 53, agents.less */
.contact-support h1 {
  font-size: 180%;
}
/* line 56, agents.less */
.contact-support .icon-left {
  display: table-cell;
  vertical-align: middle;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  text-align: center;
  margin-right: 15px;
  background: #fff;
}
/* line 66, agents.less */
.contact-support .text {
  display: table-cell;
  vertical-align: middle;
  height: 66px;
  text-align: left;
  padding-left: 15px;
  font-size: 130%;
  color: white;
}
/* line 77, agents.less */
.actions .btn {
  padding: 0 5px 5px 5px;
  border: none;
}
/* line 80, agents.less */
.actions .btn:hover {
  background: none;
}
@media only screen and (max-width: 600px) {
  /* line 86, agents.less */
  .boxed-xs {
    padding: 15px 0 0;
    border: solid #ccc 1px;
    margin: 0 0 15px 0;
  }
}
/* line 93, agents.less */
.requested {
  background-color: #f6fcec !important;
}
/* line 97, agents.less */
.alert {
  border-color: #ccc;
}
/* line 99, agents.less */
.alert.alert-success {
  background-color: #F6FCEC;
}
/* line 101, agents.less */
.alert.alert-success strong {
  color: #76C428;
  margin-right: 20px;
}
/* line 108, agents.less */
.status-requested {
  color: #71b21d;
  font-weight: 400;
}
/* line 115, agents.less */
.bs-site-panel.bg-light-gray {
  background-color: #f2f5f6;
}
/* line 119, agents.less */
.bs-site-panel.flush-top {
  padding-top: 0;
}
/* line 123, agents.less */
.bs-site-panel {
  padding: 40px 0 40px;
}
/* line 127, agents.less */
.margin-bottom-double {
  margin-bottom: 40px;
}
/* line 131, agents.less */
.margin-top-double {
  margin-top: 40px;
}
/* line 135, agents.less */
.slick-slider {
  position: relative;
  display: block;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
/* line 153, agents.less */
.slick-slider {
  margin-bottom: 20px;
}
/* line 157, agents.less */
.slick-prev,
.slick-next {
  z-index: 99;
}
/* line 162, agents.less */
.slick-prev {
  left: -30px;
  text-align: right;
}
@media (min-width: 768px) {
  /* line 168, agents.less */
  .slick-prev,
  .slick-next {
    position: absolute;
    height: 40px;
    width: 20px;
    cursor: pointer;
    top: 50%;
    margin-top: -40px;
    padding: 0;
    border: none;
    outline: none;
  }
}
@media (min-width: 768px) {
  /* line 183, agents.less */
  .slick-prev .fa,
  .slick-next .fa {
    color: #cccccc;
    font-size: 40px;
  }
}
/* line 190, agents.less */
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 0 20px;
  padding: 0;
}
/* line 198, agents.less */
.fa-angle-left:before {
  content: "\f104";
}
/* line 202, agents.less */
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
/* line 208, agents.less */
.slick-list .slick-track,
.slick-list .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 214, agents.less */
.slick-list .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
/* line 221, agents.less */
.slick-slide {
  display: none;
  float: left;
  padding: 0 5px;
  min-height: 1px;
}
/* line 228, agents.less */
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
/* line 234, agents.less */
.slick-initialized .slick-slide {
  display: block;
}
/* line 238, agents.less */
.slick-prev,
.slick-next {
  z-index: 99;
}
/* line 243, agents.less */
.slick-prev {
  left: -30px;
  text-align: right;
}
/* line 248, agents.less */
.slick-next {
  right: -30px;
  text-align: left;
}
/* line 253, agents.less */
.panel {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-left-width: 0;
  border-right-width: 0;
}
@media (min-width: 768px) {
  /* line 264, agents.less */
  .panel {
    border-left-width: 1px;
    border-right-width: 1px;
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 272, agents.less */
.border-radius {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 279, agents.less */
.panel.panel-card {
  margin-left: 0;
  margin-right: 0;
  border-left-width: 1px;
  border-right-width: 1px;
}
/* line 286, agents.less */
.panel-image {
  position: relative;
  display: block;
}
/* line 291, agents.less */
.panel-body {
  padding: 20px 20px 0;
}
/* line 295, agents.less */
.boat-card-info.center .boat-title {
  min-height: 38px;
}
/* line 299, agents.less */
.boat-card-info.center .boat-title h3 {
  text-align: center;
  color: #333333;
  margin-bottom: 10px;
  overflow: hidden;
  padding-bottom: 5px;
}
/* line 307, agents.less */
boat-card-info .boat-info-primary {
  display: block;
  line-height: 20px;
}
/* line 312, agents.less */
h3,
.h3 {
  font-size: 18px;
}
/* line 317, agents.less */
.boat-card-info .boat-info-primary:before,
.boat-card-info .boat-info-primary:after {
  content: " ";
  display: table;
}
/* line 323, agents.less */
.boat-card-info.center .boat-info-primary .vessel {
  margin-bottom: 0px;
}
/* line 327, agents.less */
.boat-card-info.center .boat-info-primary a {
  text-align: center;
}
/* line 331, agents.less */
.boat-card-info .boat-info-primary a.vessel {
  float: left;
  width: 100%;
  font-size: 16px;
}
/* line 337, agents.less */
.boat-card-info.center .boat-info-primary .location {
  display: block;
  margin-bottom: 10px;
  color: #cccccc;
  font-size: 12px;
  float: left;
  width: 100%;
  color: #999999;
  text-align: center;
}
/* line 348, agents.less */
.boat-card-info .boat-info-secondary {
  display: block;
  margin-bottom: 20px;
  line-height: 20px;
}
/* line 354, agents.less */
.boat-card-info.center .boat-info-secondary .duration {
  font-size: 14px;
  text-align: center;
  margin-bottom: 3px;
}
/* line 360, agents.less */
.boat-card-info.center .boat-info-secondary .price {
  font-size: 21px;
  text-align: center;
}
/* line 365, agents.less */
.boat-card-info .price {
  position: relative;
  top: -2px;
}
/* line 370, agents.less */
.price {
  font-size: 24px;
  font-weight: 500;
}
/* line 375, agents.less */
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
/* line 381, agents.less */
.slick-slide img {
  display: block;
}
/* line 385, agents.less */
.img-responsive,
.thumbnail > img,
.thumbnail a > img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
/* line 393, agents.less */
a img {
  outline: none;
}
/* line 397, agents.less */
img {
  border: 0;
}
/* line 401, agents.less */
.avatar.avatar-overlay {
  position: absolute;
  border: 1px solid #cccccc;
}
/* line 406, agents.less */
boats-overview .panel-card.center .avatar.avatar-overlay.avatar-xs-bottom-right {
  top: auto;
  right: 20px;
  bottom: -10px;
  left: 50%;
  width: 50px;
  margin-left: -25px;
}
/* line 415, agents.less */
#boats-overview .panel-card.center .avatar.avatar-overlay.avatar-xs-bottom-right,
#related-gallery .panel-card.center .avatar.avatar-overlay.avatar-xs-bottom-right {
  top: auto;
  right: 20px;
  bottom: -10px;
  left: 50%;
  width: 50px;
  margin-left: -25px;
}
/*# sourceMappingURL=agents.css.map */