/* line 1, investors.less */
.rightside-menu {
  position: fixed;
  width: 60px;
  height: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
}
/* line 9, investors.less */
.logo-sec {
  margin-left: 50px;
  margin-top: 50px;
}
/* line 12, investors.less */
.logo-sec span {
  float: left;
  font-size: 230%;
}
/* line 1, _investors\section-1.less */
.inv-section-1 {
  background-image: url('images/investors/bg_1.jpg');
  width: 100%;
  min-height: 500px;
  background-size: cover;
  color: #fff;
  position: relative;
  padding-bottom: 100px;
  background-attachment: fixed;
}
/* line 10, _investors\section-1.less */
.inv-section-1 h3 {
  color: #FFF;
  font-size: 320%;
  margin-left: 10px;
  line-height: 1;
  font-weight: 600;
}
@media (max-width: 1040px) {
  /* line 16, _investors\section-1.less */
  .inv-section-1 h3 {
    font-size: 240%;
  }
}
@media (max-width: 520px) {
  /* line 19, _investors\section-1.less */
  .inv-section-1 h3 {
    font-size: 175%;
  }
}
/* line 23, _investors\section-1.less */
.inv-section-1 h4 {
  color: #FFF;
  float: left;
  font-size: 220%;
  margin-left: 10px;
}
@media (max-width: 1040px) {
  /* line 28, _investors\section-1.less */
  .inv-section-1 h4 {
    font-size: 135%;
  }
}
@media (max-width: 1040px) {
  /* line 31, _investors\section-1.less */
  .inv-section-1 h4 {
    font-size: 120%;
  }
}
/* line 35, _investors\section-1.less */
.inv-section-1 .logo-sec {
  margin-left: 50px;
  margin-top: 50px;
}
/* line 38, _investors\section-1.less */
.inv-section-1 .logo-sec span {
  float: left;
  font-size: 230%;
}
/* line 43, _investors\section-1.less */
.inv-section-1 .desc-sec {
  clear: both;
  text-align: right;
  width: 40%;
  padding-left: 100px;
  margin-top: 10%;
}
/* line 49, _investors\section-1.less */
.inv-section-1 .desc-sec h4 {
  margin-top: 5px;
}
/* line 52, _investors\section-1.less */
.inv-section-1 .desc-sec .inv-login {
  float: right;
  border: solid 1px #000;
  padding: 5px 10px;
  text-align: center;
  width: 160px;
}
@media (max-width: 1040px) {
  /* line 58, _investors\section-1.less */
  .inv-section-1 .desc-sec .inv-login {
    width: 116px;
  }
}
@media (max-width: 660px) {
  /* line 61, _investors\section-1.less */
  .inv-section-1 .desc-sec .inv-login {
    width: 155px;
  }
}
/* line 65, _investors\section-1.less */
.inv-section-1 .desc-sec .inv-log-right {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 73, _investors\section-1.less */
.inv-section-1 .desc-sec .inv-log-left {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 81, _investors\section-1.less */
.inv-section-1 .desc-sec .btn {
  background-color: #fa9600;
  margin: 0 auto;
  margin-top: -25px;
  width: 80px;
  padding: 2px;
}
@media (max-width: 1058px) {
  /* line 88, _investors\section-1.less */
  .inv-section-1 .desc-sec {
    width: 50%;
  }
}
@media (max-width: 800px) {
  /* line 91, _investors\section-1.less */
  .inv-section-1 .desc-sec {
    width: 65%;
  }
}
@media (max-width: 660px) {
  /* line 94, _investors\section-1.less */
  .inv-section-1 .desc-sec {
    width: 100%;
    padding-left: 40px;
  }
}
@media (max-width: 390px) {
  /* line 98, _investors\section-1.less */
  .inv-section-1 .desc-sec {
    padding-left: 20px;
    padding-right: 10px;
  }
}
/* line 103, _investors\section-1.less */
.inv-section-1 .arrw-down {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 20px;
}
/* line 108, _investors\section-1.less */
.inv-section-1 .arrw-down i {
  color: #fff;
  font-size: 250%;
}
/* line 1, _investors\section-2.less */
.inv-section-2 {
  color: #373737;
  display: table-row;
}
/* line 5, _investors\section-2.less */
.inv-section-2 .logo-sec div {
  float: left;
  padding: 0 60px;
}
/* line 9, _investors\section-2.less */
.inv-section-2 .logo-sec h3 {
  clear: both;
  margin-bottom: 0px;
  font-size: 360%;
  font-weight: 600;
}
/* line 16, _investors\section-2.less */
.inv-section-2 .section-info-circle {
  padding: 15px 10%;
  text-align: center;
}
/* line 19, _investors\section-2.less */
.inv-section-2 .section-info-circle img {
  width: 80%;
}
/* line 22, _investors\section-2.less */
.inv-section-2 .section-info-circle .search-info,
.inv-section-2 .section-info-circle .connect-info,
.inv-section-2 .section-info-circle .setsail-info {
  padding: 10px 20px;
}
/* line 24, _investors\section-2.less */
.inv-section-2 .section-info-circle .search-info h4,
.inv-section-2 .section-info-circle .connect-info h4,
.inv-section-2 .section-info-circle .setsail-info h4 {
  font-size: 200%;
}
/* line 28, _investors\section-2.less */
.inv-section-2 .section-info-circle .connect-info {
  margin-top: -10%;
}
/* line 1, _investors\section-3.less */
.inv-section-3 {
  background-image: url('images/investors/bg_2.jpg');
  width: 100%;
  min-height: 600px;
  background-size: cover;
  color: #fff;
  position: relative;
  padding-bottom: 100px;
  background-attachment: fixed;
  padding-top: 1px;
}
/* line 12, _investors\section-3.less */
.inv-section-3 .logo-sec div {
  float: left;
  padding: 0 60px;
}
/* line 16, _investors\section-3.less */
.inv-section-3 .logo-sec h3 {
  clear: both;
  margin-bottom: 0px;
  font-size: 420%;
  font-weight: 600;
}
/* line 23, _investors\section-3.less */
.inv-section-3 .center-video {
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  text-align: right;
}
/* line 28, _investors\section-3.less */
.inv-section-3 .center-video h3 {
  font-size: 440%;
  margin: 0;
}
@media (max-width: 508px) {
  /* line 31, _investors\section-3.less */
  .inv-section-3 .center-video h3 {
    font-size: 350%;
  }
}
@media (max-width: 420px) {
  /* line 34, _investors\section-3.less */
  .inv-section-3 .center-video h3 {
    font-size: 235%;
  }
}
/* line 38, _investors\section-3.less */
.inv-section-3 .center-video .embed-container {
  border: solid 20px rgba(172, 172, 175, 0.19);
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-top: 20px;
}
@media (max-width: 420px) {
  /* line 46, _investors\section-3.less */
  .inv-section-3 .center-video .embed-container {
    border: solid 4px rgba(172, 172, 175, 0.19);
  }
}
/* line 50, _investors\section-3.less */
.inv-section-3 .center-video .embed-container iframe,
.inv-section-3 .center-video .embed-container object,
.inv-section-3 .center-video .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 57, _investors\section-3.less */
.inv-section-3 .center-video .embed-1 {
  margin-top: 50px;
}
@media (max-width: 580px) {
  /* line 60, _investors\section-3.less */
  .inv-section-3 .center-video {
    width: 75%;
  }
}
@media (max-width: 508px) {
  /* line 63, _investors\section-3.less */
  .inv-section-3 .center-video {
    width: 100%;
    clear: both;
    padding-right: 75px;
    padding-left: 50px;
  }
}
/*# sourceMappingURL=investors.css.map */