/* line 1, leadgen.less */
.hero-bg {
  height: 50vh;
  min-height: 500px;
  background-size: cover;
  overflow: hidden;
}
/* line 8, leadgen.less */
.slider-leadgen {
  position: relative;
  height: 100%;
}
/* line 13, leadgen.less */
.slider-leadgen .flex-viewport {
  height: 100%;
}
/* line 17, leadgen.less */
.slider-overlay {
  position: absolute;
}
/* line 21, leadgen.less */
.slides {
  position: relative;
}
/* line 25, leadgen.less */
.slides li {
  width: 100%;
  height: auto;
  overflow: hidden;
}
/* line 31, leadgen.less */
.slides li img {
  width: 100%;
  height: auto
  /*        top: 50%;
        left: 50%;
        -webkit-transform: translate( -50%, -50%);
           -moz-transform: translate( -50%, -50%);
            -ms-transform: translate( -50%, -50%);
             -o-transform: translate( -50%, -50%);
                transform: translate( -50%, -50%);*/
}
/* line 43, leadgen.less */
.slide-caption {
  position: absolute;
  right: 0;
}
/* line 48, leadgen.less */
.slider-leadgen .flex-prev {
  text-indent: -9999px;
}
/* line 52, leadgen.less */
.slider-leadgen .flex-next {
  text-indent: 9999px;
}
/* line 56, leadgen.less */
.callbutton {
  border: 1px solid #999;
  margin-top: 8px;
  border-radius: 4px;
  padding: 8px 20px 6px !important;
}
/* line 63, leadgen.less */
.callbutton p {
  font-size: 11px;
  margin-bottom: 0px;
  line-height: 15px;
  display: inline-block;
  vertical-align: middle;
}
/* line 71, leadgen.less */
.callbutton p strong {
  font-size: 23px;
}
/* line 75, leadgen.less */
.callbutton a {
  color: #000000;
}
/* line 79, leadgen.less */
.callbutton img {
  display: inline-block;
  width: 30px;
  margin-left: 6px;
  margin-top: -4px;
}
/* line 86, leadgen.less */
.navbar-brand {
  position: relative;
  width: 195px;
  margin-left: 15px;
  background: url('images/logo-desktop-boatsetter.png') 15px center no-repeat;
  background-size: auto 47px;
  text-indent: -9999px;
}
/* line 95, leadgen.less */
.footer-img {
  height: 80px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
}
/* line 103, leadgen.less */
.footer-img img {
  position: absolute;
  height: auto;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  margin: auto;
}
/*# sourceMappingURL=leadgen.css.map */