@font-face {
  font-family: 'boatsetter';
  src:  url('fonts/boatsetter.eot?jbh4xi');
  src:  url('fonts/boatsetter.eot?jbh4xi#iefix') format('embedded-opentype'),
    url('fonts/boatsetter.ttf?jbh4xi') format('truetype'),
    url('fonts/boatsetter.woff?jbh4xi') format('woff'),
    url('fonts/boatsetter.svg?jbh4xi#boatsetter') format('svg');
  font-weight: normal;
  font-style: normal;
}

i[class^="bs-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'boatsetter' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bs-icon-BS_amenities:before {
  content: "\ea1e";
}
.bs-icon-BS_bar:before {
  content: "\ea1f";
}
.bs-icon-BS_cancellation:before {
  content: "\ea20";
}
.bs-icon-BS_chef:before {
  content: "\ea21";
}
.bs-icon-BS_crew:before {
  content: "\ea22";
}
.bs-icon-BS_dinghy:before {
  content: "\ea23";
}
.bs-icon-BS_fishing-gear:before {
  content: "\ea24";
}
.bs-icon-BS_food:before {
  content: "\ea25";
}
.bs-icon-BS_languages:before {
  content: "\ea26";
}
.bs-icon-BS_Location:before {
  content: "\ea27";
}
.bs-icon-BS_policies:before {
  content: "\ea28";
}
.bs-icon-BS_price:before {
  content: "\ea29";
}
.bs-icon-BS_speaker:before {
  content: "\ea2a";
}
.bs-icon-BS_specialty-equipment:before {
  content: "\ea2b";
}
.bs-icon-BS_toys:before {
  content: "\ea2c";
}
.bs-icon-BS-more:before {
  content: "\ea2d";
}
.bs-icon-renter_dashboard_add-to-calendar:before {
  content: "\e980";
  color: #727272;
}
.bs-icon-renter_dashboard_booked:before {
  content: "\e981";
  color: #1773a3;
}
.bs-icon-renter_dashboard_clock-1:before {
  content: "\e982";
  color: #666;
}
.bs-icon-renter_dashboard_clock-2:before {
  content: "\e983";
  color: #666;
}
.bs-icon-renter_dashboard_heart-1:before {
  content: "\e984";
  color: #d10101;
}
.bs-icon-renter_dashboard_heart-2:before {
  content: "\e985";
  color: #666;
}
.bs-icon-members_boat-owner-boy-01:before {
  content: "\e986";
  color: #727272;
}
.bs-icon-members_boat-owner-boy-02:before {
  content: "\e987";
  color: #727272;
}
.bs-icon-members_boat-owner-girl-01:before {
  content: "\e988";
  color: #727272;
}
.bs-icon-members_boat-owner-girl-02:before {
  content: "\e989";
  color: #727272;
}
.bs-icon-members_captain-01:before {
  content: "\e98a";
  color: #727272;
}
.bs-icon-members_captain-02:before {
  content: "\e98b";
  color: #727272;
}
.bs-icon-members_captain-03:before {
  content: "\e98c";
  color: #727272;
}
.bs-icon-members_helm-01:before {
  content: "\e98d";
  color: #727272;
}
.bs-icon-members_helm-02:before {
  content: "\e98e";
  color: #727272;
}
.bs-icon-members_renter-girl-01:before {
  content: "\e98f";
  color: #727272;
}
.bs-icon-members_renter-girl-02:before {
  content: "\e990";
  color: #727272;
}
.bs-icon-members_renter-guy-01:before {
  content: "\e991";
  color: #727272;
}
.bs-icon-members_renter-guy-02:before {
  content: "\e992";
  color: #727272;
}
.bs-icon-emotions_angel-girl:before {
  content: "\e993";
  color: #727272;
}
.bs-icon-emotions_angel-guy:before {
  content: "\e994";
  color: #727272;
}
.bs-icon-emotions_angry-girl:before {
  content: "\e995";
  color: #727272;
}
.bs-icon-emotions_angry-guy:before {
  content: "\e996";
  color: #727272;
}
.bs-icon-emotions_chinese-girl:before {
  content: "\e997";
  color: #727272;
}
.bs-icon-emotions_chinese-guy:before {
  content: "\e998";
  color: #727272;
}
.bs-icon-emotions_devil-girl:before {
  content: "\e999";
  color: #727272;
}
.bs-icon-emotions_devil-guy:before {
  content: "\e99a";
  color: #727272;
}
.bs-icon-emotions_happy-girl-01:before {
  content: "\e99b";
  color: #727272;
}
.bs-icon-emotions_happy-girl-02-30:before {
  content: "\e99c";
  color: #727272;
}
.bs-icon-emotions_happy-girl-02-37:before {
  content: "\e99d";
  color: #727272;
}
.bs-icon-emotions_happy-girl-03:before {
  content: "\e99e";
  color: #727272;
}
.bs-icon-emotions_happy-girl-04:before {
  content: "\e99f";
  color: #727272;
}
.bs-icon-emotions_happy-girl-05:before {
  content: "\e9a0";
  color: #727272;
}
.bs-icon-emotions_happy-girl-06:before {
  content: "\e9a1";
  color: #727272;
}
.bs-icon-emotions_happy-girl-07:before {
  content: "\e9a2";
  color: #727272;
}
.bs-icon-emotions_happy-girl-08:before {
  content: "\e9a3";
  color: #727272;
}
.bs-icon-emotions_happy-guy-01:before {
  content: "\e9a4";
  color: #727272;
}
.bs-icon-emotions_happy-guy-02:before {
  content: "\e9a5";
  color: #727272;
}
.bs-icon-emotions_happy-guy-03:before {
  content: "\e9a6";
  color: #727272;
}
.bs-icon-emotions_happy-guy-04:before {
  content: "\e9a7";
  color: #727272;
}
.bs-icon-emotions_happy-guy-05:before {
  content: "\e9a8";
  color: #727272;
}
.bs-icon-emotions_happy-guy-06:before {
  content: "\e9a9";
  color: #727272;
}
.bs-icon-emotions_happy-guy-07:before {
  content: "\e9aa";
  color: #727272;
}
.bs-icon-emotions_happy-guy-08:before {
  content: "\e9ab";
  color: #727272;
}
.bs-icon-emotions_happy-guy-09:before {
  content: "\e9ac";
  color: #727272;
}
.bs-icon-emotions_hat-girl-01:before {
  content: "\e9ad";
  color: #727272;
}
.bs-icon-emotions_hat-girl-02:before {
  content: "\e9ae";
  color: #727272;
}
.bs-icon-emotions_hat-guy-01:before {
  content: "\e9af";
  color: #727272;
}
.bs-icon-emotions_hat-guy-02:before {
  content: "\e9b0";
  color: #727272;
}
.bs-icon-emotions_hat-guy-03:before {
  content: "\e9b1";
  color: #727272;
}
.bs-icon-emotions_sad-girl-01:before {
  content: "\e9b2";
  color: #727272;
}
.bs-icon-emotions_sad-girl-02:before {
  content: "\e9b3";
  color: #727272;
}
.bs-icon-emotions_sad-guy-01:before {
  content: "\e9b4";
  color: #727272;
}
.bs-icon-emotions_sad-guy-02:before {
  content: "\e9b5";
  color: #727272;
}
.bs-icon-emotions_snorkel:before {
  content: "\e9b6";
  color: #727272;
}
.bs-icon-emotions_sorprise-girl--01:before {
  content: "\e9b7";
  color: #727272;
}
.bs-icon-emotions_sorprise-girl-02:before {
  content: "\e9b8";
  color: #727272;
}
.bs-icon-emotions_sorprise-guy-01:before {
  content: "\e9b9";
  color: #727272;
}
.bs-icon-emotions_sorprise-guy-02:before {
  content: "\e9ba";
  color: #727272;
}
.bs-icon-emotions_sunglasses--girl-01:before {
  content: "\e9bb";
  color: #727272;
}
.bs-icon-emotions_sunglasses-girl-02:before {
  content: "\e9bc";
  color: #727272;
}
.bs-icon-emotions_sunglasses-girl-03:before {
  content: "\e9bd";
  color: #727272;
}
.bs-icon-emotions_sunglasses-girl-04:before {
  content: "\e9be";
  color: #727272;
}
.bs-icon-emotions_sunglasses-girl-05-43:before {
  content: "\e9bf";
  color: #727272;
}
.bs-icon-emotions_sunglasses-girl-05-51:before {
  content: "\e9c0";
  color: #727272;
}
.bs-icon-emotions_sunglasses-guy-01:before {
  content: "\e9c1";
  color: #727272;
}
.bs-icon-emotions_sunglasses-guy-02-16:before {
  content: "\e9c2";
  color: #727272;
}
.bs-icon-emotions_sunglasses-guy-02-20:before {
  content: "\e9c3";
  color: #727272;
}
.bs-icon-emotions_sunglasses-guy-03:before {
  content: "\e9c4";
  color: #727272;
}
.bs-icon-emotions_tongue-girl:before {
  content: "\e9c5";
  color: #727272;
}
.bs-icon-emotions_tongue-guy-01:before {
  content: "\e9c6";
  color: #727272;
}
.bs-icon-emotions_wink-girl:before {
  content: "\e9c7";
  color: #727272;
}
.bs-icon-emotions_wink-guy:before {
  content: "\e9c8";
  color: #727272;
}
.bs-icon-commercial_operators_assigns-captains:before {
  content: "\e9c9";
  color: #727272;
}
.bs-icon-commercial_operators_availablility:before {
  content: "\e9ca";
  color: #727272;
}
.bs-icon-commercial_operators_basic-insurance:before {
  content: "\e9cb";
  color: #727272;
}
.bs-icon-commercial_operators_boat-managers:before {
  content: "\e9cc";
  color: #727272;
}
.bs-icon-commercial_operators_gas:before {
  content: "\e9cd";
  color: #727272;
}
.bs-icon-commercial_operators_insurance:before {
  content: "\e9ce";
  color: #727272;
}
.bs-icon-commercial_operators_location:before {
  content: "\e9cf";
  color: #727272;
}
.bs-icon-commercial_operators_pics:before {
  content: "\e9d0";
  color: #727272;
}
.bs-icon-commercial_operators_premium-insurance:before {
  content: "\e9d1";
  color: #727272;
}
.bs-icon-commercial_operators_pricing:before {
  content: "\e9d2";
  color: #727272;
}
.bs-icon-commercial_operators_security-depositz:before {
  content: "\e9d3";
  color: #727272;
}
.bs-icon-export:before {
  content: "\ea12";
}
.bs-icon-lifetime-earning:before {
  content: "\ea13";
}
.bs-icon-month-earning:before {
  content: "\ea14";
}
.bs-icon-cash-flow:before {
  content: "\ea11";
}
.bs-icon-captain_dashboard_account-info:before {
  content: "\e9d4";
  color: #727272;
}
.bs-icon-captain_dashboard_boat-1:before {
  content: "\e9d5";
  color: #727272;
}
.bs-icon-captain_dashboard_boat-2:before {
  content: "\e9d6";
  color: #727272;
}
.bs-icon-captain_dashboard_boat-3:before {
  content: "\e9d7";
  color: #727272;
}
.bs-icon-captain_dashboard_boat-profile:before {
  content: "\e9d8";
  color: #727272;
}
.bs-icon-captain_dashboard_boat-runz:before {
  content: "\e9d9";
  color: #727272;
}
.bs-icon-captain_dashboard_captain:before {
  content: "\e9da";
  color: #727272;
}
.bs-icon-captain_dashboard_cel:before {
  content: "\e9db";
  color: #727272;
}
.bs-icon-captain_dashboard_conversation:before {
  content: "\e9dc";
  color: #727272;
}
.bs-icon-captain_dashboard_direct-pay:before {
  content: "\e9dd";
  color: #727272;
}
.bs-icon-captain_dashboard_documentation:before {
  content: "\e9de";
  color: #727272;
}
.bs-icon-captain_dashboard_form:before {
  content: "\e9df";
  color: #727272;
}
.bs-icon-captain_dashboard_half-day:before {
  content: "\e9e0";
  color: #727272;
}
.bs-icon-captain_dashboard_location:before {
  content: "\e9e1";
  color: #727272;
}
.bs-icon-captain_dashboard_price:before {
  content: "\e9e2";
  color: #727272;
}
.bs-icon-captain_dashboard_profil:before {
  content: "\e9e3";
  color: #727272;
}
.bs-icon-captain_dashboard_promote:before {
  content: "\e9e4";
  color: #727272;
}
.bs-icon-captain_dashboard_search:before {
  content: "\e9e5";
  color: #727272;
}
.bs-icon-captain_dashboard_trips:before {
  content: "\e9e6";
  color: #727272;
}
.bs-icon-captain_dashboard-20:before {
  content: "\e9e7";
  color: #727272;
}
.bs-icon-bucks_lifetime:before {
  content: "\e9e8";
  color: #727272;
}
.bs-icon-bucks_month-icon:before {
  content: "\e9e9";
  color: #727272;
}
.bs-icon-bucks_redeem:before {
  content: "\e9ea";
  color: #727272;
}
.bs-icon-bucks_wallet:before {
  content: "\e9eb";
  color: #727272;
}
.bs-icon-bs_messenger_delete:before {
  content: "\e9ec";
  color: #727272;
}
.bs-icon-bs_messenger_forward:before {
  content: "\e9ed";
  color: #727272;
}
.bs-icon-bs_messenger_read:before {
  content: "\e9ee";
  color: #727272;
}
.bs-icon-bs_messenger_unread:before {
  content: "\e9ef";
  color: #727272;
}
.bs-icon-account_account:before {
  content: "\e9f0";
  color: #727272;
}
.bs-icon-account_billing:before {
  content: "\e9f1";
  color: #727272;
}
.bs-icon-account_cloud-01:before {
  content: "\e9f2";
  color: #727272;
}
.bs-icon-account_edit-picture:before {
  content: "\e9f3";
  color: #727272;
}
.bs-icon-account_info:before {
  content: "\e9f4";
  color: #727272;
}
.bs-icon-account_personal-info:before {
  content: "\e9f5";
  color: #727272;
}
.bs-icon-account_saved-credit-cards:before {
  content: "\e9f6";
  color: #727272;
}
.bs-icon-account_search:before {
  content: "\e9f7";
  color: #727272;
}
.bs-icon-account_social:before {
  content: "\e9f8";
  color: #727272;
}
.bs-icon-account_tell-us:before {
  content: "\e9f9";
  color: #727272;
}
.bs-icon-my_fleet:before {
  content: "\ea15";
}
.bs-icon-boats_boat-01:before {
  content: "\e9fa";
  color: #727272;
}
.bs-icon-boats_boat-02:before {
  content: "\e9fb";
  color: #727272;
}
.bs-icon-boats_boat-03:before {
  content: "\e9fc";
  color: #727272;
}
.bs-icon-boats_boat-04:before {
  content: "\e9fd";
  color: #727272;
}
.bs-icon-boats_boat-05:before {
  content: "\e9fe";
  color: #727272;
}
.bs-icon-boats_boat-06:before {
  content: "\e9ff";
  color: #727272;
}
.bs-icon-boats_boat-07:before {
  content: "\ea00";
  color: #727272;
}
.bs-icon-boats_boat-08:before {
  content: "\ea01";
  color: #727272;
}
.bs-icon-boats_boat-09:before {
  content: "\ea02";
  color: #727272;
}
.bs-icon-boats_boat-10:before {
  content: "\ea03";
  color: #727272;
}
.bs-icon-boats_boat-11:before {
  content: "\ea04";
  color: #727272;
}
.bs-icon-boats_boat-12:before {
  content: "\ea05";
  color: #727272;
}
.bs-icon-boats_boat-13:before {
  content: "\ea06";
  color: #727272;
}
.bs-icon-boats_boat-14:before {
  content: "\ea07";
  color: #727272;
}
.bs-icon-boats_boat-15:before {
  content: "\ea08";
  color: #727272;
}
.bs-icon-boats_boat-16:before {
  content: "\ea09";
  color: #727272;
}
.bs-icon-boats_boat-17:before {
  content: "\ea0a";
  color: #727272;
}
.bs-icon-boats_boat-18:before {
  content: "\ea0b";
  color: #727272;
}
.bs-icon-boats_boat-19:before {
  content: "\ea0c";
  color: #727272;
}
.bs-icon-boats_boat-20:before {
  content: "\ea0d";
  color: #727272;
}
.bs-icon-boats_boat-21-21:before {
  content: "\ea0e";
  color: #727272;
}
.bs-icon-boats_boat-21-22:before {
  content: "\ea0f";
  color: #727272;
}
.bs-icon-boats_boat-22:before {
  content: "\ea10";
  color: #727272;
}
.bs-icon-bs-bin:before {
  content: "\ea2e";
}
.bs-icon-icon-cap-boat:before {
  content: "\ea1d";
}
.bs-icon-icon-support:before {
  content: "\ea1c";
}
.bs-icon-icon-phone:before {
  content: "\ea1a";
}
.bs-icon-icon-mail:before {
  content: "\ea1b";
}
.bs-icon-bs-paper:before {
  content: "\ea19";
}
.bs-icon-bs-direct-share:before {
  content: "\ea17";
}
.bs-icon-bs-mypage:before {
  content: "\ea18";
}
.bs-icon-bs_status:before {
  content: "\ea16";
}
.bs-icon-bs_billing:before {
  content: "\e978";
}
.bs-icon-bs_credit-card:before {
  content: "\e979";
}
.bs-icon-bs_forward:before {
  content: "\e97a";
  color: #4f4f4f;
}
.bs-icon-bs_personal:before {
  content: "\e97b";
}
.bs-icon-bs_read:before {
  content: "\e97c";
  color: #4f4f4f;
}
.bs-icon-bs_tell-us:before {
  content: "\e97d";
}
.bs-icon-bs_unread:before {
  content: "\e97e";
  color: #4f4f4f;
}
.bs-icon-bs-04:before {
  content: "\e97f";
}
.bs-icon-bs_attachment:before {
  content: "\e971";
}
.bs-icon-bs_boat-front:before {
  content: "\e972";
}
.bs-icon-bs_emoticon .path1:before {
  content: "\e973";
  color: ;
}
.bs-icon-bs_emoticon .path2:before {
  content: "\e974";
  margin-left: -1em;
  color: ;
}
.bs-icon-bs_emoticon .path3:before {
  content: "\e975";
  margin-left: -1em;
  color: ;
}
.bs-icon-bs_emoticon .path4:before {
  content: "\e976";
  margin-left: -1em;
  color: ;
}
.bs-icon-bs_inbox:before {
  content: "\e977";
  color: #4f4f4f;
}
.bs-icon-bs_boat-inspections:before {
  content: "\e96b";
  color: #727272;
}
.bs-icon-bs_mechanical-repair:before {
  content: "\e96c";
  color: #727272;
}
.bs-icon-bs_radar:before {
  content: "\e96d";
  color: #727272;
}
.bs-icon-bs_radio-operator:before {
  content: "\e96e";
  color: #727272;
}
.bs-icon-bs_towing:before {
  content: "\e96f";
  color: #727272;
}
.bs-icon-bs_vessel-maintenance:before {
  content: "\e970";
  color: #727272;
}
.bs-icon-bs_captain_tip:before {
  content: "\e964";
}
.bs-icon-bs_custom:before {
  content: "\e965";
}
.bs-icon-bs_custom_trip:before {
  content: "\e966";
}
.bs-icon-bs_insurance_copy:before {
  content: "\e967";
}
.bs-icon-bs_licence:before {
  content: "\e968";
}
.bs-icon-bs_my_insurance:before {
  content: "\e969";
}
.bs-icon-bs_security:before {
  content: "\e96a";
}
.bs-icon-bs_availablility:before {
  content: "\e959";
}
.bs-icon-bs_dollar-sign:before {
  content: "\e95a";
}
.bs-icon-bs_interrogation:before {
  content: "\e95b";
}
.bs-icon-bs_mail:before {
  content: "\e95c";
}
.bs-icon-bs_next:before {
  content: "\e95d";
}
.bs-icon-bs_phone:before {
  content: "\e95e";
}
.bs-icon-bs_print:before {
  content: "\e95f";
}
.bs-icon-bs_renter:before {
  content: "\e960";
}
.bs-icon-bs_share:before {
  content: "\e961";
}
.bs-icon-bs_success:before {
  content: "\e962";
}
.bs-icon-bs_waiting:before {
  content: "\e963";
}
.bs-icon-bs_account:before {
  content: "\e900";
}
.bs-icon-bs_activities:before {
  content: "\e901";
}
.bs-icon-bs_add-boat:before {
  content: "\e902";
}
.bs-icon-bs_add-boat-managers:before {
  content: "\e903";
}
.bs-icon-bs_add-fav:before {
  content: "\e904";
}
.bs-icon-bs_admiral:before {
  content: "\e905";
}
.bs-icon-bs_angle:before {
  content: "\e906";
}
.bs-icon-bs_arrow:before {
  content: "\e907";
}
.bs-icon-bs_assign-captains:before {
  content: "\e908";
}
.bs-icon-bs_availability:before {
  content: "\e909";
}
.bs-icon-bs_back:before {
  content: "\e90a";
}
.bs-icon-bs_basic-insurance:before {
  content: "\e90b";
}
.bs-icon-bs_bath:before {
  content: "\e90c";
}
.bs-icon-bs_boat:before {
  content: "\e90d";
}
.bs-icon-bs_boat-details:before {
  content: "\e90e";
}
.bs-icon-bs_boat-managers:before {
  content: "\e90f";
}
.bs-icon-bs_boat-profile:before {
  content: "\e910";
}
.bs-icon-bs_cabin-38:before {
  content: "\e911";
}
.bs-icon-bs_cabin-54:before {
  content: "\e912";
}
.bs-icon-bs_calendar:before {
  content: "\e913";
}
.bs-icon-bs_cancelled:before {
  content: "\e914";
}
.bs-icon-bs_cancelled-trips:before {
  content: "\e915";
}
.bs-icon-bs_captain-request:before {
  content: "\e916";
}
.bs-icon-bs_captain-required:before {
  content: "\e917";
}
.bs-icon-bs_captains:before {
  content: "\e918";
}
.bs-icon-bs_certificate:before {
  content: "\e919";
}
.bs-icon-bs_check:before {
  content: "\e91a";
}
.bs-icon-bs_completed-47:before {
  content: "\e91b";
}
.bs-icon-bs_completed-73:before {
  content: "\e91c";
}
.bs-icon-bs_cover:before {
  content: "\e91d";
}
.bs-icon-bs_dimension:before {
  content: "\e91e";
}
.bs-icon-bs_dining:before {
  content: "\e91f";
}
.bs-icon-bs_earning:before {
  content: "\e920";
}
.bs-icon-bs_engines:before {
  content: "\e921";
}
.bs-icon-bs_experience:before {
  content: "\e922";
}
.bs-icon-bs_features-and-extras:before {
  content: "\e923";
}
.bs-icon-bs_fishing:before {
  content: "\e924";
}
.bs-icon-bs_front:before {
  content: "\e925";
}
.bs-icon-bs_full-day:before {
  content: "\e926";
}
.bs-icon-bs_gas:before {
  content: "\e927";
}
.bs-icon-bs_general-info:before {
  content: "\e928";
}
.bs-icon-bs_guests:before {
  content: "\e929";
}
.bs-icon-bs_half-day:before {
  content: "\e92a";
}
.bs-icon-bs_happy-dude:before {
  content: "\e92b";
}
.bs-icon-bs_helm:before {
  content: "\e92c";
}
.bs-icon-bs_helm1:before {
  content: "\e92d";
}
.bs-icon-bs_horsepower:before {
  content: "\e92e";
}
.bs-icon-bs_insurance:before {
  content: "\e92f";
}
.bs-icon-bs_left-arrow:before {
  content: "\e930";
}
.bs-icon-bs_left-side:before {
  content: "\e931";
}
.bs-icon-bs_location:before {
  content: "\e932";
}
.bs-icon-bs_master:before {
  content: "\e933";
}
.bs-icon-bs_max-speed-1:before {
  content: "\e934";
}
.bs-icon-bs_max-speed-2:before {
  content: "\e935";
}
.bs-icon-bs_menu:before {
  content: "\e936";
}
.bs-icon-bs_messages:before {
  content: "\e937";
}
.bs-icon-bs_other-photo:before {
  content: "\e938";
}
.bs-icon-bs_passengers:before {
  content: "\e939";
}
.bs-icon-bs_pending:before {
  content: "\e93a";
}
.bs-icon-bs_pics-videos:before {
  content: "\e93b";
}
.bs-icon-bs_power:before {
  content: "\e93c";
}
.bs-icon-bs_premium:before {
  content: "\e93d";
}
.bs-icon-bs_pricing:before {
  content: "\e93e";
}
.bs-icon-bs_promote-your-boat:before {
  content: "\e93f";
}
.bs-icon-bs_propulsion:before {
  content: "\e940";
}
.bs-icon-bs_recent-messages:before {
  content: "\e941";
}
.bs-icon-bs_reply:before {
  content: "\e942";
}
.bs-icon-bs_response:before {
  content: "\e943";
}
.bs-icon-bs_right-arrow:before {
  content: "\e944";
}
.bs-icon-bs_right-side:before {
  content: "\e945";
}
.bs-icon-bs_sail:before {
  content: "\e946";
}
.bs-icon-bs_search:before {
  content: "\e947";
}
.bs-icon-bs_sightseeing:before {
  content: "\e948";
}
.bs-icon-bs_sleeps:before {
  content: "\e949";
}
.bs-icon-bs_smart-pricing:before {
  content: "\e94a";
}
.bs-icon-bs_snorkeling:before {
  content: "\e94b";
}
.bs-icon-bs_specifications:before {
  content: "\e94c";
}
.bs-icon-bs_tank-capacity:before {
  content: "\e94d";
}
.bs-icon-bs_time-65:before {
  content: "\e94e";
}
.bs-icon-bs_time-86:before {
  content: "\e94f";
}
.bs-icon-bs_trip-request-30:before {
  content: "\e950";
}
.bs-icon-bs_trip-request-60:before {
  content: "\e951";
}
.bs-icon-bs_trips:before {
  content: "\e952";
}
.bs-icon-bs_up-arrow:before {
  content: "\e953";
}
.bs-icon-bs_upcoming:before {
  content: "\e954";
}
.bs-icon-bs_view-messages:before {
  content: "\e955";
}
.bs-icon-bs_warning:before {
  content: "\e956";
}
.bs-icon-bs_week:before {
  content: "\e957";
}
.bs-icon-bs_without-captain:before {
  content: "\e958";
}
