@import "variables";

@font-face {
  font-family: 'boatsetter';
  src:  url('@{icomoon-font-path}/boatsetter.eot?jbh4xi');
  src:  url('@{icomoon-font-path}/boatsetter.eot?jbh4xi#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/boatsetter.ttf?jbh4xi') format('truetype'),
    url('@{icomoon-font-path}/boatsetter.woff?jbh4xi') format('woff'),
    url('@{icomoon-font-path}/boatsetter.svg?jbh4xi#boatsetter') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'boatsetter' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bs-icon-BS_amenities {
  &:before {
    content: @bs-icon-BS_amenities;
  }
}
.bs-icon-BS_bar {
  &:before {
    content: @bs-icon-BS_bar;
  }
}
.bs-icon-BS_cancellation {
  &:before {
    content: @bs-icon-BS_cancellation;
  }
}
.bs-icon-BS_chef {
  &:before {
    content: @bs-icon-BS_chef;
  }
}
.bs-icon-BS_crew {
  &:before {
    content: @bs-icon-BS_crew;
  }
}
.bs-icon-BS_dinghy {
  &:before {
    content: @bs-icon-BS_dinghy;
  }
}
.bs-icon-BS_fishing-gear {
  &:before {
    content: @bs-icon-BS_fishing-gear;
  }
}
.bs-icon-BS_food {
  &:before {
    content: @bs-icon-BS_food;
  }
}
.bs-icon-BS_languages {
  &:before {
    content: @bs-icon-BS_languages;
  }
}
.bs-icon-BS_Location {
  &:before {
    content: @bs-icon-BS_Location;
  }
}
.bs-icon-BS_policies {
  &:before {
    content: @bs-icon-BS_policies;
  }
}
.bs-icon-BS_price {
  &:before {
    content: @bs-icon-BS_price;
  }
}
.bs-icon-BS_speaker {
  &:before {
    content: @bs-icon-BS_speaker;
  }
}
.bs-icon-BS_specialty-equipment {
  &:before {
    content: @bs-icon-BS_specialty-equipment;
  }
}
.bs-icon-BS_toys {
  &:before {
    content: @bs-icon-BS_toys;
  }
}
.bs-icon-BS-more {
  &:before {
    content: @bs-icon-BS-more;
  }
}
.bs-icon-renter_dashboard_add-to-calendar {
  &:before {
    content: @bs-icon-renter_dashboard_add-to-calendar;
  }
}
.bs-icon-renter_dashboard_booked {
  &:before {
    content: @bs-icon-renter_dashboard_booked;
  }
}
.bs-icon-renter_dashboard_clock-1 {
  &:before {
    content: @bs-icon-renter_dashboard_clock-1;
  }
}
.bs-icon-renter_dashboard_clock-2 {
  &:before {
    content: @bs-icon-renter_dashboard_clock-2;
  }
}
.bs-icon-renter_dashboard_heart-1 {
  &:before {
    content: @bs-icon-renter_dashboard_heart-1;
  }
}
.bs-icon-renter_dashboard_heart-2 {
  &:before {
    content: @bs-icon-renter_dashboard_heart-2;
  }
}
.bs-icon-members_boat-owner-boy-01 {
  &:before {
    content: @bs-icon-members_boat-owner-boy-01;
  }
}
.bs-icon-members_boat-owner-boy-02 {
  &:before {
    content: @bs-icon-members_boat-owner-boy-02;
  }
}
.bs-icon-members_boat-owner-girl-01 {
  &:before {
    content: @bs-icon-members_boat-owner-girl-01;
  }
}
.bs-icon-members_boat-owner-girl-02 {
  &:before {
    content: @bs-icon-members_boat-owner-girl-02;
  }
}
.bs-icon-members_captain-01 {
  &:before {
    content: @bs-icon-members_captain-01;
  }
}
.bs-icon-members_captain-02 {
  &:before {
    content: @bs-icon-members_captain-02;
  }
}
.bs-icon-members_captain-03 {
  &:before {
    content: @bs-icon-members_captain-03;
  }
}
.bs-icon-members_helm-01 {
  &:before {
    content: @bs-icon-members_helm-01;
  }
}
.bs-icon-members_helm-02 {
  &:before {
    content: @bs-icon-members_helm-02;
  }
}
.bs-icon-members_renter-girl-01 {
  &:before {
    content: @bs-icon-members_renter-girl-01;
  }
}
.bs-icon-members_renter-girl-02 {
  &:before {
    content: @bs-icon-members_renter-girl-02;
  }
}
.bs-icon-members_renter-guy-01 {
  &:before {
    content: @bs-icon-members_renter-guy-01;
  }
}
.bs-icon-members_renter-guy-02 {
  &:before {
    content: @bs-icon-members_renter-guy-02;
  }
}
.bs-icon-emotions_angel-girl {
  &:before {
    content: @bs-icon-emotions_angel-girl;
  }
}
.bs-icon-emotions_angel-guy {
  &:before {
    content: @bs-icon-emotions_angel-guy;
  }
}
.bs-icon-emotions_angry-girl {
  &:before {
    content: @bs-icon-emotions_angry-girl;
  }
}
.bs-icon-emotions_angry-guy {
  &:before {
    content: @bs-icon-emotions_angry-guy;
  }
}
.bs-icon-emotions_chinese-girl {
  &:before {
    content: @bs-icon-emotions_chinese-girl;
  }
}
.bs-icon-emotions_chinese-guy {
  &:before {
    content: @bs-icon-emotions_chinese-guy;
  }
}
.bs-icon-emotions_devil-girl {
  &:before {
    content: @bs-icon-emotions_devil-girl;
  }
}
.bs-icon-emotions_devil-guy {
  &:before {
    content: @bs-icon-emotions_devil-guy;
  }
}
.bs-icon-emotions_happy-girl-01 {
  &:before {
    content: @bs-icon-emotions_happy-girl-01;
  }
}
.bs-icon-emotions_happy-girl-02-30 {
  &:before {
    content: @bs-icon-emotions_happy-girl-02-30;
  }
}
.bs-icon-emotions_happy-girl-02-37 {
  &:before {
    content: @bs-icon-emotions_happy-girl-02-37;
  }
}
.bs-icon-emotions_happy-girl-03 {
  &:before {
    content: @bs-icon-emotions_happy-girl-03;
  }
}
.bs-icon-emotions_happy-girl-04 {
  &:before {
    content: @bs-icon-emotions_happy-girl-04;
  }
}
.bs-icon-emotions_happy-girl-05 {
  &:before {
    content: @bs-icon-emotions_happy-girl-05;
  }
}
.bs-icon-emotions_happy-girl-06 {
  &:before {
    content: @bs-icon-emotions_happy-girl-06;
  }
}
.bs-icon-emotions_happy-girl-07 {
  &:before {
    content: @bs-icon-emotions_happy-girl-07;
  }
}
.bs-icon-emotions_happy-girl-08 {
  &:before {
    content: @bs-icon-emotions_happy-girl-08;
  }
}
.bs-icon-emotions_happy-guy-01 {
  &:before {
    content: @bs-icon-emotions_happy-guy-01;
  }
}
.bs-icon-emotions_happy-guy-02 {
  &:before {
    content: @bs-icon-emotions_happy-guy-02;
  }
}
.bs-icon-emotions_happy-guy-03 {
  &:before {
    content: @bs-icon-emotions_happy-guy-03;
  }
}
.bs-icon-emotions_happy-guy-04 {
  &:before {
    content: @bs-icon-emotions_happy-guy-04;
  }
}
.bs-icon-emotions_happy-guy-05 {
  &:before {
    content: @bs-icon-emotions_happy-guy-05;
  }
}
.bs-icon-emotions_happy-guy-06 {
  &:before {
    content: @bs-icon-emotions_happy-guy-06;
  }
}
.bs-icon-emotions_happy-guy-07 {
  &:before {
    content: @bs-icon-emotions_happy-guy-07;
  }
}
.bs-icon-emotions_happy-guy-08 {
  &:before {
    content: @bs-icon-emotions_happy-guy-08;
  }
}
.bs-icon-emotions_happy-guy-09 {
  &:before {
    content: @bs-icon-emotions_happy-guy-09;
  }
}
.bs-icon-emotions_hat-girl-01 {
  &:before {
    content: @bs-icon-emotions_hat-girl-01;
  }
}
.bs-icon-emotions_hat-girl-02 {
  &:before {
    content: @bs-icon-emotions_hat-girl-02;
  }
}
.bs-icon-emotions_hat-guy-01 {
  &:before {
    content: @bs-icon-emotions_hat-guy-01;
  }
}
.bs-icon-emotions_hat-guy-02 {
  &:before {
    content: @bs-icon-emotions_hat-guy-02;
  }
}
.bs-icon-emotions_hat-guy-03 {
  &:before {
    content: @bs-icon-emotions_hat-guy-03;
  }
}
.bs-icon-emotions_sad-girl-01 {
  &:before {
    content: @bs-icon-emotions_sad-girl-01;
  }
}
.bs-icon-emotions_sad-girl-02 {
  &:before {
    content: @bs-icon-emotions_sad-girl-02;
  }
}
.bs-icon-emotions_sad-guy-01 {
  &:before {
    content: @bs-icon-emotions_sad-guy-01;
  }
}
.bs-icon-emotions_sad-guy-02 {
  &:before {
    content: @bs-icon-emotions_sad-guy-02;
  }
}
.bs-icon-emotions_snorkel {
  &:before {
    content: @bs-icon-emotions_snorkel;
  }
}
.bs-icon-emotions_sorprise-girl--01 {
  &:before {
    content: @bs-icon-emotions_sorprise-girl--01;
  }
}
.bs-icon-emotions_sorprise-girl-02 {
  &:before {
    content: @bs-icon-emotions_sorprise-girl-02;
  }
}
.bs-icon-emotions_sorprise-guy-01 {
  &:before {
    content: @bs-icon-emotions_sorprise-guy-01;
  }
}
.bs-icon-emotions_sorprise-guy-02 {
  &:before {
    content: @bs-icon-emotions_sorprise-guy-02;
  }
}
.bs-icon-emotions_sunglasses--girl-01 {
  &:before {
    content: @bs-icon-emotions_sunglasses--girl-01;
  }
}
.bs-icon-emotions_sunglasses-girl-02 {
  &:before {
    content: @bs-icon-emotions_sunglasses-girl-02;
  }
}
.bs-icon-emotions_sunglasses-girl-03 {
  &:before {
    content: @bs-icon-emotions_sunglasses-girl-03;
  }
}
.bs-icon-emotions_sunglasses-girl-04 {
  &:before {
    content: @bs-icon-emotions_sunglasses-girl-04;
  }
}
.bs-icon-emotions_sunglasses-girl-05-43 {
  &:before {
    content: @bs-icon-emotions_sunglasses-girl-05-43;
  }
}
.bs-icon-emotions_sunglasses-girl-05-51 {
  &:before {
    content: @bs-icon-emotions_sunglasses-girl-05-51;
  }
}
.bs-icon-emotions_sunglasses-guy-01 {
  &:before {
    content: @bs-icon-emotions_sunglasses-guy-01;
  }
}
.bs-icon-emotions_sunglasses-guy-02-16 {
  &:before {
    content: @bs-icon-emotions_sunglasses-guy-02-16;
  }
}
.bs-icon-emotions_sunglasses-guy-02-20 {
  &:before {
    content: @bs-icon-emotions_sunglasses-guy-02-20;
  }
}
.bs-icon-emotions_sunglasses-guy-03 {
  &:before {
    content: @bs-icon-emotions_sunglasses-guy-03;
  }
}
.bs-icon-emotions_tongue-girl {
  &:before {
    content: @bs-icon-emotions_tongue-girl;
  }
}
.bs-icon-emotions_tongue-guy-01 {
  &:before {
    content: @bs-icon-emotions_tongue-guy-01;
  }
}
.bs-icon-emotions_wink-girl {
  &:before {
    content: @bs-icon-emotions_wink-girl;
  }
}
.bs-icon-emotions_wink-guy {
  &:before {
    content: @bs-icon-emotions_wink-guy;
  }
}
.bs-icon-commercial_operators_assigns-captains {
  &:before {
    content: @bs-icon-commercial_operators_assigns-captains;
  }
}
.bs-icon-commercial_operators_availablility {
  &:before {
    content: @bs-icon-commercial_operators_availablility;
  }
}
.bs-icon-commercial_operators_basic-insurance {
  &:before {
    content: @bs-icon-commercial_operators_basic-insurance;
  }
}
.bs-icon-commercial_operators_boat-managers {
  &:before {
    content: @bs-icon-commercial_operators_boat-managers;
  }
}
.bs-icon-commercial_operators_gas {
  &:before {
    content: @bs-icon-commercial_operators_gas;
  }
}
.bs-icon-commercial_operators_insurance {
  &:before {
    content: @bs-icon-commercial_operators_insurance;
  }
}
.bs-icon-commercial_operators_location {
  &:before {
    content: @bs-icon-commercial_operators_location;
  }
}
.bs-icon-commercial_operators_pics {
  &:before {
    content: @bs-icon-commercial_operators_pics;
  }
}
.bs-icon-commercial_operators_premium-insurance {
  &:before {
    content: @bs-icon-commercial_operators_premium-insurance;
  }
}
.bs-icon-commercial_operators_pricing {
  &:before {
    content: @bs-icon-commercial_operators_pricing;
  }
}
.bs-icon-commercial_operators_security-depositz {
  &:before {
    content: @bs-icon-commercial_operators_security-depositz;
  }
}
.bs-icon-export {
  &:before {
    content: @bs-icon-export;
  }
}
.bs-icon-lifetime-earning {
  &:before {
    content: @bs-icon-lifetime-earning;
  }
}
.bs-icon-month-earning {
  &:before {
    content: @bs-icon-month-earning;
  }
}
.bs-icon-cash-flow {
  &:before {
    content: @bs-icon-cash-flow;
  }
}
.bs-icon-captain_dashboard_account-info {
  &:before {
    content: @bs-icon-captain_dashboard_account-info;
  }
}
.bs-icon-captain_dashboard_boat-1 {
  &:before {
    content: @bs-icon-captain_dashboard_boat-1;
  }
}
.bs-icon-captain_dashboard_boat-2 {
  &:before {
    content: @bs-icon-captain_dashboard_boat-2;
  }
}
.bs-icon-captain_dashboard_boat-3 {
  &:before {
    content: @bs-icon-captain_dashboard_boat-3;
  }
}
.bs-icon-captain_dashboard_boat-profile {
  &:before {
    content: @bs-icon-captain_dashboard_boat-profile;
  }
}
.bs-icon-captain_dashboard_boat-runz {
  &:before {
    content: @bs-icon-captain_dashboard_boat-runz;
  }
}
.bs-icon-captain_dashboard_captain {
  &:before {
    content: @bs-icon-captain_dashboard_captain;
  }
}
.bs-icon-captain_dashboard_cel {
  &:before {
    content: @bs-icon-captain_dashboard_cel;
  }
}
.bs-icon-captain_dashboard_conversation {
  &:before {
    content: @bs-icon-captain_dashboard_conversation;
  }
}
.bs-icon-captain_dashboard_direct-pay {
  &:before {
    content: @bs-icon-captain_dashboard_direct-pay;
  }
}
.bs-icon-captain_dashboard_documentation {
  &:before {
    content: @bs-icon-captain_dashboard_documentation;
  }
}
.bs-icon-captain_dashboard_form {
  &:before {
    content: @bs-icon-captain_dashboard_form;
  }
}
.bs-icon-captain_dashboard_half-day {
  &:before {
    content: @bs-icon-captain_dashboard_half-day;
  }
}
.bs-icon-captain_dashboard_location {
  &:before {
    content: @bs-icon-captain_dashboard_location;
  }
}
.bs-icon-captain_dashboard_price {
  &:before {
    content: @bs-icon-captain_dashboard_price;
  }
}
.bs-icon-captain_dashboard_profil {
  &:before {
    content: @bs-icon-captain_dashboard_profil;
  }
}
.bs-icon-captain_dashboard_promote {
  &:before {
    content: @bs-icon-captain_dashboard_promote;
  }
}
.bs-icon-captain_dashboard_search {
  &:before {
    content: @bs-icon-captain_dashboard_search;
  }
}
.bs-icon-captain_dashboard_trips {
  &:before {
    content: @bs-icon-captain_dashboard_trips;
  }
}
.bs-icon-captain_dashboard-20 {
  &:before {
    content: @bs-icon-captain_dashboard-20;
  }
}
.bs-icon-bucks_lifetime {
  &:before {
    content: @bs-icon-bucks_lifetime;
  }
}
.bs-icon-bucks_month-icon {
  &:before {
    content: @bs-icon-bucks_month-icon;
  }
}
.bs-icon-bucks_redeem {
  &:before {
    content: @bs-icon-bucks_redeem;
  }
}
.bs-icon-bucks_wallet {
  &:before {
    content: @bs-icon-bucks_wallet;
  }
}
.bs-icon-bs_messenger_delete {
  &:before {
    content: @bs-icon-bs_messenger_delete;
  }
}
.bs-icon-bs_messenger_forward {
  &:before {
    content: @bs-icon-bs_messenger_forward;
  }
}
.bs-icon-bs_messenger_read {
  &:before {
    content: @bs-icon-bs_messenger_read;
  }
}
.bs-icon-bs_messenger_unread {
  &:before {
    content: @bs-icon-bs_messenger_unread;
  }
}
.bs-icon-account_account {
  &:before {
    content: @bs-icon-account_account;
  }
}
.bs-icon-account_billing {
  &:before {
    content: @bs-icon-account_billing;
  }
}
.bs-icon-account_cloud-01 {
  &:before {
    content: @bs-icon-account_cloud-01;
  }
}
.bs-icon-account_edit-picture {
  &:before {
    content: @bs-icon-account_edit-picture;
  }
}
.bs-icon-account_info {
  &:before {
    content: @bs-icon-account_info;
  }
}
.bs-icon-account_personal-info {
  &:before {
    content: @bs-icon-account_personal-info;
  }
}
.bs-icon-account_saved-credit-cards {
  &:before {
    content: @bs-icon-account_saved-credit-cards;
  }
}
.bs-icon-account_search {
  &:before {
    content: @bs-icon-account_search;
  }
}
.bs-icon-account_social {
  &:before {
    content: @bs-icon-account_social;
  }
}
.bs-icon-account_tell-us {
  &:before {
    content: @bs-icon-account_tell-us;
  }
}
.bs-icon-my_fleet {
  &:before {
    content: @bs-icon-my_fleet;
  }
}
.bs-icon-boats_boat-01 {
  &:before {
    content: @bs-icon-boats_boat-01;
  }
}
.bs-icon-boats_boat-02 {
  &:before {
    content: @bs-icon-boats_boat-02;
  }
}
.bs-icon-boats_boat-03 {
  &:before {
    content: @bs-icon-boats_boat-03;
  }
}
.bs-icon-boats_boat-04 {
  &:before {
    content: @bs-icon-boats_boat-04;
  }
}
.bs-icon-boats_boat-05 {
  &:before {
    content: @bs-icon-boats_boat-05;
  }
}
.bs-icon-boats_boat-06 {
  &:before {
    content: @bs-icon-boats_boat-06;
  }
}
.bs-icon-boats_boat-07 {
  &:before {
    content: @bs-icon-boats_boat-07;
  }
}
.bs-icon-boats_boat-08 {
  &:before {
    content: @bs-icon-boats_boat-08;
  }
}
.bs-icon-boats_boat-09 {
  &:before {
    content: @bs-icon-boats_boat-09;
  }
}
.bs-icon-boats_boat-10 {
  &:before {
    content: @bs-icon-boats_boat-10;
  }
}
.bs-icon-boats_boat-11 {
  &:before {
    content: @bs-icon-boats_boat-11;
  }
}
.bs-icon-boats_boat-12 {
  &:before {
    content: @bs-icon-boats_boat-12;
  }
}
.bs-icon-boats_boat-13 {
  &:before {
    content: @bs-icon-boats_boat-13;
  }
}
.bs-icon-boats_boat-14 {
  &:before {
    content: @bs-icon-boats_boat-14;
  }
}
.bs-icon-boats_boat-15 {
  &:before {
    content: @bs-icon-boats_boat-15;
  }
}
.bs-icon-boats_boat-16 {
  &:before {
    content: @bs-icon-boats_boat-16;
  }
}
.bs-icon-boats_boat-17 {
  &:before {
    content: @bs-icon-boats_boat-17;
  }
}
.bs-icon-boats_boat-18 {
  &:before {
    content: @bs-icon-boats_boat-18;
  }
}
.bs-icon-boats_boat-19 {
  &:before {
    content: @bs-icon-boats_boat-19;
  }
}
.bs-icon-boats_boat-20 {
  &:before {
    content: @bs-icon-boats_boat-20;
  }
}
.bs-icon-boats_boat-21-21 {
  &:before {
    content: @bs-icon-boats_boat-21-21;
  }
}
.bs-icon-boats_boat-21-22 {
  &:before {
    content: @bs-icon-boats_boat-21-22;
  }
}
.bs-icon-boats_boat-22 {
  &:before {
    content: @bs-icon-boats_boat-22;
  }
}
.bs-icon-bs-bin {
  &:before {
    content: @bs-icon-bs-bin;
  }
}
.bs-icon-icon-cap-boat {
  &:before {
    content: @bs-icon-icon-cap-boat;
  }
}
.bs-icon-icon-support {
  &:before {
    content: @bs-icon-icon-support;
  }
}
.bs-icon-icon-phone {
  &:before {
    content: @bs-icon-icon-phone;
  }
}
.bs-icon-icon-mail {
  &:before {
    content: @bs-icon-icon-mail;
  }
}
.bs-icon-bs-paper {
  &:before {
    content: @bs-icon-bs-paper;
  }
}
.bs-icon-bs-direct-share {
  &:before {
    content: @bs-icon-bs-direct-share;
  }
}
.bs-icon-bs-mypage {
  &:before {
    content: @bs-icon-bs-mypage;
  }
}
.bs-icon-bs_status {
  &:before {
    content: @bs-icon-bs_status;
  }
}
.bs-icon-bs_billing {
  &:before {
    content: @bs-icon-bs_billing;
  }
}
.bs-icon-bs_credit-card {
  &:before {
    content: @bs-icon-bs_credit-card;
  }
}
.bs-icon-bs_forward {
  &:before {
    content: @bs-icon-bs_forward;
  }
}
.bs-icon-bs_personal {
  &:before {
    content: @bs-icon-bs_personal;
  }
}
.bs-icon-bs_read {
  &:before {
    content: @bs-icon-bs_read;
  }
}
.bs-icon-bs_tell-us {
  &:before {
    content: @bs-icon-bs_tell-us;
  }
}
.bs-icon-bs_unread {
  &:before {
    content: @bs-icon-bs_unread;
  }
}
.bs-icon-bs-04 {
  &:before {
    content: @bs-icon-bs-04;
  }
}
.bs-icon-bs_attachment {
  &:before {
    content: @bs-icon-bs_attachment;
  }
}
.bs-icon-bs_boat-front {
  &:before {
    content: @bs-icon-bs_boat-front;
  }
}
.bs-icon-bs_emoticon .path1 {
  &:before {
    content: @bs-icon-bs_emoticon-path1;  
    color: ;
  }
}
.bs-icon-bs_emoticon .path2 {
  &:before {
    content: @bs-icon-bs_emoticon-path2;  
    margin-left: -1em;  
    color: ;
  }
}
.bs-icon-bs_emoticon .path3 {
  &:before {
    content: @bs-icon-bs_emoticon-path3;  
    margin-left: -1em;  
    color: ;
  }
}
.bs-icon-bs_emoticon .path4 {
  &:before {
    content: @bs-icon-bs_emoticon-path4;  
    margin-left: -1em;  
    color: ;
  }
}
.bs-icon-bs_inbox {
  &:before {
    content: @bs-icon-bs_inbox;
  }
}
.bs-icon-bs_boat-inspections {
  &:before {
    content: @bs-icon-bs_boat-inspections;
  }
}
.bs-icon-bs_mechanical-repair {
  &:before {
    content: @bs-icon-bs_mechanical-repair;
  }
}
.bs-icon-bs_radar {
  &:before {
    content: @bs-icon-bs_radar;
  }
}
.bs-icon-bs_radio-operator {
  &:before {
    content: @bs-icon-bs_radio-operator;
  }
}
.bs-icon-bs_towing {
  &:before {
    content: @bs-icon-bs_towing;
  }
}
.bs-icon-bs_vessel-maintenance {
  &:before {
    content: @bs-icon-bs_vessel-maintenance;
  }
}
.bs-icon-bs_captain_tip {
  &:before {
    content: @bs-icon-bs_captain_tip;
  }
}
.bs-icon-bs_custom {
  &:before {
    content: @bs-icon-bs_custom;
  }
}
.bs-icon-bs_custom_trip {
  &:before {
    content: @bs-icon-bs_custom_trip;
  }
}
.bs-icon-bs_insurance_copy {
  &:before {
    content: @bs-icon-bs_insurance_copy;
  }
}
.bs-icon-bs_licence {
  &:before {
    content: @bs-icon-bs_licence;
  }
}
.bs-icon-bs_my_insurance {
  &:before {
    content: @bs-icon-bs_my_insurance;
  }
}
.bs-icon-bs_security {
  &:before {
    content: @bs-icon-bs_security;
  }
}
.bs-icon-bs_availablility {
  &:before {
    content: @bs-icon-bs_availablility;
  }
}
.bs-icon-bs_dollar-sign {
  &:before {
    content: @bs-icon-bs_dollar-sign;
  }
}
.bs-icon-bs_interrogation {
  &:before {
    content: @bs-icon-bs_interrogation;
  }
}
.bs-icon-bs_mail {
  &:before {
    content: @bs-icon-bs_mail;
  }
}
.bs-icon-bs_next {
  &:before {
    content: @bs-icon-bs_next;
  }
}
.bs-icon-bs_phone {
  &:before {
    content: @bs-icon-bs_phone;
  }
}
.bs-icon-bs_print {
  &:before {
    content: @bs-icon-bs_print;
  }
}
.bs-icon-bs_renter {
  &:before {
    content: @bs-icon-bs_renter;
  }
}
.bs-icon-bs_share {
  &:before {
    content: @bs-icon-bs_share;
  }
}
.bs-icon-bs_success {
  &:before {
    content: @bs-icon-bs_success;
  }
}
.bs-icon-bs_waiting {
  &:before {
    content: @bs-icon-bs_waiting;
  }
}
.bs-icon-bs_account {
  &:before {
    content: @bs-icon-bs_account;
  }
}
.bs-icon-bs_activities {
  &:before {
    content: @bs-icon-bs_activities;
  }
}
.bs-icon-bs_add-boat {
  &:before {
    content: @bs-icon-bs_add-boat;
  }
}
.bs-icon-bs_add-boat-managers {
  &:before {
    content: @bs-icon-bs_add-boat-managers;
  }
}
.bs-icon-bs_add-fav {
  &:before {
    content: @bs-icon-bs_add-fav;
  }
}
.bs-icon-bs_admiral {
  &:before {
    content: @bs-icon-bs_admiral;
  }
}
.bs-icon-bs_angle {
  &:before {
    content: @bs-icon-bs_angle;
  }
}
.bs-icon-bs_arrow {
  &:before {
    content: @bs-icon-bs_arrow;
  }
}
.bs-icon-bs_assign-captains {
  &:before {
    content: @bs-icon-bs_assign-captains;
  }
}
.bs-icon-bs_availability {
  &:before {
    content: @bs-icon-bs_availability;
  }
}
.bs-icon-bs_back {
  &:before {
    content: @bs-icon-bs_back;
  }
}
.bs-icon-bs_basic-insurance {
  &:before {
    content: @bs-icon-bs_basic-insurance;
  }
}
.bs-icon-bs_bath {
  &:before {
    content: @bs-icon-bs_bath;
  }
}
.bs-icon-bs_boat {
  &:before {
    content: @bs-icon-bs_boat;
  }
}
.bs-icon-bs_boat-details {
  &:before {
    content: @bs-icon-bs_boat-details;
  }
}
.bs-icon-bs_boat-managers {
  &:before {
    content: @bs-icon-bs_boat-managers;
  }
}
.bs-icon-bs_boat-profile {
  &:before {
    content: @bs-icon-bs_boat-profile;
  }
}
.bs-icon-bs_cabin-38 {
  &:before {
    content: @bs-icon-bs_cabin-38;
  }
}
.bs-icon-bs_cabin-54 {
  &:before {
    content: @bs-icon-bs_cabin-54;
  }
}
.bs-icon-bs_calendar {
  &:before {
    content: @bs-icon-bs_calendar;
  }
}
.bs-icon-bs_cancelled {
  &:before {
    content: @bs-icon-bs_cancelled;
  }
}
.bs-icon-bs_cancelled-trips {
  &:before {
    content: @bs-icon-bs_cancelled-trips;
  }
}
.bs-icon-bs_captain-request {
  &:before {
    content: @bs-icon-bs_captain-request;
  }
}
.bs-icon-bs_captain-required {
  &:before {
    content: @bs-icon-bs_captain-required;
  }
}
.bs-icon-bs_captains {
  &:before {
    content: @bs-icon-bs_captains;
  }
}
.bs-icon-bs_certificate {
  &:before {
    content: @bs-icon-bs_certificate;
  }
}
.bs-icon-bs_check {
  &:before {
    content: @bs-icon-bs_check;
  }
}
.bs-icon-bs_completed-47 {
  &:before {
    content: @bs-icon-bs_completed-47;
  }
}
.bs-icon-bs_completed-73 {
  &:before {
    content: @bs-icon-bs_completed-73;
  }
}
.bs-icon-bs_cover {
  &:before {
    content: @bs-icon-bs_cover;
  }
}
.bs-icon-bs_dimension {
  &:before {
    content: @bs-icon-bs_dimension;
  }
}
.bs-icon-bs_dining {
  &:before {
    content: @bs-icon-bs_dining;
  }
}
.bs-icon-bs_earning {
  &:before {
    content: @bs-icon-bs_earning;
  }
}
.bs-icon-bs_engines {
  &:before {
    content: @bs-icon-bs_engines;
  }
}
.bs-icon-bs_experience {
  &:before {
    content: @bs-icon-bs_experience;
  }
}
.bs-icon-bs_features-and-extras {
  &:before {
    content: @bs-icon-bs_features-and-extras;
  }
}
.bs-icon-bs_fishing {
  &:before {
    content: @bs-icon-bs_fishing;
  }
}
.bs-icon-bs_front {
  &:before {
    content: @bs-icon-bs_front;
  }
}
.bs-icon-bs_full-day {
  &:before {
    content: @bs-icon-bs_full-day;
  }
}
.bs-icon-bs_gas {
  &:before {
    content: @bs-icon-bs_gas;
  }
}
.bs-icon-bs_general-info {
  &:before {
    content: @bs-icon-bs_general-info;
  }
}
.bs-icon-bs_guests {
  &:before {
    content: @bs-icon-bs_guests;
  }
}
.bs-icon-bs_half-day {
  &:before {
    content: @bs-icon-bs_half-day;
  }
}
.bs-icon-bs_happy-dude {
  &:before {
    content: @bs-icon-bs_happy-dude;
  }
}
.bs-icon-bs_helm {
  &:before {
    content: @bs-icon-bs_helm;
  }
}
.bs-icon-bs_helm1 {
  &:before {
    content: @bs-icon-bs_helm1;
  }
}
.bs-icon-bs_horsepower {
  &:before {
    content: @bs-icon-bs_horsepower;
  }
}
.bs-icon-bs_insurance {
  &:before {
    content: @bs-icon-bs_insurance;
  }
}
.bs-icon-bs_left-arrow {
  &:before {
    content: @bs-icon-bs_left-arrow;
  }
}
.bs-icon-bs_left-side {
  &:before {
    content: @bs-icon-bs_left-side;
  }
}
.bs-icon-bs_location {
  &:before {
    content: @bs-icon-bs_location;
  }
}
.bs-icon-bs_master {
  &:before {
    content: @bs-icon-bs_master;
  }
}
.bs-icon-bs_max-speed-1 {
  &:before {
    content: @bs-icon-bs_max-speed-1;
  }
}
.bs-icon-bs_max-speed-2 {
  &:before {
    content: @bs-icon-bs_max-speed-2;
  }
}
.bs-icon-bs_menu {
  &:before {
    content: @bs-icon-bs_menu;
  }
}
.bs-icon-bs_messages {
  &:before {
    content: @bs-icon-bs_messages;
  }
}
.bs-icon-bs_other-photo {
  &:before {
    content: @bs-icon-bs_other-photo;
  }
}
.bs-icon-bs_passengers {
  &:before {
    content: @bs-icon-bs_passengers;
  }
}
.bs-icon-bs_pending {
  &:before {
    content: @bs-icon-bs_pending;
  }
}
.bs-icon-bs_pics-videos {
  &:before {
    content: @bs-icon-bs_pics-videos;
  }
}
.bs-icon-bs_power {
  &:before {
    content: @bs-icon-bs_power;
  }
}
.bs-icon-bs_premium {
  &:before {
    content: @bs-icon-bs_premium;
  }
}
.bs-icon-bs_pricing {
  &:before {
    content: @bs-icon-bs_pricing;
  }
}
.bs-icon-bs_promote-your-boat {
  &:before {
    content: @bs-icon-bs_promote-your-boat;
  }
}
.bs-icon-bs_propulsion {
  &:before {
    content: @bs-icon-bs_propulsion;
  }
}
.bs-icon-bs_recent-messages {
  &:before {
    content: @bs-icon-bs_recent-messages;
  }
}
.bs-icon-bs_reply {
  &:before {
    content: @bs-icon-bs_reply;
  }
}
.bs-icon-bs_response {
  &:before {
    content: @bs-icon-bs_response;
  }
}
.bs-icon-bs_right-arrow {
  &:before {
    content: @bs-icon-bs_right-arrow;
  }
}
.bs-icon-bs_right-side {
  &:before {
    content: @bs-icon-bs_right-side;
  }
}
.bs-icon-bs_sail {
  &:before {
    content: @bs-icon-bs_sail;
  }
}
.bs-icon-bs_search {
  &:before {
    content: @bs-icon-bs_search;
  }
}
.bs-icon-bs_sightseeing {
  &:before {
    content: @bs-icon-bs_sightseeing;
  }
}
.bs-icon-bs_sleeps {
  &:before {
    content: @bs-icon-bs_sleeps;
  }
}
.bs-icon-bs_smart-pricing {
  &:before {
    content: @bs-icon-bs_smart-pricing;
  }
}
.bs-icon-bs_snorkeling {
  &:before {
    content: @bs-icon-bs_snorkeling;
  }
}
.bs-icon-bs_specifications {
  &:before {
    content: @bs-icon-bs_specifications;
  }
}
.bs-icon-bs_tank-capacity {
  &:before {
    content: @bs-icon-bs_tank-capacity;
  }
}
.bs-icon-bs_time-65 {
  &:before {
    content: @bs-icon-bs_time-65;
  }
}
.bs-icon-bs_time-86 {
  &:before {
    content: @bs-icon-bs_time-86;
  }
}
.bs-icon-bs_trip-request-30 {
  &:before {
    content: @bs-icon-bs_trip-request-30;
  }
}
.bs-icon-bs_trip-request-60 {
  &:before {
    content: @bs-icon-bs_trip-request-60;
  }
}
.bs-icon-bs_trips {
  &:before {
    content: @bs-icon-bs_trips;
  }
}
.bs-icon-bs_up-arrow {
  &:before {
    content: @bs-icon-bs_up-arrow;
  }
}
.bs-icon-bs_upcoming {
  &:before {
    content: @bs-icon-bs_upcoming;
  }
}
.bs-icon-bs_view-messages {
  &:before {
    content: @bs-icon-bs_view-messages;
  }
}
.bs-icon-bs_warning {
  &:before {
    content: @bs-icon-bs_warning;
  }
}
.bs-icon-bs_week {
  &:before {
    content: @bs-icon-bs_week;
  }
}
.bs-icon-bs_without-captain {
  &:before {
    content: @bs-icon-bs_without-captain;
  }
}

