@icomoon-font-path: "fonts";

@bs-icon-BS_amenities: "\ea1e";
@bs-icon-BS_bar: "\ea1f";
@bs-icon-BS_cancellation: "\ea20";
@bs-icon-BS_chef: "\ea21";
@bs-icon-BS_crew: "\ea22";
@bs-icon-BS_dinghy: "\ea23";
@bs-icon-BS_fishing-gear: "\ea24";
@bs-icon-BS_food: "\ea25";
@bs-icon-BS_languages: "\ea26";
@bs-icon-BS_Location: "\ea27";
@bs-icon-BS_policies: "\ea28";
@bs-icon-BS_price: "\ea29";
@bs-icon-BS_speaker: "\ea2a";
@bs-icon-BS_specialty-equipment: "\ea2b";
@bs-icon-BS_toys: "\ea2c";
@bs-icon-BS-more: "\ea2d";
@bs-icon-renter_dashboard_add-to-calendar: "\e980";
@bs-icon-renter_dashboard_booked: "\e981";
@bs-icon-renter_dashboard_clock-1: "\e982";
@bs-icon-renter_dashboard_clock-2: "\e983";
@bs-icon-renter_dashboard_heart-1: "\e984";
@bs-icon-renter_dashboard_heart-2: "\e985";
@bs-icon-members_boat-owner-boy-01: "\e986";
@bs-icon-members_boat-owner-boy-02: "\e987";
@bs-icon-members_boat-owner-girl-01: "\e988";
@bs-icon-members_boat-owner-girl-02: "\e989";
@bs-icon-members_captain-01: "\e98a";
@bs-icon-members_captain-02: "\e98b";
@bs-icon-members_captain-03: "\e98c";
@bs-icon-members_helm-01: "\e98d";
@bs-icon-members_helm-02: "\e98e";
@bs-icon-members_renter-girl-01: "\e98f";
@bs-icon-members_renter-girl-02: "\e990";
@bs-icon-members_renter-guy-01: "\e991";
@bs-icon-members_renter-guy-02: "\e992";
@bs-icon-emotions_angel-girl: "\e993";
@bs-icon-emotions_angel-guy: "\e994";
@bs-icon-emotions_angry-girl: "\e995";
@bs-icon-emotions_angry-guy: "\e996";
@bs-icon-emotions_chinese-girl: "\e997";
@bs-icon-emotions_chinese-guy: "\e998";
@bs-icon-emotions_devil-girl: "\e999";
@bs-icon-emotions_devil-guy: "\e99a";
@bs-icon-emotions_happy-girl-01: "\e99b";
@bs-icon-emotions_happy-girl-02-30: "\e99c";
@bs-icon-emotions_happy-girl-02-37: "\e99d";
@bs-icon-emotions_happy-girl-03: "\e99e";
@bs-icon-emotions_happy-girl-04: "\e99f";
@bs-icon-emotions_happy-girl-05: "\e9a0";
@bs-icon-emotions_happy-girl-06: "\e9a1";
@bs-icon-emotions_happy-girl-07: "\e9a2";
@bs-icon-emotions_happy-girl-08: "\e9a3";
@bs-icon-emotions_happy-guy-01: "\e9a4";
@bs-icon-emotions_happy-guy-02: "\e9a5";
@bs-icon-emotions_happy-guy-03: "\e9a6";
@bs-icon-emotions_happy-guy-04: "\e9a7";
@bs-icon-emotions_happy-guy-05: "\e9a8";
@bs-icon-emotions_happy-guy-06: "\e9a9";
@bs-icon-emotions_happy-guy-07: "\e9aa";
@bs-icon-emotions_happy-guy-08: "\e9ab";
@bs-icon-emotions_happy-guy-09: "\e9ac";
@bs-icon-emotions_hat-girl-01: "\e9ad";
@bs-icon-emotions_hat-girl-02: "\e9ae";
@bs-icon-emotions_hat-guy-01: "\e9af";
@bs-icon-emotions_hat-guy-02: "\e9b0";
@bs-icon-emotions_hat-guy-03: "\e9b1";
@bs-icon-emotions_sad-girl-01: "\e9b2";
@bs-icon-emotions_sad-girl-02: "\e9b3";
@bs-icon-emotions_sad-guy-01: "\e9b4";
@bs-icon-emotions_sad-guy-02: "\e9b5";
@bs-icon-emotions_snorkel: "\e9b6";
@bs-icon-emotions_sorprise-girl--01: "\e9b7";
@bs-icon-emotions_sorprise-girl-02: "\e9b8";
@bs-icon-emotions_sorprise-guy-01: "\e9b9";
@bs-icon-emotions_sorprise-guy-02: "\e9ba";
@bs-icon-emotions_sunglasses--girl-01: "\e9bb";
@bs-icon-emotions_sunglasses-girl-02: "\e9bc";
@bs-icon-emotions_sunglasses-girl-03: "\e9bd";
@bs-icon-emotions_sunglasses-girl-04: "\e9be";
@bs-icon-emotions_sunglasses-girl-05-43: "\e9bf";
@bs-icon-emotions_sunglasses-girl-05-51: "\e9c0";
@bs-icon-emotions_sunglasses-guy-01: "\e9c1";
@bs-icon-emotions_sunglasses-guy-02-16: "\e9c2";
@bs-icon-emotions_sunglasses-guy-02-20: "\e9c3";
@bs-icon-emotions_sunglasses-guy-03: "\e9c4";
@bs-icon-emotions_tongue-girl: "\e9c5";
@bs-icon-emotions_tongue-guy-01: "\e9c6";
@bs-icon-emotions_wink-girl: "\e9c7";
@bs-icon-emotions_wink-guy: "\e9c8";
@bs-icon-commercial_operators_assigns-captains: "\e9c9";
@bs-icon-commercial_operators_availablility: "\e9ca";
@bs-icon-commercial_operators_basic-insurance: "\e9cb";
@bs-icon-commercial_operators_boat-managers: "\e9cc";
@bs-icon-commercial_operators_gas: "\e9cd";
@bs-icon-commercial_operators_insurance: "\e9ce";
@bs-icon-commercial_operators_location: "\e9cf";
@bs-icon-commercial_operators_pics: "\e9d0";
@bs-icon-commercial_operators_premium-insurance: "\e9d1";
@bs-icon-commercial_operators_pricing: "\e9d2";
@bs-icon-commercial_operators_security-depositz: "\e9d3";
@bs-icon-export: "\ea12";
@bs-icon-lifetime-earning: "\ea13";
@bs-icon-month-earning: "\ea14";
@bs-icon-cash-flow: "\ea11";
@bs-icon-captain_dashboard_account-info: "\e9d4";
@bs-icon-captain_dashboard_boat-1: "\e9d5";
@bs-icon-captain_dashboard_boat-2: "\e9d6";
@bs-icon-captain_dashboard_boat-3: "\e9d7";
@bs-icon-captain_dashboard_boat-profile: "\e9d8";
@bs-icon-captain_dashboard_boat-runz: "\e9d9";
@bs-icon-captain_dashboard_captain: "\e9da";
@bs-icon-captain_dashboard_cel: "\e9db";
@bs-icon-captain_dashboard_conversation: "\e9dc";
@bs-icon-captain_dashboard_direct-pay: "\e9dd";
@bs-icon-captain_dashboard_documentation: "\e9de";
@bs-icon-captain_dashboard_form: "\e9df";
@bs-icon-captain_dashboard_half-day: "\e9e0";
@bs-icon-captain_dashboard_location: "\e9e1";
@bs-icon-captain_dashboard_price: "\e9e2";
@bs-icon-captain_dashboard_profil: "\e9e3";
@bs-icon-captain_dashboard_promote: "\e9e4";
@bs-icon-captain_dashboard_search: "\e9e5";
@bs-icon-captain_dashboard_trips: "\e9e6";
@bs-icon-captain_dashboard-20: "\e9e7";
@bs-icon-bucks_lifetime: "\e9e8";
@bs-icon-bucks_month-icon: "\e9e9";
@bs-icon-bucks_redeem: "\e9ea";
@bs-icon-bucks_wallet: "\e9eb";
@bs-icon-bs_messenger_delete: "\e9ec";
@bs-icon-bs_messenger_forward: "\e9ed";
@bs-icon-bs_messenger_read: "\e9ee";
@bs-icon-bs_messenger_unread: "\e9ef";
@bs-icon-account_account: "\e9f0";
@bs-icon-account_billing: "\e9f1";
@bs-icon-account_cloud-01: "\e9f2";
@bs-icon-account_edit-picture: "\e9f3";
@bs-icon-account_info: "\e9f4";
@bs-icon-account_personal-info: "\e9f5";
@bs-icon-account_saved-credit-cards: "\e9f6";
@bs-icon-account_search: "\e9f7";
@bs-icon-account_social: "\e9f8";
@bs-icon-account_tell-us: "\e9f9";
@bs-icon-my_fleet: "\ea15";
@bs-icon-boats_boat-01: "\e9fa";
@bs-icon-boats_boat-02: "\e9fb";
@bs-icon-boats_boat-03: "\e9fc";
@bs-icon-boats_boat-04: "\e9fd";
@bs-icon-boats_boat-05: "\e9fe";
@bs-icon-boats_boat-06: "\e9ff";
@bs-icon-boats_boat-07: "\ea00";
@bs-icon-boats_boat-08: "\ea01";
@bs-icon-boats_boat-09: "\ea02";
@bs-icon-boats_boat-10: "\ea03";
@bs-icon-boats_boat-11: "\ea04";
@bs-icon-boats_boat-12: "\ea05";
@bs-icon-boats_boat-13: "\ea06";
@bs-icon-boats_boat-14: "\ea07";
@bs-icon-boats_boat-15: "\ea08";
@bs-icon-boats_boat-16: "\ea09";
@bs-icon-boats_boat-17: "\ea0a";
@bs-icon-boats_boat-18: "\ea0b";
@bs-icon-boats_boat-19: "\ea0c";
@bs-icon-boats_boat-20: "\ea0d";
@bs-icon-boats_boat-21-21: "\ea0e";
@bs-icon-boats_boat-21-22: "\ea0f";
@bs-icon-boats_boat-22: "\ea10";
@bs-icon-bs-bin: "\ea2e";
@bs-icon-icon-cap-boat: "\ea1d";
@bs-icon-icon-support: "\ea1c";
@bs-icon-icon-phone: "\ea1a";
@bs-icon-icon-mail: "\ea1b";
@bs-icon-bs-paper: "\ea19";
@bs-icon-bs-direct-share: "\ea17";
@bs-icon-bs-mypage: "\ea18";
@bs-icon-bs_status: "\ea16";
@bs-icon-bs_billing: "\e978";
@bs-icon-bs_credit-card: "\e979";
@bs-icon-bs_forward: "\e97a";
@bs-icon-bs_personal: "\e97b";
@bs-icon-bs_read: "\e97c";
@bs-icon-bs_tell-us: "\e97d";
@bs-icon-bs_unread: "\e97e";
@bs-icon-bs-04: "\e97f";
@bs-icon-bs_attachment: "\e971";
@bs-icon-bs_boat-front: "\e972";
@bs-icon-bs_emoticon-path1: "\e973";
@bs-icon-bs_emoticon-path2: "\e974";
@bs-icon-bs_emoticon-path3: "\e975";
@bs-icon-bs_emoticon-path4: "\e976";
@bs-icon-bs_inbox: "\e977";
@bs-icon-bs_boat-inspections: "\e96b";
@bs-icon-bs_mechanical-repair: "\e96c";
@bs-icon-bs_radar: "\e96d";
@bs-icon-bs_radio-operator: "\e96e";
@bs-icon-bs_towing: "\e96f";
@bs-icon-bs_vessel-maintenance: "\e970";
@bs-icon-bs_captain_tip: "\e964";
@bs-icon-bs_custom: "\e965";
@bs-icon-bs_custom_trip: "\e966";
@bs-icon-bs_insurance_copy: "\e967";
@bs-icon-bs_licence: "\e968";
@bs-icon-bs_my_insurance: "\e969";
@bs-icon-bs_security: "\e96a";
@bs-icon-bs_availablility: "\e959";
@bs-icon-bs_dollar-sign: "\e95a";
@bs-icon-bs_interrogation: "\e95b";
@bs-icon-bs_mail: "\e95c";
@bs-icon-bs_next: "\e95d";
@bs-icon-bs_phone: "\e95e";
@bs-icon-bs_print: "\e95f";
@bs-icon-bs_renter: "\e960";
@bs-icon-bs_share: "\e961";
@bs-icon-bs_success: "\e962";
@bs-icon-bs_waiting: "\e963";
@bs-icon-bs_account: "\e900";
@bs-icon-bs_activities: "\e901";
@bs-icon-bs_add-boat: "\e902";
@bs-icon-bs_add-boat-managers: "\e903";
@bs-icon-bs_add-fav: "\e904";
@bs-icon-bs_admiral: "\e905";
@bs-icon-bs_angle: "\e906";
@bs-icon-bs_arrow: "\e907";
@bs-icon-bs_assign-captains: "\e908";
@bs-icon-bs_availability: "\e909";
@bs-icon-bs_back: "\e90a";
@bs-icon-bs_basic-insurance: "\e90b";
@bs-icon-bs_bath: "\e90c";
@bs-icon-bs_boat: "\e90d";
@bs-icon-bs_boat-details: "\e90e";
@bs-icon-bs_boat-managers: "\e90f";
@bs-icon-bs_boat-profile: "\e910";
@bs-icon-bs_cabin-38: "\e911";
@bs-icon-bs_cabin-54: "\e912";
@bs-icon-bs_calendar: "\e913";
@bs-icon-bs_cancelled: "\e914";
@bs-icon-bs_cancelled-trips: "\e915";
@bs-icon-bs_captain-request: "\e916";
@bs-icon-bs_captain-required: "\e917";
@bs-icon-bs_captains: "\e918";
@bs-icon-bs_certificate: "\e919";
@bs-icon-bs_check: "\e91a";
@bs-icon-bs_completed-47: "\e91b";
@bs-icon-bs_completed-73: "\e91c";
@bs-icon-bs_cover: "\e91d";
@bs-icon-bs_dimension: "\e91e";
@bs-icon-bs_dining: "\e91f";
@bs-icon-bs_earning: "\e920";
@bs-icon-bs_engines: "\e921";
@bs-icon-bs_experience: "\e922";
@bs-icon-bs_features-and-extras: "\e923";
@bs-icon-bs_fishing: "\e924";
@bs-icon-bs_front: "\e925";
@bs-icon-bs_full-day: "\e926";
@bs-icon-bs_gas: "\e927";
@bs-icon-bs_general-info: "\e928";
@bs-icon-bs_guests: "\e929";
@bs-icon-bs_half-day: "\e92a";
@bs-icon-bs_happy-dude: "\e92b";
@bs-icon-bs_helm: "\e92c";
@bs-icon-bs_helm1: "\e92d";
@bs-icon-bs_horsepower: "\e92e";
@bs-icon-bs_insurance: "\e92f";
@bs-icon-bs_left-arrow: "\e930";
@bs-icon-bs_left-side: "\e931";
@bs-icon-bs_location: "\e932";
@bs-icon-bs_master: "\e933";
@bs-icon-bs_max-speed-1: "\e934";
@bs-icon-bs_max-speed-2: "\e935";
@bs-icon-bs_menu: "\e936";
@bs-icon-bs_messages: "\e937";
@bs-icon-bs_other-photo: "\e938";
@bs-icon-bs_passengers: "\e939";
@bs-icon-bs_pending: "\e93a";
@bs-icon-bs_pics-videos: "\e93b";
@bs-icon-bs_power: "\e93c";
@bs-icon-bs_premium: "\e93d";
@bs-icon-bs_pricing: "\e93e";
@bs-icon-bs_promote-your-boat: "\e93f";
@bs-icon-bs_propulsion: "\e940";
@bs-icon-bs_recent-messages: "\e941";
@bs-icon-bs_reply: "\e942";
@bs-icon-bs_response: "\e943";
@bs-icon-bs_right-arrow: "\e944";
@bs-icon-bs_right-side: "\e945";
@bs-icon-bs_sail: "\e946";
@bs-icon-bs_search: "\e947";
@bs-icon-bs_sightseeing: "\e948";
@bs-icon-bs_sleeps: "\e949";
@bs-icon-bs_smart-pricing: "\e94a";
@bs-icon-bs_snorkeling: "\e94b";
@bs-icon-bs_specifications: "\e94c";
@bs-icon-bs_tank-capacity: "\e94d";
@bs-icon-bs_time-65: "\e94e";
@bs-icon-bs_time-86: "\e94f";
@bs-icon-bs_trip-request-30: "\e950";
@bs-icon-bs_trip-request-60: "\e951";
@bs-icon-bs_trips: "\e952";
@bs-icon-bs_up-arrow: "\e953";
@bs-icon-bs_upcoming: "\e954";
@bs-icon-bs_view-messages: "\e955";
@bs-icon-bs_warning: "\e956";
@bs-icon-bs_week: "\e957";
@bs-icon-bs_without-captain: "\e958";

