.renter-favorites{
	.fav-header{
		padding-top: 10px;
		margin-bottom: 15px;
		overflow: hidden;
		h2{
			position: relative;
			font-size: 24px;
			color: #333333;
			margin-bottom: 10px;
			width: auto;
			float: none !important;
		}
		i{    
			font-size: 32px;
		    position: absolute;
		    vertical-align: middle;
		    left: 0px;
		    top: 10px;
			}
		p{
			position: relative;
    		padding-left: 50px;
		}
	}
	.fav-container{
		width: 100%;
		position: relative;
		margin: 0; 
		padding: 0; 
		.flip-container {
			perspective: 1000px;
			text-align: center;
			position: absolute;
			height: 380px;
			 width: 250px;
			&.flip .flipper {
				transform: rotateY(180deg);
			}

			.flipper {
				transition: 0.6s;
				transform-style: preserve-3d;
				position: relative;
			}

			.front, .back {
				width: 100%;
				height: 380px;
				backface-visibility: hidden;
				position: absolute;
				top: 0;
				left: 0;
			}
			.front {
				border: 1px solid #cccccc;
				background: white;
				padding: 10px;
				z-index: 2;
				transform: rotateY(0deg);
				text-align: center;
				position: relative;
				.heart{
					position: absolute;
					top: 6px;
					left: 10px;
					font-size: 26px;
					line-height: 18px;
					cursor: pointer;
				}
				.calendar{
					position: absolute;
					top: 6px;
					right: 10px;
					font-size: 26px;
					line-height: 18px;

				}

				figure{
					display: inline-block;
					width: 145px;
					height: 145px;
					overflow: hidden;
					border-radius: 50%;
					margin: 0 0 10px 0;
					img{
						width: 100%;
						height: 100%;
					}
				}

				.fav-info{
					h2{
						font-size: 18px;
						font-weight: 300;
					}
					p{
						font-size:12px;
						color: #363636;
						font-weight: 100;
						i{
							font-size: 18px;
							margin: 0 5px 0 0;
						}
					}
				}

				.fav-plans{

					div{
						float: left;
						width: 48%;
						position: relative;
						height: 35px;
						&:last-child{
							float: right;
						}
						i{
							font-size: 34px;
							position: absolute;
							left: 0;
							top: 0;
							&.bs-icon-captain_dashboard_half-day{
								font-size: 42px;
								top: -5px;
							}
							
						}
						h4{
							font-size: 10px;
							position: absolute;
							left: 40px;
							top: 0;
							text-align: left;
							span{
								display: block;
								font-size: 16px;
							}
						}
					}

				}

				.fav-more, .fav-search{
					position: absolute;
					bottom: 10px;
					display: block;
					background: white;
					padding: 8px 0;
					text-align: center;
					border: 1px solid @orange;
					color: @orange;
					font-size: 16px;
					border-radius: 4px;
					left:50%;
					width: 90%;
					transform: translate(-50%,0);
					cursor: pointer;

					&:hover{
						background: @orange;
						color: white;

					}
				}

				.fav-message{
					position: absolute;
					bottom: 70px;
					display: block;
					background: @blue;
					padding: 8px 0;
					text-align: center;
					border: 1px solid @blue;
					color: white;
					font-size: 16px;
					border-radius: 4px;
					left:50%;
					width: 90%;
					transform: translate(-50%,0);
					cursor: pointer;

					&:hover{
						background: @blue;
					}
					i{
						font-size: 22px;
						color: white;
						position: absolute;
						left: 50px;
						top: 50%;
						transform: translate(0, -45%);
					}
				}
			}

			&.find-boats .front{
				border: 1px dashed #cccccc;
				img{
					margin: 54px 0 40px 0;
				}

				h2{
					font-weight: 300;
				}

				.search-locations{
					position: relative;
					i{
						left: -4px;
						position: absolute;
						top: 2px;
						font-size: 24px;
					}
					input{
						    border-bottom: 1px solid #ccc;
					    right: 5px;
					    width: 90%;
					    position: absolute;
					    font-size: 13px;
					    padding: 3px;
					}
				}

				.fav-search {
					i{
						font-size: 22px;
						color: @orange;
						position: absolute;
						left: 60px;
						top: 50%;
						transform: translate(0, -45%);
					}

					&:hover i{
						color: white;
					}
				}
			}
			.back {
				transform: rotateY(180deg);
				border: 1px solid #cccccc;
				background: white;
				padding: 10px;
				text-align: center;
				.flip-back{
					position: absolute;
					top: 6px;
					left: 10px;
					font-size: 26px;
					line-height: 18px;
					cursor: pointer;
				}

				figure{
					display: inline-block;
					width: 100px;
					height: 100px;
					overflow: hidden;
					border-radius: 50%;
					margin: 0 0 10px 0;
					img{
						width: 100%;
						height: 100%;
					}
				}

				
				.fav-info{
					padding: 40px 0;
					h2{
						font-size: 18px;
						font-weight: 300;
						margin: 0 0 5px 0;
					}
					p{
						font-size:12px;
						color: #363636;
						font-weight: 100;
						i{
							font-size: 18px;
							margin: 0 5px 0 0;
						}

					}
					
				}

				.cap-back{
					padding: 10px 0;

				}

				.fav-cta{
					ul{
						list-style: none;
						padding: 0;
						li{
							color: @blue;
							cursor: pointer;
							font-size: 16px;
							margin-bottom: 15px;
							i{
								font-size:24px;
								margin: 0 10px 0 0;
							}
						}
					}
				}

				.fav-achievements{
					margin: 0 0 ;
					div{
						width: 50%;
						float: left;
						text-align: center;
						&:first-child{
							border-right: 1px solid @gray;
						}
						i{
							font-size: 22px;
							margin: 0 0 3px 0;
							display: block;
						}
						h3{
							font-size: 11px;
							color: @blue;
							margin: 0 0 5px;
						}
						p{
							font-size: 20px;

						}
					}

				}

				.fav-contact{
					position: absolute;
					bottom: 10px;
					display: block;
					width: 91%;
					span{
						float: left;
						width: 48%;
						border: 1px solid @orange;
						padding: 10px;
						color: @orange;
						font-size: 14px;
						text-align: center;
						position: relative;
						border-radius: 3px;
						cursor: pointer;
						i{
							font-size: 22px;
							color: @orange;
							margin: 0 5px 0 0;
						}
						&:last-child{
							float: right;
						}
						&:hover{
							background: @orange;
							color: white;
							i{
								color: white;
							}
						}
					}

				}

				.fav-plan-trip{
					position: absolute;
					bottom: 10px;
					display: block;
					background: @orange;
					padding: 8px 0;
					text-align: center;
					border: 1px solid @orange;
					color: white;
					font-size: 16px;
					border-radius: 4px;
					cursor: pointer;
					left:50%;
					width: 90%;
					transform: translate(-50%,0);
				}
			}
		}
	}
}

.fav-tooltip div{
	display: none;
}

.fav-tooltip:hover div{
	display: block;
    background: #fbfbfb;
    border-radius: 2px;
    top: 35px;
    color: #0072a0;
    right: 0;
    padding: 10px;
    position: absolute;
    z-index: 98;
    width: 135px;
    font-size: 14px;
    text-align: left;
    border: 1px solid #ccc;
	h3{
		color: @blue;
		font-size: 14px;
		margin: 0 0 5px 0;
	}
	p{
	   font-size: 12px;
	   margin: 0;
	}
}

.fav-tooltip:hover div:before{
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    right: 9px;
    width: 10px;
    height: 10px;
    background: #fbfbfb;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(-45deg);
}

.tooltip-heart{
	display: block;
	background: #fbfbfb;
	border-radius: 2px;
	top: 50px;
	color: #0072a0;
	left: 20px;
	padding: 10px;
	position: absolute;
	z-index: 98;
	width: 80%;
	font-size: 14px;
	text-align: center;
	border: 1px solid #ccc;
	h3{
		color: @blue;
		font-size: 14px;
		margin: 0 0 20px 0;
		line-height: 20px;
	}
	span{
	   display: inline-block;
	   border: 1px solid #ccc;
	   padding: 5px;
	   width: 40px;
	   margin: 0 10px;
	   border-radius: 2px;
	   cursor: pointer;
	   &:hover{
	   	background: @orange;
	   	border: 1px solid @orange;
	   	color: white;
	   }
	}
}

.fav-navigation{
	margin: 20px 0;
	width: 100%;
	text-align: center;
	ul{
		display: block;
		li{
			display: inline-block;
			margin: 0;																
			a{
				position: relative;
				margin: 0;
				float: left;
				padding: 6px 12px;
				line-height: 20px;
				text-decoration: none;																																													
				color: #0072a0;
				background-color: #fff;
				border: 1px solid #ccc;
				margin-left: -5px;
				cursor: default;
				 outline: 0;
			}
			
			&:hover a{
				background: #f2f5f6;
				
			}
			&.active a{
				background: @blue;
				color: white;
			}
			&:first-child a{
				border-radius: 3px 0 0 3px;
			}
			&:last-child a{
				border-radius: 0 3px 3px 0;
			}
		}
	}
	

}


