.wrapper-renter-dashboard {
    @yellow: #fe9700;
    .tab-pane {
        padding-right: 0 !important;
    }
    .section-trips {
        margin-bottom: 30px;
    }
    .wrapper-trip {
        padding-left: 15px;
        .dashboard-section,
        .dashboard-section-header {
            margin-bottom: 0;
        }
        .bs-trip {
            border-bottom: 1px solid @gray;
            padding-bottom: 30px;
            padding-top: 30px;
        }
        .trip-header {
            position: relative;
            h2 {
                line-height: 1.2;
                margin-bottom: 0;
                font-size: 18px;
                cursor: pointer;
                @media screen and (max-width: @screen-sm) {
                    padding-left: 22px;
                    .trip-state {
                        display: block;
                    }
                }
                @media screen and (max-width: 510px) {
                    font-size: 15px;
                }
            }
            .trip-state {
                top: 3px;
            }
            .price {
                position: absolute;
                top: 0;
                right: 15px;
                min-width: 150px;
                line-height: 1;
                i {
                    position: relative;
                    top: -3px;
                    font-size: 26px;
                }
            }
            &.active {
                .trip-state {
                    .rotate(90deg);
                }
            }
            @media screen and (max-width: 560px) {
                a {
                    display: block;
                }
                span {
                    display: none;
                    &.price {
                        display: block;
                        font-size: 20px;
                        min-width: 100px;
                        i {
                            font-size: 24px;
                        }
                    }
                }
                .trip-state {
                    top: 5px;
                }
            }
        }
        .properties {
            margin-left: 0 !important;
            i {
                font-size: 25px !important;
                position: relative;
                top: -2px;
                @media screen and (max-width: @screen-sm) {
                    display: inline-block !important;
                }
            }
        }
        // body
        .wrapper-data {
            .data {
                position: relative;
                padding-top: 8px;
                padding-bottom: 8px;
                img {
                    border: 2px solid @gray;
                    width: 70px;
                    position: absolute;
                    left: 15px;
                    top: 0;
                }
                .wrapper-text {
                    position: relative;
                    padding-left: 85px;
                    display: block;
                    span {
                        display: block;
                        margin: 0;
                        font-size: 12px;
                        &.name {
                            font-size: 14px;
                        }
                    }
                }
                &:last-child {
                    img {
                        left: 15px;
                    }
                    .wrapper-text {
                        @media screen and (max-width: @screen-md) {
                            padding-left: 75px;
                        }
                    }
                    &:before {
                        width: 1px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: -15px;
                        content: " ";
                        background-color: @gray;
                        @media screen and (max-width: @screen-md) {
                            left: -5px;
                        }
                        @media screen and (max-width: 599px) {
                            width: 0;
                        }
                    }
                    @media screen and (max-width: 599px) {
                        margin-top: 30px;
                    }
                }
                @media screen and (max-width: @screen-md) {
                    .wrapper-text {
                        padding-left: 75px;
                    }
                    // &:last-child{
                    // 	padding-left: 
                    // }
                }
            }
            .deploy {
                padding-right: 10px;
                font-size: 12px;
                overflow: hidden;
                max-height: 0;
                position: relative;
                top: 30px;
                .transitionProp(max-height, 0.5s, ease-out);
                >div {
                    margin-bottom: 10px;
                }
                a {
                    line-height: 1.4;
                }
                i {
                    font-size: 24px;
                    position: relative;
                    top: 0px;
                    margin-right: 5px;
                }
                &.active {
                    padding-top: 30px;
                    max-height: 600px;
                }
                @media screen and (min-width: @screen-lg) {
                    font-size: 14px;
                }
                @media screen and (max-width: @screen-md) {
                    font-size: 14px;
                }
            }
        }
        .wrapper-body.active {
            .deploy {
                max-height: 500px;
            }
        }
        .trip-footer {
            margin-top: 40px;
            position: relative;
            .wrapper-btn {
                padding-right: 0;
                .btn {
                    width: 145px;
                    padding: 7px 0;
                    margin-right: 10px;
                    font-size: 14px;
                    .transition(0s);
                    .transitionProp(background-color, 0.3s, ease-out);
                    &:last-child {
                        margin-right: 0;
                    }
                    @media screen and (max-width: @screen-md) {
                        width: 115px;
                        margin-right: 5px;
                        font-size: 12px;
                    }
                }
            }
            .open-bs-messenger {
                right: inherit;
                left: 15px;
                top: 7px;
                @media screen and (max-width: 599px) {
                    position: relative;
                    left: 0;
                    display: inline-block;
                    margin-bottom: 30px;
                    top: 0;
                }
            }
        }
        .two-columns {
            @media screen and (min-width: 600px) {
                width: 50% !important;
            }
        }
    }
    .wrapper-trip.pending {
        .properties {
            max-width: 450px;
        }
        .wrapper-status {
            position: absolute;
            padding-right: 0;
            top: 0;
            right: 15px;
            min-width: 320px;
            .status {
                position: relative;
                span {
                    position: absolute;
                    top: 0;
                    display: block;
                }
                .wrapper-dot {
                    width: 16px;
                    height: 16px;
                    top: 3px;
                    z-index: 10;
                    background-color: #ffffff;
                    right: 0;
                    span {
                        width: 10px;
                        height: 10px;
                        background-color: #f4f4f4;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        border-radius: 50%;
                        top: 3px;
                    }
                    &.red {
                        span {
                            background-color: @red;
                        }
                    }
                    &.yellow {
                        span {
                            background-color: @yellow;
                        }
                    }
                    &.green {
                        span {
                            background-color: @green;
                        }
                    }
                    &:first-child {
                        left: 0;
                        right: inherit;
                    }
                    &:nth-child(2) {
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                    }
                    &:last-of-type {
                        right: 0;
                    }
                }
                .line {
                    width: 100%;
                    height: 1px;
                    z-index: 5;
                    right: 0;
                    top: 10px;
                    background-color: @gray;
                }
            }
            p {
                margin: 40px 0 20px;
                i {
                    font-size: 25px;
                    margin-right: 5px;
                    position: relative;
                    top: -2px;
                }
            }
            @media screen and (max-width: @screen-md) {
                position: relative;
                right: 0;
                width: 96%;
                min-width: 200px;
                text-align: left;
                max-width: 370px;
                margin-top: 20px;
            }
        }
        .price {
            position: relative;
            right: 0;
            i {
                font-size: 35px;
            }
        }
        .wrapper-data {
            padding: 0;
        }
    }
    .wrapper-trip.completed {
        .trip-footer {
            .wrapper-btn {
                padding-right: 15px;
                .btn-primary {
                    font-weight: 600;
                    color: @white;
                    background-color: @yellow;
                    &:hover {
                        background-color: transparent;
                        color: @yellow;
                    }
                }
                @media screen and (max-width: 600px) {
                    text-align: left;
                }
                @media screen and (max-width: 420px) {
                    .btn {
                        display: block;
                        width: 100%;
                        max-width: 300px;
                        margin: 0 auto 10px;
                        font-size: 14px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .cancelled-trips {
            margin-top: 80px;
            @media screen and (max-width: @screen-sm) {
                margin-top: 50px;
            }
        }
    }
}

.dashboard-sidebar.renter {
    .btn-edit {
        a {
            color: #707070 !important;
            font-size: 13px;
        }
    }
}
