.section-wishlist-search {


	.user-profile .img-wrapper {
		border: 0;
	}

	.user-name {
		font-weight: normal;
	}

	.btn-view {
		padding: 3px 20px;
		font-size: 14px;
		height: 33px;
	}

	.round-btn {
		background-color: @gray;
		.round-btn--link {
			font-size: 40px;
	    	position: absolute;
	   		top: 50%;
	    	left: 50%;
	    	transform: translate(-50%, -50%);
	    	color: @gray-darker;
	    	&:hover {
	    		color: @gray-dark;
	    	}
		}
	}

	.btn-disabled {
		background-color: @btn-disabled-bg;
		color: @btn-disabled-color;
	}

	.row.boat:last-of-type {
		padding-bottom: 30px;
	}

}

.section-wishlist-manage {
	.img-wrapper {
		border: 0;
	}

	.user-name {
		font-weight: normal;
	}
}

.section-wishlist-compare {
	.intro-text {
		padding-left: 15px;
	}
	.compare-wrapper {
		padding: 0 15px 0 5px;
		margin-right: -25px;
	}
	.action {
		padding-right: 15px;
	}
	.trip-compare {
		height: 525px;
		min-width: 300px;
		padding: 10px 10px 10px 10px;
		max-width: 310px;
		.trip-info {
			border: 1px solid @gray;
			height: 100%;
			.trip-info--header {
				height: 45px;
				padding: 0 20px;
				label {
					margin-bottom: 0;
				}
				.removetag {
					padding: 12.5px 0 0 0;
					font-weight: normal;
					cursor: pointer;
				}
				.checkbox {
	    		    margin-top: 12.5px;
				    margin-bottom: 1px;
				}
				input[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
				    padding-right: 30px;
				    padding-left: 0px;
				}
				input[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
				    left: 100%;
    				transform: translateX(-17px);
				}
				input[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
				    font-size: 1.5rem;
				    left: 100%;
				    top: 4.5px;
    				transform: translateX(-16.5px);
				}
			}
			.trip-info--pictures {
				height: 180px;
				position: relative;
				.picture-boat-wrapper {
					height: 100%;
					width: 100%;
					overflow: hidden;
					position: relative;
					.picture-boat {
						position: absolute;
						top:50%;
						left:50%;
						transform: translate(-50%, -50%);
					}
				}
				.picture-captain {
					position: absolute;
					top: 100%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 75px;
					height: auto;
					border-radius: 50%;
				}
			}
			.trip-info--text {
				padding: 65px 20px 10px 20px;
				height: 190px;
				text-align: center;
				h2 {
					margin-bottom: 10px;
				}
				div {
					padding-left: 0;
					padding-right: 0;
					i {
						font-size: 40px;
					}
					.label1 {
						font-size: 12px;
						margin: 0;
					}
					.label2 {
						font-size: 14px;
						margin: 0;
					}
				}
				.no-padding {
					padding: 0;
					font-weight: normal;
				}
				.left {
					text-align: left;
					float: left;
				}
				.right {
					text-align: right;
					float: right;
				}
			}
			.trip-info--btn {
				height: 60px;
				padding: 15px 20px;
				.btn {
					height: 50px;
					padding: 12px;
					display: block;
					font-size: 18px;
				}
			}
		}
	}

}

.trip-comparison__trip {
	div {
		padding: 10px ~"calc((100% - 250px) /2)";
	}

	.boat-photo img {
		object-fit: cover;
	}

	.captain {
		display: flex;
		justify-content: space-between;
		padding-top: 15px; 
		padding-bottom: 15px;
		.img-wrapper {
			height: 75px;
			width: 75px;
			display: inline-block;
			position: relative;
			object-fit: cover;
			margin:  0 auto 0 0;
		}

		.details {
			margin: 0 20px 0 0;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			p {
				margin-bottom: 0;
				i {
					position: absolute;
					left: -30px;
					top: 15px;
				}
			}
		}
	}
}

.refundable-deposit {
	font-size: 12px;
	padding: 5px 10px;
	border: 1px solid @blue;
	border-radius: 4px;

	span {
		vertical-align: middle;
		line-height: 25px;
	}
}