/* line 1, media.less */
.media {
  margin-top: 15px;
}
/* line 5, media.less */
.media:first-child {
  margin-top: 0;
}
/* line 10, media.less */
.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}
/* line 16, media.less */
.media-body {
  width: 10000px;
}
/* line 20, media.less */
.media-object {
  display: block;
}
/* line 24, media.less */
.media-right,
.media > .pull-right {
  padding-left: 10px;
}
/* line 29, media.less */
.media-left,
.media > .pull-left {
  padding-right: 10px;
}
/* line 34, media.less */
.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}
/* line 41, media.less */
.media-middle {
  vertical-align: middle;
}
/* line 45, media.less */
.media-bottom {
  vertical-align: bottom;
}
/* line 50, media.less */
.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
/* line 58, media.less */
.media-list {
  padding-left: 0;
  list-style: none;
}
/*# sourceMappingURL=media.css.map */