/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  /* line 9, print.less */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  /* line 18, print.less */
  a,
  a:visited {
    text-decoration: underline;
  }
  /* line 23, print.less */
  a[href]:after {
    content: " (" attr(href) ")";
  }
  /* line 27, print.less */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /* line 33, print.less */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  /* line 38, print.less */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /* line 44, print.less */
  thead {
    display: table-header-group;
  }
  /* line 48, print.less */
  tr,
  img {
    page-break-inside: avoid;
  }
  /* line 53, print.less */
  img {
    max-width: 100% !important;
  }
  /* line 57, print.less */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  /* line 64, print.less */
  h2,
  h3 {
    page-break-after: avoid;
  }
  /* line 73, print.less */
  select {
    background: #fff !important;
  }
  /* line 78, print.less */
  .navbar {
    display: none;
  }
  /* line 83, print.less */
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  /* line 87, print.less */
  .label {
    border: 1px solid #000;
  }
  /* line 91, print.less */
  .table {
    border-collapse: collapse !important;
  }
  /* line 94, print.less */
  .table td,
  .table th {
    background-color: #fff !important;
  }
  /* line 100, print.less */
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
/*# sourceMappingURL=print.css.map */