/* line 5, responsive-embed.less */
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
/* line 12, responsive-embed.less */
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
/* line 27, responsive-embed.less */
.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
/* line 32, responsive-embed.less */
.embed-responsive.embed-responsive-4by3 {
  padding-bottom: 75%;
}
/*# sourceMappingURL=responsive-embed.css.map */