// List Icons
// -------------------------

.@{fa-css-prefix}-ul { 
	padding-left: 0;
	list-style: none;

	> li { 
		position: relative;

		+ li { margin-top: 10px;}
	}
}

.@{fa-css-prefix}-li { 
	position: relative;
	text-align: center;

//	&.@{fa-css-prefix}-lg { 
//		left: ( -@fa-li-width + ( 4em / 14 ) );
//	}
}