/* line 1, section-2.less */
.inv-section-2 {
  color: #373737;
  display: table-row;
}
/* line 5, section-2.less */
.inv-section-2 .logo-sec div {
  float: left;
  padding: 0 60px;
}
/* line 9, section-2.less */
.inv-section-2 .logo-sec h3 {
  clear: both;
  margin-bottom: 0px;
  font-size: 360%;
  font-weight: 600;
}
/* line 16, section-2.less */
.inv-section-2 .section-info-circle {
  padding: 15px 10%;
  text-align: center;
}
/* line 19, section-2.less */
.inv-section-2 .section-info-circle img {
  width: 80%;
}
/* line 22, section-2.less */
.inv-section-2 .section-info-circle .search-info,
.inv-section-2 .section-info-circle .connect-info,
.inv-section-2 .section-info-circle .setsail-info {
  padding: 10px 20px;
}
/* line 24, section-2.less */
.inv-section-2 .section-info-circle .search-info h4,
.inv-section-2 .section-info-circle .connect-info h4,
.inv-section-2 .section-info-circle .setsail-info h4 {
  font-size: 200%;
}
/* line 28, section-2.less */
.inv-section-2 .section-info-circle .connect-info {
  margin-top: -10%;
}
/*# sourceMappingURL=section-2.css.map */