/* line 1, section-1.less */
.inv-section-1 {
  background-image: url('images/investors/bg_1.jpg');
  width: 100%;
  min-height: 500px;
  background-size: cover;
  color: #fff;
  position: relative;
  padding-bottom: 100px;
  background-attachment: fixed;
}
/* line 10, section-1.less */
.inv-section-1 h3 {
  color: #FFF;
  font-size: 320%;
  margin-left: 10px;
  line-height: 1;
  font-weight: 600;
}
@media (max-width: 1040px) {
  /* line 16, section-1.less */
  .inv-section-1 h3 {
    font-size: 240%;
  }
}
@media (max-width: 520px) {
  /* line 19, section-1.less */
  .inv-section-1 h3 {
    font-size: 175%;
  }
}
/* line 23, section-1.less */
.inv-section-1 h4 {
  color: #FFF;
  float: left;
  font-size: 220%;
  margin-left: 10px;
}
@media (max-width: 1040px) {
  /* line 28, section-1.less */
  .inv-section-1 h4 {
    font-size: 135%;
  }
}
@media (max-width: 1040px) {
  /* line 31, section-1.less */
  .inv-section-1 h4 {
    font-size: 120%;
  }
}
/* line 35, section-1.less */
.inv-section-1 .logo-sec {
  margin-left: 50px;
  margin-top: 50px;
}
/* line 38, section-1.less */
.inv-section-1 .logo-sec span {
  float: left;
  font-size: 230%;
}
/* line 43, section-1.less */
.inv-section-1 .desc-sec {
  clear: both;
  text-align: right;
  width: 40%;
  padding-left: 100px;
  margin-top: 10%;
}
/* line 49, section-1.less */
.inv-section-1 .desc-sec h4 {
  margin-top: 5px;
}
/* line 52, section-1.less */
.inv-section-1 .desc-sec .inv-login {
  float: right;
  border: solid 1px #000;
  padding: 5px 10px;
  text-align: center;
  width: 160px;
}
@media (max-width: 1040px) {
  /* line 58, section-1.less */
  .inv-section-1 .desc-sec .inv-login {
    width: 116px;
  }
}
@media (max-width: 660px) {
  /* line 61, section-1.less */
  .inv-section-1 .desc-sec .inv-login {
    width: 155px;
  }
}
/* line 65, section-1.less */
.inv-section-1 .desc-sec .inv-log-right {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 73, section-1.less */
.inv-section-1 .desc-sec .inv-log-left {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 81, section-1.less */
.inv-section-1 .desc-sec .btn {
  background-color: #fa9600;
  margin: 0 auto;
  margin-top: -25px;
  width: 80px;
  padding: 2px;
}
@media (max-width: 1058px) {
  /* line 88, section-1.less */
  .inv-section-1 .desc-sec {
    width: 50%;
  }
}
@media (max-width: 800px) {
  /* line 91, section-1.less */
  .inv-section-1 .desc-sec {
    width: 65%;
  }
}
@media (max-width: 660px) {
  /* line 94, section-1.less */
  .inv-section-1 .desc-sec {
    width: 100%;
    padding-left: 40px;
  }
}
@media (max-width: 390px) {
  /* line 98, section-1.less */
  .inv-section-1 .desc-sec {
    padding-left: 20px;
    padding-right: 10px;
  }
}
/* line 103, section-1.less */
.inv-section-1 .arrw-down {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 20px;
}
/* line 108, section-1.less */
.inv-section-1 .arrw-down i {
  color: #fff;
  font-size: 250%;
}
/*# sourceMappingURL=section-1.css.map */