/* line 1, section-3.less */
.inv-section-3 {
  background-image: url('images/investors/bg_2.jpg');
  width: 100%;
  min-height: 600px;
  background-size: cover;
  color: #fff;
  position: relative;
  padding-bottom: 100px;
  background-attachment: fixed;
  padding-top: 1px;
}
/* line 12, section-3.less */
.inv-section-3 .logo-sec div {
  float: left;
  padding: 0 60px;
}
/* line 16, section-3.less */
.inv-section-3 .logo-sec h3 {
  clear: both;
  margin-bottom: 0px;
  font-size: 420%;
  font-weight: 600;
}
/* line 23, section-3.less */
.inv-section-3 .center-video {
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  text-align: right;
}
/* line 28, section-3.less */
.inv-section-3 .center-video h3 {
  font-size: 440%;
  margin: 0;
}
@media (max-width: 508px) {
  /* line 31, section-3.less */
  .inv-section-3 .center-video h3 {
    font-size: 350%;
  }
}
@media (max-width: 420px) {
  /* line 34, section-3.less */
  .inv-section-3 .center-video h3 {
    font-size: 235%;
  }
}
/* line 38, section-3.less */
.inv-section-3 .center-video .embed-container {
  border: solid 20px rgba(172, 172, 175, 0.19);
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-top: 20px;
}
@media (max-width: 420px) {
  /* line 46, section-3.less */
  .inv-section-3 .center-video .embed-container {
    border: solid 4px rgba(172, 172, 175, 0.19);
  }
}
/* line 50, section-3.less */
.inv-section-3 .center-video .embed-container iframe,
.inv-section-3 .center-video .embed-container object,
.inv-section-3 .center-video .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 57, section-3.less */
.inv-section-3 .center-video .embed-1 {
  margin-top: 50px;
}
@media (max-width: 580px) {
  /* line 60, section-3.less */
  .inv-section-3 .center-video {
    width: 75%;
  }
}
@media (max-width: 508px) {
  /* line 63, section-3.less */
  .inv-section-3 .center-video {
    width: 100%;
    clear: both;
    padding-right: 75px;
    padding-left: 50px;
  }
}
/*# sourceMappingURL=section-3.css.map */