.trip-details-progress-bar{
	height: auto;
	padding: 0 0 30px 0;
	ul{
		list-style: none;
		width: 100%;
		&.status-bar{
		position: relative;
		padding: 0;
		height: 40px;
		margin: 0 0 40px 0;
			&:after{
				position: absolute;
				content: '';
				height: 1px;
				width: 90%;
				background: @gray;
				top: 50%;

				left: 5%;
				z-index: 10;
			}
			li{
				position: absolute;
				height: 34px;
				width: 34px;
				background: white;
				z-index: 20;
				left: 50%;
				top: 50%;
				text-align: center;
				transform: translate(-50%, -50%);
				&:first-child{
					left: 10px;
					transform: translate(0, -50%);
				}
				&:last-child{
					left: auto;
					right: 10px;
					transform: translate(0, -50%);
				}
				i{
					display: block;
					border-radius: 50%;
					width: 30px;
					height: 30px;
					position: absolute;
					left: 50%;
					font-size: 20px;
					line-height: 26px;
					top: 50%;
					color: white;
					z-index: 20;
					transform: translate(-50%, -50%);
					&.confirmed{
						background: @green-confirmed;
					}
					&.not-confirmed{
						background: @orange;
					}

					&.cancelled{
						background: @red;
					}
					
				}
				&:nth-child(2) i{
					font-size: 24px;
				}
			}
		}
		&.status-messages{
			text-align: center;
			li{
				font-size: 18px;
				display: inline-block;
				margin: 0 20px 0 0;
				font-weight: 400;
				position: relative;

				padding: 0 0 0 35px;

				i{
					font-size: 30px;
					margin: 0 10px 0 0;
					line-height: 10px;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translate(0,-50%);

				}
				&.status-waiting{
					color: @orange;
				}
				&.status-confirmed{
					color: @green-confirmed;
				}
				&.status-cancelled{
					color: @red;
				}
			}
			@media screen and (max-width: @screen-sm) {
				text-align: center;
				li{
					font-size: 18px;
					padding: 0;

					i{
						font-size: 24px;
						margin: 0 10px 0 0;
						position: relative;
					
					}
					
				}

			}

		}
		
	}
	
}