.modal-background{
	background: rgba(0,0,0,0.7);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1800;
	display: none;
}
.modal-cancel-trip{
	display: none;
	position: absolute;
	background: white;
	width: 90%;
	max-width: 600px;
	border-radius: 5px;
	padding: 30px;
	text-align: center;
	left: 50%;
	top: 20%;
	z-index: 2000;
	transform: translate(-50%, 0);
	h2{
		color: @blue;
		font-size: 20px;
		margin: 0 0 40px 0;

	}
	p {
		text-align: left;
		line-height: 30px;
		span{
			color: @blue;
			font-weight: 400;
		}
	}

}

.modal-captain-profile{
	display: none;
	position: absolute;
	background: white;
	width: 90%;
	max-width: 700px;
	border-radius: 5px;
	padding: 20px 30px;
	text-align: center;
	left: 50%;
	top: 20%;
	z-index: 2000;
	transform: translate(-50%, 0);
	.profile-picture{
		position: relative;
		height: 90px;
		margin: 0 0 20px 0;
		figure{
			width: 80px;
			height: 80px;
			overflow: hidden;
			position: absolute;
			left: 5px;
			top: 50%;
			transform: translate(0,-50%);
			border-radius: 50%;
			img{
				width: 100%;
			}
		}
		.profile-items{
			margin: 10px 0 0 0;
			position: absolute;
			top: 50%;
			left: 100px;
			transform: translate(0, -50%);
			h3{
				font-size: 18px;
				margin: 0 0 5px 0;
			}
			p{
				font-size: 14px;
				margin: 0
			}
			a{
				font-size: 14px;
				margin: 0;
			}
		}
		@media screen and (max-width: @screen-sm) {
			height:160px;
			margin:0 0 5px 0;
			figure{
				left: 50%;
				top: 0;
				transform: translate(-50%,0);
				
			}
			.profile-items{
				left: 50%;
				top: 90px;
				transform: translate(-50%,0);
			}
		}

	}

	ul.profile-ul{
		list-style: none;
		text-align: right;
		display: inline-block;
		padding: 20px 0 0 0;
		
		li{
			text-align: center;
			line-height: 15px;
			font-size: 12px;
			float: left;
			color: @gray;
			margin:0 10px 10px 0;
			&:last-child{
				margin: 0;
			}
			i{
				font-size: 20px;
				margin: 0 0 0 20px;
				display: block;
				width: 100%;
				margin: 0 auto 5px auto;
			}
			span{
				display: block;
				color: @gray-darker;
				
				margin: 0 auto;
			}
		}
	}

	.modal-captain-profile-about{
		margin: 10px 0;
		p{
			text-align: left;
			font-size: 12px;
			line-height: 18px;
		}
	}
	.modal-captain-profile-skills{
		ul{
			list-style: none;
		   	text-align: left;
		  	display: inline-block;
		  	padding: 10px 0 0 0;
		  	width: 100%;
			li{
				font-size: 12px;
				float: left;
				margin:0 15px 10px 0;
				&:last-child{
					margin:0 0 10px 0;
				}
				i{
					margin: 0 5px 0 0;
					color: black;
				}
			}
		}
		span{
			display: inline-block;
			font-size: 12px;
			cursor: pointer;
			
			margin: 0 10px 10px 0;
			padding: 8px 0;
			width: 46%;
			max-width: 100px;
			border: 1px solid @blue;
			background: white;
			border-radius: 4px;
			color: @blue;
			&:last-child{
				margin: 0;
			}
			&.select{
				color: white;
				background: @orange;
				border: 1px solid @orange;
			}
		}
		@media screen and (max-width: @screen-sm) {
			>div{
				text-align: center;
			}
			ul{
				width: auto;
			}


		}

	}
}

 .modal-cancel-trip span.close-modal, .modal-captain-profile span.close-modal {
 	position: absolute;
		top: 2%;
		right: 2%;
		width: 30px;
		height: 30px;
		cursor: pointer;
		z-index: 1000;
		&:before,&:after{
		    content:'';
		    position:absolute;
		    width:26px;
		    height:1px;
		    background:@gray-darker;
		    top:16px;
		}
		&:before{
		    transform:rotate(45deg);
		    left:2px;
		}
		&:after{
		    transform:rotate(-45deg);
		    right:2px;
		}
 }












