
.trip-details-sidebar{
	padding: 30px 0;
	top: 0;
	background: white;
	.sidebar-content{
		margin: 0 auto;
	    width: 100%;
        max-width: 320px;
        width: 90%;
        padding: 20px 0;
	    header{
	    	text-align: center;
	    	img{
	    		width: 30px;
	    		margin: 0 0 15px 0;
	    	}
	    	h2{
	    		font-size: 20px;
	    		font-weight: 300;
	    	}
	    }
	    h3{
			font-size: 18px;
			font-weight: 300;
			margin: 0 0 20px 0;
			i{
				font-size: 22px;
				margin: 0 8px 0 0;
			}
			a{
				font-size: 14px;
				color: @gray-dark
			}
		}
		.divTable{
			display: table;
			margin: 0;
			padding: 0;
			width: 100%;
			margin: 0 0 20px 0;
		}
		.divRow{
			display: table-row;
			margin: 0;
			padding: 0;
		}
		.divCell{
			padding: 6px 0;
			display: table-cell;
			font-size: 12px;
			font-weight: 300;
			width: 40%;
			&:nth-child(even){
				text-align: right;
				width: 60%;
			}
			&.divCellTh{
				font-weight: 600;
			}
			&.divCellTf{
				font-weight: 600;
				font-size: 15px;
			}
		}
		.table-divider{
			border-bottom: 1px solid @gray-light-border;
			display: table-cell;
			margin: 0;
			padding: 0;
		}


	}
	@media screen and (max-width: @screen-md) {
	 	position:absolute;
	 	width:100%;
	 	padding:0 0 100px 0; 
	 	z-index: 1900;
	 	height:100%;
	 	display:none;
	 	.sidebar-content{
	 		
	 	}
	}

			
}

.sidebar-location{
	padding: 0 0 10px 0;
	margin: 0 0 20px 0;
	border-bottom: 1px solid @gray-light-border;
	figure{
		width: 100%;
		height: 200px;
		overflow: hidden;
		margin: 0 0 20px 0;
		img{
    		width: 100%;
    	}
	}
	
	p{
		font-size: 14px;
		font-weight: 300;
		margin: 0 0 2px 0;
		line-height: 22px;
	}
}

.sidebar-itinerary{
	padding: 0 0 10px 0;
	margin: 0 0 20px 0;
	border-bottom: 1px solid @gray-light-border;
	footer{
		img{
			width: 90px;
		}
		p{
			font-size: 10px;
			text-align: right;
		}
	}

}


.sidebar-fees{
	h4{
		display: inline-block;
		border: 1px solid @blue;
		border-radius: 2px;
		padding: 10px 8px;
		font-weight: 300;
		font-size: 12px;
		text-align: left;
		width: 100%;
		i{
			font-size: 18px;
			color: @blue;
			margin: 0 0 0 5px;
		}
		span{
			float: right;
		}

	}
	span.print{
		text-align: center;
		display: block;
		width: 100%;
		color: @blue;
		i{
			font-size: 18px;
			color: @blue;
			margin: 0 5px 0 0;

		}
		
	}
}

.show-sidebar{
	display: none;
	position: fixed;
	width: 100%;
	padding: 20px 0;
	background: white ;
	bottom: 0;
	left: 0;
	text-align: center;
	z-index: 1000;
	border-top: 1px solid @gray-light-border;
	span{
		display: block;
		border: 1px solid @blue;
		color: @blue;
		border-radius: 4px;
		width: 250px;
		padding: 10px 0;
		font-size: 18px;
		margin: 0 auto;
		cursor: pointer;
	}
	@media screen and (max-width: @screen-md) {
		display:block;

	}
}







