/*   Trip Details Layout   */


.trip-details-main-panel{
	padding-bottom: 40px;
    padding-top: 30px;
    position: relative;
    background: #fff;
    min-height: 100vh;

}

.trip-details-main{
	padding: 0 20px 0 0;
	position: relative;
	@media screen and (max-width: @screen-md) {
	 	padding: 0 20px;
	 }
	 @media screen and (max-width: @screen-sm) {
	 	width:80%;
	 	margin:0 auto;
	 }
	 @media screen and (max-width: @screen-xs) {
	 	width:100%;
	 
	 }
}


.trip-details-section{
	margin: 0 0 30px 0;
	padding: 20px 20px 0 20px;
	border-bottom: 1px solid @gray-light-border;
	.align-left{
		text-align: left;
	}
	.align-right{
		text-align: right;
	}
	.trip-details-section-header{
		h1{
			font-size: 26px;
			line-height: 32px;
			margin: 0;
			i{
			    margin: 0 12px 0 0;
			    font-size: 26px;
			    border: 1px solid @gray-darker;
			    padding: 6px;
			    border-radius: 50%;
			    &.bs-icon-bs_boat-details{
					 font-size: 30px;
					  padding: 4px;
				}
				
			}
		}
		.status-message{
			font-size: 18px;
			font-weight: 400;
			i{
				margin: 0 20px 0 0;
				font-size: 30px;
			}
			&.confirmed{
				color: @green-confirmed;
			}
			&.pending{
				color: @orange;
			}
			&.cacelled{
				color: @red;
			}
		}
	}
	.trip-details-section-info{
		padding: 10px 0 20px 60px;
		
		
		position: relative;
		&:after{
			background: @gray-light-border;
			position: relative;
			content: '';
			height: 1px;
			bottom: -20px;
			width: 95%;
			left: 15px;
		}

		&:last-child:after{
			height: 0;
		}



		.profile-picture{
			position: relative;
			figure{
				width: 60px;
				height: 60px;
				overflow: hidden;
				position: absolute;
				left: 5px;
				top: 50%;
				transform: translate(0,-50%);
				border-radius: 50%;
				img{
					width: 100%;
				}
			}
			.profile-items{
				margin: 0 0 0 70px;
				min-height: 70px;
				h3{
				font-size: 18px;
				margin: 0 0 5px 0;
				}
				p{
					font-size: 14px;
					margin: 0
				}
				a{
					font-size: 14px;
					margin: 0;
				}
				
			}
		}
	}

	ul.actions-ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			color: @blue;
			font-size: 16px;
			margin: 0 0 10px 0;
			font-size: 16px;
			cursor: pointer;
			i{
				font-size: 20px;
				margin: 0 0 0 10px;
			}
		}
		&.left-icons{
			li{
				i{
					margin: 0 10px 0 0;
				}
			}
			

		}
	}
	ul.info-ul{
		padding: 20px;
		margin: 0;
		li{
			font-size: 16px;
			margin: 0 0 10px 0;
		}
	}
	ul.profile-ul{
		list-style: none;
		text-align: right;
		display: inline-block;
		padding: 0;
		
		li{
			text-align: center;
			font-size: 15px;
			margin: 0 0 10px 0;
			font-size: 14px;
			float: left;
			margin:0 20px 0 0;
			&:last-child{
				margin: 0;
			}
			i{
				font-size: 24px;
				margin: 0 0 0 20px;
				display: block;
				width: 100%;
				margin: 0 auto;
			}
			span{
				display: block;
				font-size: 15px;
				color: @gray;
				margin: 0 auto;
			}
		}
	}

	@media screen and (max-width: @screen-sm) {
		margin: 0 0 40px 0;
		padding: 20px 20px 0 20px;
		/*border-bottom: none;*/
		.align-left{
			text-align: center;
		}

		.align-right{
			text-align: center;
		}

		
		.trip-details-section-header{
			text-align: center;
			h1{
				font-size: 20px;
				line-height: 32px;
				margin: 0 0 10px 0;
				display: block;
				margin: 0;
				i{
					display: block;
					width: 40px;
					height: 40px;
					margin: 0 auto;
					line-height: 22px;

				}
			
				
			}
			.status-message{
				font-size: 18px;
				i{
					margin: 0 10px 0 0;
					font-size: 30px;
					
				}
				
			}
			
		}
		.trip-details-section-info{
			padding: 20px 0;
		
			.profile-picture{
				position: relative;
				figure{
					position: relative;
					left: 50%;
					top: 0;
					transform: translate(-50%,0);
					img{
						width: 100%;
					}
				}
				.profile-items{
					text-align: center;
					margin: 0 0 20px 0;
					h3{
					font-size: 18px;
					margin: 10px 0 5px 0;
					}
					p{
						font-size: 14px;
						margin: 0
					}
					a{
						font-size: 16px;
						margin: 0;
					}
					
				}
			}
		}

		ul.info-ul{
			text-align: left;
			li{
				font-size: 16px;
				margin: 0 0 10px 0;
			}
		}

		ul.actions-ul{
			list-style: none;
			padding: 0;
			margin: 10px 0 0 0;
			li{
			
				margin: 0 0 40px 0;
				font-size: 16px;
				position: relative;
				display: inline-block;
				padding: 0 0 0 20px;
				float: left;
				clear: left;
				text-align: center;
				left: 50%;
				transform: translate(-50%,0);
				i{
					margin: 0;
					top: 50%;
					left: 0;
					position: absolute;
					transform: translate(-50%,-50%);
				}
			}
		}
		ul.profile-ul{
			margin: 20px 0 0 0;
			
			
			li{
				
				float: left;
				margin:0 0 20px 0;
				width: 50%;
				&:last-child{
					margin: 0;
				}
				i{
					font-size: 24px;
					margin: 0 0 0 20px;
					display: block;
					width: 100%;
					margin: 0 auto;
				}
				span{
					display: block;
					font-size: 15px;
					color: @gray;
					margin: 0 auto;
				}
			}
		}
	 
	}
}

.trip-details-active-section{
	border: @gray-light-border 1px solid;
	.trip-details-section-info:last-child{
		border-bottom: none;
	}
}

.trip-details-pending-section{
	border: @orange 1px solid;
	.trip-details-section-info:last-child{
		border-bottom: none;
	}
}

.owner-choices{
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,0.7);
	z-index: 300;
	.owner-choices-items{
		position: relative;
		background: white;
		padding: 0 0 60px 0;
		width: 100%;
		.owner-choices-item{
			margin: 0 0 40px 0;
			header{
				figure{
					width: 100%;
					height: 150px;
					overflow: hidden;
					img{
						width: 100%;
						height: auto;
					}
				}
				h3{
					font-size: 16px;
					line-height: 34px;
					margin: 0;
				}
			}
			.owner-profile{
				span{
					font-size: 13px;
					line-height: 20px;
					display: block;
					margin: 0;
					i{
						margin: 0 5px 0 0;
					}
				}
			}
			.owner-pic{
				z-index: 1000;
				text-align: center;
				position: absolute;
				right: 20px;
				top: 112px;
				figure{
					width: 70px;
					height: 70px;
					overflow: hidden;
					border-radius: 50%;
					border: 3px solid white;
					img{
						width: 100%;
						height: auto;
					}
				}
				span{
					font-size: 18px;
					line-height: 34px;
					margin: 0;
				}
			}
			.view-boat-profile{
				display: block;
				border: 1px solid @blue;
				border-radius: 4px;
				text-align: center;
				font-size: 16px;
				color: @blue;
				margin: 20px 0 0 0;
				width: 100%;
				padding: 10px 0;
				cursor: pointer;
			}
		}

	}
}

/*   Trip Details General Classes   */

.background-white{
	background: white;
}

.message-section{
	padding: 20px;
	h2{

	}
	ul{
		li{
			margin: 0 0 10px 0;
		}
	}

}


.row-divider{
	height: 20px;
	@media screen and (max-width: @screen-sm) {
		height:0;
	}
	
}

.action-needed{
	display: inline-block;
	padding: 10px 0;
	border: 1px solid @blue;
	border-radius: 4px;
	background: white;
	text-align: center;
	font-size: 14px;
	color: @blue;
	width: 140px;
	margin: 0 0 10px 10px;
	cursor: pointer;
	&.accept{
		background: @orange;
		border: 1px solid @orange;
		color: white;
		&:hover{
			background: @orange-light;
		}
	}
}


