@media print {
  /* line 9, print.less */
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  /* line 16, print.less */
  a,
  a:visited {
    text-decoration: underline;
  }
  /* line 19, print.less */
  a[href]:after {
    content: " (" attr(href) ")";
  }
  /* line 21, print.less */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /* line 24, print.less */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* line 27, print.less */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /* line 33, print.less */
  thead {
    display: table-header-group;
  }
  /* line 35, print.less */
  tr,
  img {
    page-break-inside: avoid;
  }
  /* line 38, print.less */
  img {
    max-width: 100% !important;
  }
  /* line 40, print.less */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  /* line 47, print.less */
  h2,
  h3 {
    page-break-after: avoid;
  }
  /* line 52, print.less */
  select {
    background: #fff !important;
  }
  /* line 59, print.less */
  .navbar {
    display: none;
  }
  /* line 63, print.less */
  .table td,
  .table th {
    background-color: #fff !important;
  }
  /* line 69, print.less */
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  /* line 72, print.less */
  .label {
    border: 1px solid #000;
  }
  /* line 74, print.less */
  .table {
    border-collapse: collapse !important;
  }
  /* line 77, print.less */
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
/*# sourceMappingURL=print.css.map */