/** The Spacing **/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/* line 9, _third-party\bootstrap\normalize.less */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* line 19, _third-party\bootstrap\normalize.less */
body {
  margin: 0;
}
/* line 33, _third-party\bootstrap\normalize.less */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/* line 54, _third-party\bootstrap\normalize.less */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
/* line 67, _third-party\bootstrap\normalize.less */
audio:not([controls]) {
  display: none;
  height: 0;
}
/* line 77, _third-party\bootstrap\normalize.less */
[hidden],
template {
  display: none;
}
/* line 89, _third-party\bootstrap\normalize.less */
a {
  background-color: transparent;
}
/* line 97, _third-party\bootstrap\normalize.less */
a:active,
a:hover {
  outline: 0;
}
/* line 109, _third-party\bootstrap\normalize.less */
abbr[title] {
  border-bottom: 1px dotted;
}
/* line 117, _third-party\bootstrap\normalize.less */
b,
strong {
  font-weight: bold;
}
/* line 126, _third-party\bootstrap\normalize.less */
dfn {
  font-style: italic;
}
/* line 135, _third-party\bootstrap\normalize.less */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* line 144, _third-party\bootstrap\normalize.less */
mark {
  background: #ff0;
  color: #000;
}
/* line 153, _third-party\bootstrap\normalize.less */
small {
  font-size: 80%;
}
/* line 161, _third-party\bootstrap\normalize.less */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* line 169, _third-party\bootstrap\normalize.less */
sup {
  top: -0.5em;
}
/* line 173, _third-party\bootstrap\normalize.less */
sub {
  bottom: -0.25em;
}
/* line 184, _third-party\bootstrap\normalize.less */
img {
  border: 0;
}
/* line 192, _third-party\bootstrap\normalize.less */
svg:not(:root) {
  overflow: hidden;
}
/* line 203, _third-party\bootstrap\normalize.less */
figure {
  margin: 1em 40px;
}
/* line 211, _third-party\bootstrap\normalize.less */
hr {
  box-sizing: content-box;
  height: 0;
}
/* line 221, _third-party\bootstrap\normalize.less */
pre {
  overflow: auto;
}
/* line 229, _third-party\bootstrap\normalize.less */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* line 252, _third-party\bootstrap\normalize.less */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
/* line 266, _third-party\bootstrap\normalize.less */
button {
  overflow: visible;
}
/* line 277, _third-party\bootstrap\normalize.less */
button,
select {
  text-transform: none;
}
/* line 290, _third-party\bootstrap\normalize.less */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
/* line 302, _third-party\bootstrap\normalize.less */
button[disabled],
html input[disabled] {
  cursor: default;
}
/* line 311, _third-party\bootstrap\normalize.less */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* line 322, _third-party\bootstrap\normalize.less */
input {
  line-height: normal;
}
/* line 334, _third-party\bootstrap\normalize.less */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/* line 346, _third-party\bootstrap\normalize.less */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/* line 357, _third-party\bootstrap\normalize.less */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
/* line 370, _third-party\bootstrap\normalize.less */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 379, _third-party\bootstrap\normalize.less */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/* line 390, _third-party\bootstrap\normalize.less */
legend {
  border: 0;
  padding: 0;
}
/* line 399, _third-party\bootstrap\normalize.less */
textarea {
  overflow: auto;
}
/* line 408, _third-party\bootstrap\normalize.less */
optgroup {
  font-weight: bold;
}
/* line 419, _third-party\bootstrap\normalize.less */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 424, _third-party\bootstrap\normalize.less */
td,
th {
  padding: 0;
}
/*# sourceMappingURL=reset.css.map */