.text-head {
  margin-bottom: 20px;
}
.h1 {
  color: #333;
}
.recomend-col {
  margin-bottom: 20px;
}
.recomend-col img {
  margin-bottom: 15px;
}
.recomend-col h2 {
  margin-bottom: 10px;
  font-size: 18px;
}
.recomend-col p {
  font-size: 15px;
}
.howitworks {
  position: relative;
  margin-bottom: 40px;
}
.howitworks img {
  background-color: #fff;
  padding: 0 10px;
  position: relative;
  z-index: 10;
}
.howitworks .line-orange {
  border-top: 1px solid #fe9700;
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.how-col {
  margin-bottom: 20px;
}
.how-col h2 {
  color: #fe9700;
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 600;
}
.how-col p {
  font-size: 14px;
}
.bs-site-panel.bg-white {
  padding-bottom: 10px;
}
.experiences {
  position: relative;
}
.comment-container {
  padding: 0 20%;
}
.comment {
  margin-bottom: 25px;
}
.comment-avatar {
  border-radius: 50%;
  width: 100px;
  margin-bottom: 15px;
}
.comment h3 {
  color: #333;
  font-weight: 600;
  font-size: 17px;
  /*padding: 0 20%;*/
}
.comment p {
  font-size: 13px;
  /*padding: 0 20%;*/
}
.quote {
  padding: 0 15%;
  position: relative;
  text-align: center ;
}
.signature {
  margin-bottom: 15px;
}
.head-quote {
  color: #333;
  font-weight: 500;
}
.quote-comment {
  font-size: 14px;
}
.jt {
  width: 200px;
  /*position: absolute;*/
  bottom: 0;
  right: 10%;
  /*display: none;*/
}
.bs-site-panel {
  padding-bottom: 0;
}
.white {
  color: #fff;
}
/*---------------------------------------------------------*/
.slide-cont {
  position: relative;
}
.earn-img {
  width: 100%;
  max-width: 270px;
  margin-top: 20px;
}
.calculator p {
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}
.started-btn {
  max-width: 270px;
  margin: 20px auto 0;
}
#bs-earning-calculator {
  padding-bottom: 20px;
  background-color: #0668b2 !important;
}
.bs-earning-calculator span {
  vertical-align: middle;
  margin-right: 10px !important;
}
@media (min-width: 550px) {
  .howitworks img {
    padding: 0 30px;
  }
  .quote {
    padding: 0 10%;
    text-align: left;
  }
  .jt {
    display: inherit;
    width: 240px;
    position: absolute;
  }
  .signature {
    margin-bottom: 60px;
  }
}
@media (min-width: 768px) {
  .recomend-col br {
    display: none;
  }
  .howitworks img {
    padding: 0 30px;
  }
  .quote {
    padding: 0 20%;
  }
  .jt {
    right: 20%;
  }
  .form-cont {
    position: absolute;
    z-index: 100;
    top: 50%;
    width: 62%;
    max-width: 480px;
    right: 40px;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  #bs-earning-calculator {
    border-radius: 5px;
  }
  .icon-select {
    text-align: right;
  }
  .text-select {
    text-align: left;
    margin-top: 7px;
  }
  .caret {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: scale(2) translateY(-100%) !important;
    -moz-transform: scale(2) translateY(-100%) !important;
    -ms-transform: scale(2) translateY(-100%) !important;
    -o-transform: scale(2) translateY(-100%) !important;
    -webkit-transform: scale(2) translateY(-100%) !important;
  }
}
@media (min-width: 992px) {
  .comment-container {
    padding: 0;
    position: absolute;
    right: 5%;
    top: 60px;
  }
  .recomend-col br {
    display: inherit;
  }
  .how-col:after {
    content: url("images/new/icon-arrow.png");
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
  }
  .how-col:last-child:after {
    content: "";
  }
  .quote {
    padding: 0 5%;
  }
  .jt {
    right: 14%;
  }
}
@media (min-width: 1200px) {
  .jt {
    right: 25%;
  }
}
