@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  .table.mobile {
    display: block;
  }
  .table.mobile thead,
  .table.mobile tbody,
  .table.mobile th,
  .table.mobile td,
  .table.mobile tr {
    display: block;
  }
  .table.mobile thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table.mobile tr {
    border: 1px solid #ccc;
  }
  .table.mobile td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
  }
  .table.mobile > tbody > tr > td {
    padding-left: 50%;
  }
  .table.mobile td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    font-weight: 500;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .table.mobile.my-money td:nth-of-type(1):before {
    content: "Date";
  }
  .table.mobile.my-money td:nth-of-type(2):before {
    content: "Ref#";
  }
  .table.mobile.my-money td:nth-of-type(3):before {
    content: "Status";
  }
  .table.mobile.my-money td:nth-of-type(4):before {
    content: "Type";
  }
  .table.mobile.my-money td:nth-of-type(5):before {
    content: "Amount $";
  }
}
