@media only screen and (max-width: 600px) {
  /* Force table to not be like tables anymore */
  /* line 6, mobile-tables.less */
  .table.mobile {
    display: block;
  }
  /* line 8, mobile-tables.less */
  .table.mobile thead,
  .table.mobile tbody,
  .table.mobile th,
  .table.mobile td,
  .table.mobile tr {
    display: block;
  }
  /* line 11, mobile-tables.less */
  .table.mobile thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  /* line 16, mobile-tables.less */
  .table.mobile tr {
    border: 1px solid #ccc;
    margin-bottom: 2px;
    border-radius: 3px;
  }
  /* line 21, mobile-tables.less */
  .table.mobile td {
    /* Behave  like a "row" */
    padding: 5px;
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
  }
  /* line 28, mobile-tables.less */
  .table.mobile > tbody > tr > td {
    padding-left: 40%;
  }
  /* line 31, mobile-tables.less */
  .table.mobile td:before {
    /* Now like a table header */
    content: attr(data-title);
    position: absolute;
    /* Top/left values mimic padding */
    font-size: 85%;
    font-weight: 500;
    top: 6px;
    left: 6px;
    width: 35%;
    padding-right: 10px;
    white-space: nowrap;
    border-right: 1px solid #efefef;
  }
}
/*# sourceMappingURL=mobile-tables.css.map */