.messenger-left-sidebar{
	background: #f4f4f4;
	padding: 20px 0 0 0;
	height: 100%;
	.all-messages{
		padding: 0 20px;
		position: relative;
		>img{
			width: 158px;
			margin: 0 0 30px 0;
			display: block;
		}
		h2{
			font-weight: 300;
			font-size: 18px;
			position: relative;
			display: inline-block;
			padding: 0 20px 0 45px;
			z-index: 1001;
			cursor: pointer;
			i{
			   position: absolute;
			   z-index: 1001;
			   top: 50%;
			   &:first-child{
			   	left: 0;
				font-size: 30px;
				transform: translate(0,-50%);
			   }
			    &:last-child{
			    right: 0;
				transform: rotate(180deg) translate(0, 20%);
				font-size: 14px;
			   }
			}
			&.open-menu{
				i:last-child{
					transform: rotate(0deg) translate(0, -30%);
				}
			}
		}
		.all-messages-dropdown{
			display: none;
			background: #e9e9e9;
			padding: 50px 0 15px 0;
			position: absolute;
			height: auto;
			width: 100%;
			z-index: 1;
			left: 0;
			top: 60px;
			ul{
				list-style: none;
				margin: 0 0 0 40px;
				padding: 0;
				li{
					margin: 0 0 5px 0;
					font-size: 14px;
					position: relative;
					padding: 0 0 0 30px;
					cursor: pointer;
					height: 22px;
					i{
						margin: 0 10px 0 0;
						font-size: 18px;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translate(0, -55%);
					}
					&.unread i{
						transform: translate(0, -65%);
					}
					&.search i{
						top: 4px;
						transform: translate(0, 0);
					}

					&.search span{
						position: absolute;
						right: 40px;
						top: -4px;
						display: none;
					}

					&.search input{
						background: transparent;
						padding: 0 30px 3px 0;
						width: 90%;
						border: none;
						border-radius: 2px;
						height: 22px;
						color: #666666;
						border-bottom: 1px solid #d4d4d4;
					}
				}
			}
		}
	}
	.list-messages{
    	height: 100%;
    	height: 86%;
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				border-bottom: 1px solid @gray-light-border;
				border-left: 3px solid transparent;
				position: relative;
				cursor: pointer;
				&:first-child{
					border-top: 1px solid @gray-light-border;
				}
				.message-inner{
					padding: 15px 10px;
					figure{
						width: 60px;
						height: 60px;
						border-radius: 50%;
						overflow: hidden;
						float: left;
						img{
							width: 100%;
						}
					}
					.list-message-info{
						float: right;
						width: 67%;
						h2{
							font-size: 14px;
							margin: 0 0 5px 0;
						}
						span{
							font-size: 12px;
							color: #707070;
						}
						
						p{
							font-style: italic;
							margin: 0;
							font-size: 14px;
							color: #707070;
						}
						@media screen and (max-width: @screen-md) {
							float:left;
							margin:0 0 0 10px;
						}
					}
				}
				.message-comment-number{
					position: absolute;
					right: 15px;
					top: 12px;
					background: @red;
					color: white;
					display: none;
					text-align: center;
					width: 20px;
					height: 20px;
					font-size: 12px;
					line-height: 20px;
					border-radius: 50%;
				}
				.delete-message{
					display: none;
					position: absolute;
					cursor: pointer;
					right: 15px;
					top: 12px;
					width: 20px;
					height: 20px;
					i{
						font-size: 20px;
						color: @blue;
					}
				}
				&.has-messages{
					.message-comment-number{
						display: block;
					}
				}

				&:hover{
					background: #eef4f6;
					border-left: 3px solid @blue;
					.message-comment-number{
						display: none;
					}
					.delete-message{
						display: block;
					}

					
				}
			}
		}
	}

	@media screen and (max-width: @screen-md) {
		padding: 0;
		.all-messages{
			padding: 10px 20px 0 20px;
			background: @blue;
			position: inherit;
			>img{
				display: none;
			}
			h2{
				color: white;
				margin: 0 0 12px 0;
			}
			.all-messages-dropdown{
				background: @blue;
				padding: 0;
				height: auto;
				top: 40px;
				z-index: 2000000;
				ul{
					margin: 0 0 0 62px;
					padding: 0 0 20px 0;
					li{
						margin: 0 0 10px 0;
						font-size: 16px;
						color: white;
						i{
							margin: 0 10px 0 0;
						}
						&.search input{
							color: white;
						}
					}
				}
			}
			
		}
		.list-messages{
	    	height: 100%;
			ul{
				list-style: none;
				padding: 0 15px;
				right: 0 !important;
				li{
					.message-inner{
						.list-message-info{
							width: 72%;
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: @screen-sm) {
		.all-messages{
			padding: 10px 20px;
		}
	}


}

::-webkit-input-placeholder { 
    color:  #666666;
    @media screen and (max-width: @screen-md) {
    	  color:  white;
    }
}

::-moz-placeholder{ 
    color:  #666666;
    @media screen and (max-width: @screen-md) {
    	  color:  white;
    }
}
::-moz-placeholder { 
    color:  #666666;
    @media screen and (max-width: @screen-md) {
    	  color:  white;
    }
}
:-ms-input-placeholder   { 
    color:  #666666;
    @media screen and (max-width: @screen-md) {
    	  color:  white;
    }
}


