.messenger-main-board{
	width: 66.33%;
	float: left;
	height: 100%;
	position: relative;
	
	//padding: 0 20px 20px 20px;
	
	.sender-profile{
		background: #fbfbfb;
		padding: 10px;
		span.back{
			display: none;
			float: left;
			transform: rotate(-90deg) translate(-12px, 0);
			margin: 0 20px 0 0;
			cursor: pointer;
		}


		figure{
			width: 40px;
			height: 40px;
			border-radius: 50%;
			overflow: hidden;
			float: left;
			
			img{
				width: 100%;
			}
		}
		h2{
			font-size: 14px;
			float: left;
			display: block;
			margin: 15px 0 0 10px;
		}

		.message-actions{
			position: relative;
			span{
				cursor: pointer;
				float: right;
				position: relative;
				display: block;
				margin: 0;
				z-index: 1001;
				padding: 10px;
				img{
					height: 20px;
				}
			}
			
			.message-actions-drop-down{
				display: none;

				position: absolute;
				background: #f6f6f6;
				width: auto;
				height: auto;
				padding: 60px 20px 20px 20px;
				top: -10px;
				right: -10px;
				z-index: 1000;
				ul{
					list-style: none;
					padding: 0;
					li{
						margin: 0 0 5px 0;
						font-size: 14px;
						position: relative;
						padding: 0 0 0 30px;
						cursor: pointer;
						i{
							margin: 0 10px 0 0;
							font-size: 18px;
							position: absolute;
							left: 0;
							top: 50%;
							transform: translate(0, -55%);
						}
						&.unread i, &.forward i{
							transform: translate(0, -65%);
						}
					}
				}
			}
			
		}
	}

	.conversation-board{
		height: 80%;
		.message-dialog{
			padding: 20px;
			margin: 0 0 10px 0;
			height: 100%;

			.message-day{
				text-align: center;
				display: block;
				margin: 0 0 10px 0;
			}
		}

		.sender-message{
			position: relative;
			margin: 0 0 20px 0;
			.message-wrapper{
				float: left;
				background: #f2f8fd;
				width: 73%;
				min-width: 420px;
				padding: 10px 20px;
				h3{
					font-size: 14px;
					color: @blue;
					margin: 0 0 10px 0;
				}
				p{
					font-size: 14px;
				}
			}
			.message-time{
				font-size: 14px;
				position: absolute;
				right: 0;
				bottom: 0;
			}

		}


		.user-message{
			position: relative;
			margin: 0 0 20px 0;
			.message-wrapper{
				float: right;
				background: #f5f5f5;
				width: 73%;
				min-width: 420px;
				padding: 10px 20px;
				h3{
					font-size: 14px;
					margin: 0 0 10px 0;
				}
				p{
					font-size: 14px;
				}
			}
			.message-time{
				font-size: 14px;
				position: absolute;
				left: 0;
				bottom: 0;
			}

		}
	}
	&.wide-board{
		width: 100%;
		
	}

    
	@media screen and (max-width: @screen-md) {
		width: 100%;
		float: none;
		height: auto;
		position: relative;
		//padding: 0 20px 20px 20px;
	
	.sender-profile{
		background: #fbfbfb;
		padding: 10px;
		span.back{
			display: block;
		}


		figure{
			width: 40px;
			height: 40px;
			border-radius: 50%;
			overflow: hidden;
			float: left;
			
			img{
				width: 100%;
			}
		}
		h2{
			font-size: 14px;
			float: left;
			display: block;
			margin: 15px 0 0 10px;
		}

		.message-actions{
			position: relative;
			span{
				cursor: pointer;
				float: right;
				position: relative;
				display: block;
				margin: 0;
				z-index: 1001;
				padding: 10px;
				img{
					height: 20px;
				}
			}
			
			.message-actions-drop-down{
				display: none;

				position: absolute;
				background: #f6f6f6;
				width: auto;
				height: auto;
				padding: 60px 20px 20px 20px;
				top: -10px;
				right: -10px;
				z-index: 1000;
				ul{
					list-style: none;
					padding: 0;
					li{
						i{
							margin: 0 10px 0 0;
						}
						margin: 0 0 10px 0;

					}
				}
			}
			
		}
	}

	.conversation-board{
		height: 100%;
		.message-dialog{
			padding: 20px;
			margin: 0 0 40px 0;
			.message-day{
				text-align: center;
				display: block;
				margin: 0 0 10px 0;
			}
		}

		.sender-message{
			position: relative;
			margin: 0 0 20px 0;
			.message-wrapper{
				float: left;
				background: #f2f8fd;
				width: 77%;
				min-width: auto;
				padding: 10px 20px;
				
				
			}
			.message-time{
				
				position: absolute;
				right: 0;
				bottom: 0;
			}

		}


		.user-message{
			position: relative;
			margin: 0 0 20px 0;
			.message-wrapper{
				float: right;
				background: #f5f5f5;
				width: 77%;
				min-width: auto;
				padding: 10px 20px;
				
				
			}
			.message-time{
				
				position: absolute;
				left: 0;
				bottom: 0;
			}

		}
	}
	&.wide-board{
		width: 100%;
		
	}
		}

}