body.dashboard-messenger{
	position: relative;
	@media screen and (max-width: @screen-md) {
		position:fixed !important;
		width:100%;
		overflow:hidden;
		.dashboard-toolbar{
			display: none;
		}
		.container-fluid{
			padding: 0 !important;
		}
		.container{
			width: 100% !important;
		}
	}
}

.messenger-content{
	padding: 0;
	height: 85vh;
	max-height: 800px;
	.messenger-left-section{
		width: 25%;
		float: left;
		height: 100%;
		overflow: hidden;
	}
	.messenger-right-section{
		height: 100%;
		width: 74%;
		float: left;
		background: white;
		position: relative;
		padding: 15px;
		.messenger-right-top-section{
			display: none;
			height: 100%;
			margin: 0 0 10px 0;
		}
		.messenger-right-bottom-section{
			display: none;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background: white;
			padding: 10px;
		}
	}
	@media screen and (max-width: @screen-md) {
		padding: 0;
		width:100%;
		.messenger-left-section{
			width: 100%;
			margin: 0 auto;
			float: none;
			height: auto;

		}
		.messenger-right-section{
			width: 100%;
			padding: 0 15px;
			float: none;
			margin: 0 auto;
			position: relative;
			.messenger-right-top-section{
				height: auto;
				margin: 0 0 20px 0;
			}
			.messenger-right-bottom-section{
				background: red;
			}
		}
	}
}

.welcome-message{
	position: absolute;
	width: 100%;
	height: 100%;
	max-height: 800px;
	left: 0;
	text-align: center;
	top: 0;
	z-index: 300000;
	background-color:white;
    background-image: url(images/dashboard/messenger/welcome-messenger.svg);
    background-repeat: no-repeat;
    background-position: center center ;
    background-size: 200px;
	padding: 46px 0 0 0;
	h2{
		font-size: 18px;
	}
	p{
		font-size: 14px;
		margin: 0 0 10px 0;
	}
	@media screen and (max-width: @screen-md) {
		display: none;
	}
}

/*  Custom Nano scrollbar  */

div.nano > .nano-pane > .nano-slider {
    background: gray !important;
}

@import "_left-sidebar.less";
@import "_right-sidebar.less";
@import "_main-board.less";
@import "_message-box.less";
