.messenger-right-sidebar{
	width: 32%;
	float: right;
	height: 100%;
	overflow-y: scroll;
	padding: 20px;
	background: #fbfbfb;
	.back-to-chat{
		display: none;
		width: 100%;
		margin: 0 0 40px 0;
		span{
			display: block;
			cursor: pointer;
			color: @blue;
			padding: 10px 0 0 20px;
			position: relative;
			font-size: 16px;
			i{
    			transform: rotate(-90deg) translate(-12px, 0);
    			margin: 0 20px 0 0;
    			position: absolute;
    			left: 0;
    			top: 3px;
			}
		}
	}
	.right-sidebar-header{
		border-bottom: 1px solid @gray-light-border;
		h2{
			font-size: 14px;
		}
	}
	.right-sidebar-trip-items{
		padding: 0 0 20px 0;
		height: 550px;
		ul{
			list-style: none;
			padding: 0;
			li{
				padding: 12px 0;
				border-bottom: 1px solid @gray-light-border;
				i{
					font-size: 18px;
					float: left;
					margin: 0 10px 0 0 ;
				}
				.item-info{
					width: 60%;
					float: left;
					h3{
						font-size: 14px;
						margin: 0 0 5px 0;
						font-weight: 400;
					}
					p{
						font-size: 12px;
						margin: 0 0 5px 0;
					}
					
				}
				figure{
					width: 60px;
					height: 60px;
					border-radius: 50%;
					overflow: hidden;
					float: right;
					img{
						width: 100%;
					}
					@media screen and (max-width: @screen-lg) {
						width: 40px;
					    height: 40px;
					}
					@media screen and (max-width: @screen-md) {
						width: 60px;
					    height: 60px;
					}

				}
				span.price{
					float: right;
					font-size: 14px;
					@media screen and (max-width: @screen-lg) {
						float:none;
					   	margin:0 0 0 25px;
					}
				}
				.item-info-footer{
					padding: 20px 0;
				}
				a.more-details{
					display: block;
					border: 1px solid @blue;
					border-radius: 4px;
					padding: 2px 0;
					text-align: center;
					font-size: 14px;
					color: @blue;
					margin: 20px auto;
					width: 150px;
					cursor: pointer;
					&:hover{
						background: @blue;
						color: white;
					}
				}
				&:last-child{
					border-bottom: none;
				}
			}
		}
	}
	@media screen and (max-width: @screen-md) {
		height:100%;
		left:0;
		padding:0 30px;
		position:absolute;
		//top:70%;
		width: 100%;
		z-index: 2003;
		.back-to-chat{
			display: block;
		}
	}

}