.bs-calendar {
    position: relative;
    width: 100%;
    margin: 50px 0;
    .transition(0.25s);
    @media screen and (max-width: @screen-sm) {
        margin: 25px 0;
    }
    &.overlay {
        opacity: .4;
        pointer-events: none;
    }
    .legend {
        text-align: right;
        padding: 5px 0;
        span {
            display: inline-block;
            margin-left: 10px;
        }
        @media screen and (max-width: @screen-sm) {
            font-size: 10px;
            img {
                height: 10px;
                width: 10px;
            }
        }
    }
    &.smart-pricing {
        margin: 0;
    }
}

.bs-calendar-previous-month,
.bs-calendar-selected-month,
.bs-calendar-next-month {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    display: inline-block;
}

.bs-calendar-previous-month,
.bs-calendar-next-month {
    display: none;
}

.bs-calendar-header {
    position: relative;
    h1 {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: @blue;
    }
}

.bs-calendar-nav {
    position: absolute;
    width: 100%;
    top: 0;
    a {
        position: absolute;
        width: 30%;
        top: 0;
        font-size: 12px;
        color: @gray;
        vertical-align: middle;
        text-decoration: none;
        cursor: pointer;
        i {
            font-size: 24px;
            color: @blue;
            vertical-align: middle;
        }
        &.prev {
            left: 0;
            text-align: left;
            i {
                margin-right: 10px;
            }
        }
        &.next {
            right: 0;
            text-align: right;
            i {
                margin-left: 10px;
            }
        }
        span.long {
            display: inline-block;
        }
        span.short {
            display: none;
        }
        @media screen and ( max-width: @screen-xs ) {
            span.long {
                display: none;
            }
            span.short {
                display: inline-block;
            }
        }
    }
}

.bs-calendar-grid {
    position: relative;
    width: 100%;
    .table-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid @gray-dark;
        &:not(.table-header) {
            .table-cell {
                &:before {
                    content: "";
                    display: block;
                    padding-top: 100%;
                }
            }
        }
    }
    .table-header {
        font-size: 14px;
    }
    .table-cell {
        position: relative;
        flex-grow: 1;
        width: 14.285714285714286%;
        max-height: 100px;
        @media screen and (max-width: @screen-sm) {
            text-align: center;
        }
        &.date {
            cursor: pointer;
        }
    }
    .day-number {
        position: absolute;
        top: 0;
        font-size: 16px;
        @media screen and (max-width: @screen-sm) {
            font-size: 14px;
            left: 50%;
            transform: translateX(-50%);
        }
        @media screen and (max-width: @screen-xs) {
            font-size: 10px;
        }
    }
    .trips,
    .amounts {
        position: absolute;
        height: 100%;
        width: ~"calc(100% - 20px)";
        left: 20px;
        top: 0;
        .trip,
        .amount,
        .status {
            position: relative;
            padding: 3px 0 0 3px;
            font-size: 11px;
            cursor: pointer;
            display: block;
        }
        @media screen and (max-width: 380px) {
            top: 10px !important;
            img {
                width: 10px !important;
                height: 10px !important;
                margin: 0;
            }
            .trip {
                margin-bottom: 1px !important;
            }
        }
        @media screen and (max-width: @screen-sm) {
            padding: 0;
            width: 100%;
            top: 15px;
            left: 0;
            height: ~"calc(100% - 20px)";
            text-align: center;
            .trip {
                float: left;
                padding: 0 3px 0 0;
                margin-bottom: 5px;
                height: 10px;
            }
            img {
                width: 13px;
                height: 13px;
                margin: 0;
            }
            .ref {
                .code {
                    display: none;
                }
                .red-badge {
                    font-size: 6px;
                    height: 12px;
                    width: 12px;
                    line-height: 12px;
                }
            }
        }
        @media screen and (min-width: @screen-sm) and (max-width: @screen-md) {
            padding: 0;
            width: 100%;
            top: 25px;
            left: 0;
            height: ~"calc(100% - 20px)";
            .trip {
                float: left;
                padding: 0 3px 0 0;
                margin-bottom: 8px;
                height: 10px;
            }
            img {
                width: 16px;
                height: 16px;
                margin: 0;
            }
            .ref {
                display: none;
            }
        }
    }
    .amounts {
        padding: 0;
        width: 90%;
        top: 25px;
        left: 0;
        height: ~"calc(100% - 20px)";
        > span {
            display: block;
            color: @blue;
            font-size: 14px;
            font-weight: normal;
            padding: 2px;
            i {
                font-weight: bolder;
            }
            &:first-child {
                border-bottom: solid 1px @gray;
            }
            > span.amount {
                display: inline-block;
            }
        }
        @media screen and (max-width: @screen-xs) {
            > span {
                font-size: 10px !important;
            }
        }
    }
}

.ui-datepicker table td.ui-not-available {
    a,
    span {
        background: @red !important;
        color: white !important;
    }
}

.ui-datepicker table td:not(.ui-not-available) + .ui-datepicker table td.ui-not-available {
    a,
    span {
        border-radius: 50% 0 0 50% !important;
    }
}

.ui-datepicker table td.ui-booked {
    opacity: 1 !important;
    a,
    span {
        background: #23af40 !important;
        color: white !important;
    }
}

.ui-widget-content {
    // border-color: @blue !important;
}

.ui-datepicker table td {
    border: 0;
    padding: 3px 0;
}

.ui-datepicker table td a.ui-state-default.ui-state-active {
    border-radius: 3px;
    border: solid 1px #0072a0 !important;
    color: #0072a0 !important;
    background: transparent !important;
}

.ui-datepicker-unselectable.ui-state-disabled {
    opacity: 0;
}