/* Default custom select styles */

div.cs-select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    background: #fff;
    z-index: 100;
    width: 100%;
    max-width: 500px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    .no-editable & {
        pointer-events: none;
        color: @gray;
    }
}

div.cs-select:focus {
    outline: none;
    /* For better accessibility add a style for this in your skin */
}

.cs-select select {
    display: none;
}

.cs-select span {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Placeholder and selected option */

.cs-select > span {
    padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
    speak: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
    content: '\ea6a';
    right: 1em;
}

.cs-select .cs-selected span::after {
    content: '\e672';
    margin-left: 1em;
}

.cs-select.cs-active > span::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
    z-index: 200;
}


/* Options */

.cs-select .cs-options {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    visibility: hidden;
}

.cs-select.cs-active .cs-options {
    visibility: visible;
}

.cs-select ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.cs-select ul span {
    padding: 1em;
}

.cs-select ul li.cs-focus span {
    background-color: #fdfdfd;
}


/* Optgroup and optgroup label */

.cs-select li.cs-optgroup ul {
    padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
    cursor: default;
}

.cs-selected span {
    color: @blue;
}

div.cs-skin-underline {
    background: transparent;
    // font-size: 1.8em;
    // max-width: 400px;

    li.icon {
        position: relative;

        i {
            position: absolute;
            top: 50%;
            .transform(translate(-150%,-50%));
        }
       span {
        padding-left: 30px;
       }
    }
}

@media screen and (max-width: 30em) {
    // div.cs-skin-underline { 
    //     font-size: 1.2em; 
    // }
}

.cs-skin-underline > span {
    padding: 0.75em 3em 0.75em 0.5em;
    border-bottom: solid 1px @gray;
    padding-left: 35px;
    .no-editable & {
        border-bottom: none !important;
    }
    .no-underline & {
        border-bottom: none !important;
    }
}

.cs-skin-underline.no-icon > span {
    padding-left: 0;
}

.cs-skin-underline > span::after {
    font-family: 'Nucleo Outline';
    content: '\ea6a';
    right: 0.25em;
    -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 0deg);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    .no-editable & {
        content: '';
    }
}

.cs-skin-underline.cs-active > span::after {
    -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 180deg);
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 180deg);
}

.cs-skin-underline .cs-options {
    background: #fdfdfd;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
    transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
}

.cs-skin-underline.cs-active .cs-options {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.cs-skin-underline ul span {
    position: relative;
    // text-transform: uppercase;
    // font-size: 66%;
    // font-weight: 700;
    // letter-spacing: 1px;
    padding: 1.2em 0.8em;
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.cs-select ul span::after {
    content: '';
    opacity: 0;
}

.cs-select .cs-selected span::after {
    font-family: 'Nucleo Outline';
    content: '\e672';
    opacity: 1;
    -webkit-transition: opacity 0.3s 0.7s;
    transition: opacity 0.3s 0.7s;
}

.cs-skin-underline ul span::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: @gray;
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.cs-skin-underline.cs-active ul span,
.cs-skin-underline.cs-active ul span::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.cs-skin-underline li:nth-child(5) span,
.cs-skin-underline li:nth-child(5) span::before,
.cs-skin-underline.cs-active li:first-child span,
.cs-skin-underline.cs-active li:first-child span::before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.cs-skin-underline li:nth-child(4) span,
.cs-skin-underline li:nth-child(4) span::before,
.cs-skin-underline.cs-active li:nth-child(2) span,
.cs-skin-underline.cs-active li:nth-child(2) span::before {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.cs-skin-underline li:nth-child(3) span,
.cs-skin-underline li:nth-child(3) span::before {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.cs-skin-underline li:nth-child(2) span,
.cs-skin-underline li:nth-child(2) span::before,
.cs-skin-underline.cs-active li:nth-child(4) span,
.cs-skin-underline.cs-active li:nth-child(4) span::before {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(5) span,
.cs-skin-underline.cs-active li:nth-child(5) span::before {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}


/* more items require more delay declarations */

.cs-skin-underline .cs-options li span:hover,
.cs-skin-underline .cs-options li.cs-focus span,
.cs-skin-underline li.cs-selected span {
    color: #566473;
    background: transparent;
}

.bs-select-icon + .cs-select {
    margin-top: -55px;
}
