//
// Common
// --------------------------------------------------
.text-normal {
    &,
    a&,
    &:hover,
    &:focus {
        color: inherit;
    }
}

.text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mobile-collapse {
    @media( min-width: @grid-float-breakpoint) {
        &.collapse {
            display: block;
            visibility: visible;
        }
    }
}

.hide-on-click {
    display: none;
    visibility: hidden;
    &.collapsed {
        display: block;
        visibility: visible;
    }
}

.toggle-text {
    .show-collapse {
        display: block;
        visibility: visible;
    }
    .hide-collapse {
        display: none;
        visibility: hidden;
    }
    &.collapsed {
        .show-collapse {
            display: none;
            visibility: hidden;
        }
        .hide-collapse {
            display: block;
            visibility: visible;
        }
    }
}

.stacked-border {
    + .stacked-border {
        padding-top: @content-padding;
        border-top: 1px solid @border-color;
    }
}

.border-radius {
    border-top-left-radius: @border-radius-base;
    border-top-right-radius: @border-radius-base;
    border-bottom-right-radius: @border-radius-base;
    border-bottom-left-radius: @border-radius-base;
}

.border-top-radius {
    .border-top-radius( @border-radius-base);
}

.border-right-radius {
    .border-right-radius( @border-radius-base);
}

.border-bottom-radius {
    .border-bottom-radius( @border-radius-base);
}

.border-left-radius {
    .border-left-radius( @border-radius-base);
}

.btn-fixed {
    position: fixed;
    padding: @content-padding-half @content-padding;
    border: 0 solid @border-color;
    width: auto;
    background-color: @panel-bg;
    .box-shadow( 0 3px 9px rgba( 0, 0, 0, 0.5));
    z-index: 10;
    &.top {
        top: 0;
        right: 0;
        left: 0;
        bottom: inherit;
        border-bottom-width: 1px;
    }
    &.bottom {
        right: 0;
        bottom: 0;
        left: 0;
        top: inherit;
        border-top-width: 1px;
    }
    @media( min-width: @grid-float-breakpoint) {
        display: none;
    }
}

.dropdown-menu.dropdown-form {
    padding: @content-padding-half;
}

.dropdown.open {
    > a {
        z-index: 1001;
        &:before,
        &:after {
            content: '';
            position: absolute;
            display: inline-block;
            bottom: -1px;
            left: 50%;
            width: 0;
            height: 0;
            border: 0 solid transparent;
            .rotate( 360deg);
        }
        &:before {
            margin-left: -8px;
            border-width: 0 7px 7px;
            border-bottom-color: darken( @dropdown-bg, 30%);
            //  border-bottom-color: rgba( 0, 0, 0, 0.30 );
        }
        &:after {
            margin-left: -7px;
            border-width: 0 6px 6px;
            border-bottom-color: @white;
        }
    }
}

.panel-vertical {}

.panel-horizontal {
    .panel-image {
        position: relative;
        padding-bottom: 67%;
    }
    .panel-information {
        position: relative;
    }
    @media( min-width: @grid-float-breakpoint) {
        display: table;
        width: 100%;
        height: 100%;
        border-collapse: separate;
        .panel-image {
            display: table-cell;
            padding-left: ( @grid-gutter-width / 2);
            padding-right: ( @grid-gutter-width / 2);
            padding-bottom: 0;
            width: 40%;
            vertical-align: middle;
        }
        .panel-information {
            display: table-cell;
            padding-left: ( @grid-gutter-width / 2);
            padding-right: ( @grid-gutter-width / 2);
            width: 60%;
            vertical-align: top;
        }
    } // @media
}

.list-collapse {}

.media-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.panel-close,
.alert-close,
.modal-close {
    float: right;
    cursor: pointer;
    font-size: 2em;
    line-height: 0.7;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    color: @text-color;
}

.bs-site-panel {
    padding: ( @content-padding-double) 0 @content-padding-double;
    // padding: ( @content-padding-double + @content-padding) 0 @content-padding-double;
    &.flush {
        padding: 0;
    }
    &.flush-top {
        padding-top: 0;
    }
    &.flush-bottom {
        padding-bottom: 0;
    }
    &.bg-white {
        background-color: @white;
    }
    &.bg-light-gray {
        background-color: @gray-lighter;
    }
    &.bg-lightest-gray {
        background-color: @gray-lightest;
    }
    &.bg-gray {
        background-color: @gray;
    }
    &.bg-dark-gray {
        background-color: @gray-darker;
    }
    &.bg-black {
        background-color: @black;
    }
    &.bg-red {
        background-color: @red;
    }
    &.bg-orange {
        background-color: @blue;
    }
    &.bg-yellow {
        background-color: @yellow;
    }
    &.bg-green {
        background-color: @green;
    }
    &.bg-blue {
        background-color: @blue;
    }
    &.bg-dark-blue {
        background-color: @dark-blue;
    }
    &.bg-purple {
        background-color: @purple;
    }
    &.bg-red,
    &.bg-orange,
    &.bg-green,
    &.bg-blue,
    &.bg-purple {
        color: @white;
    }
    &#captains-overview {
        [class*="col-"] [class*="col-"] {
            border-color: @white;
            margin-bottom: 0;
            @media( min-width: @grid-float-breakpoint) {
                margin-bottom: @content-margin-double;
            }
        }
    }
}

//
// Custom
// --------------------------------------------------

/*body,
html {
height: 100%;
}*/

//
// Wrapper
// ----------------------------------------
.bs-site-wrapper {
    position: relative;
    left: 0;
    min-height: 100%;
    z-index: 2;
    background: @body-bg;
    padding-top: @content-margin;
}

//
// Header
// ----------------------------------------
.navbar-brand {
    position: relative;
    width: 195px;
    margin-left: ( @grid-gutter-width / 2);
    background: url('images/logo-desktop-boatsetter.png') 15px center no-repeat;
    text-indent: -9999px;
}

.brand-tagline {
    position: absolute;
    left: 185px;
    top: 37px;
    display: none;
    font-size: 12px;
    .font-family-open-sans( light);
    text-indent: 0;
    white-space: nowrap;
    @media( min-width: @grid-float-breakpoint) {
        display: block;
    }
    @media( max-width: @screen-lg) {
        display: none;
    }
}

.navbar-right {
    margin-right: ( @grid-gutter-width / 2);
}

.bs-site-nav {
    margin-bottom: 0;
    .navbar-nav > li {
        float: left;
    }
}

.bs-navbar-desktop,
.bs-notifications-mobile {
    .list-inline {
        margin-top: 12px;
    }
    .nav-icon .fa {
        font-size: 18px;
    }
    .search-dropdown {
        margin-left: 10px;
        .dropdown-menu.dropdown-form {
            width: 430px;
        }
    }
    .nav-button {
        margin-left: 20px;
    }
    .user-account-dropdown {
        &.bubble-active {
            &:before {
                content: '';
                position: absolute;
                top: 18px;
                right: 13px;
                width: 0;
                height: 0;
                border: 4px solid @brand-secondary;
                border-radius: 100%;
            }
            > a .fa {
                color: @brand-primary;
            }
        }
        .dropdown-menu {
            padding-top: 0;
            padding-bottom: 0;
            width: 300px;
            font-size: @font-size-small;
        }
    }
}

.dropdown-menu {
    .tab-pane {
        padding: 0;
        margin: 0;
    }
}

.user-notications {
    @media( max-width: @grid-float-breakpoint) {
        &.dropdown-menu {
            position: relative;
            top: auto;
            left: auto;
            //  display: block !important;
            float: none;
        }
    }
    .nav-tabs,
    .nav-tabs.nav-justified {
        width: 100%;
        > li {
            display: table-cell;
            float: none;
            width: 1%;
            > a {
                &,
                &:hover,
                &:focus {
                    border-top-color: transparent;
                    border-left-color: transparent;
                    border-right-color: transparent;
                    border-radius: 0;
                    color: @text-color;
                    font-size: @font-size-base;
                    .badge {
                        color: @white;
                        background-color: @brand-secondary;
                    }
                }
            }
            &.active > a {
                border-bottom-color: transparent;
            }
            + li > a {
                &,
                &:hover,
                &:focus {
                    border-left-color: @nav-tabs-active-link-hover-border-color;
                }
            }
        }
    }
}

.user-messages,
.active-trips {
    li {
        a {
            display: block;
            padding: @content-margin-half;
            padding-bottom: 0;
            border-top: 1px solid @border-color;
            .clearfix();
            &.new {
                // background-color: @gray-lightest;
            }
        }
        &:first-child a {
            border-top: none;
        }
        ;
    }
    p {
        margin-bottom: @content-margin-half;
    }
    .img-responsive {
        float: left;
        margin-right: 10px;
    }
    //  li + li {
    //      border-top: 1px solid @border-color;
    //      padding-top: @content-padding-half;
    //  }
    img {
        position: relative;
        top: 5px;
        margin-bottom: 25px;
    }
}

//
// Footer
// ----------------------------------------
.bs-site-footer {
    padding: @content-padding-double 0 ( @content-padding-double + @content-padding);
    color: @gray;
    font-size: @font-size-small;
    background-color: #e2e9ec;
    hr {
        margin-top: 0;
    }
    .btn-social-icon {
        margin-right: 3px;
    }
    .list-links {
        h5 {
            font-size: @font-size-base;
            margin-top: 0;
            margin-bottom: @content-margin;
            color: @gray;
            font-weight: 400;
            &.toggle-header {
                position: relative;
                cursor: pointer;
            }
        }
        a {
            display: inline-block;
            padding: 2px 0;
            color: @gray;
        }
        @media( min-width: @grid-float-breakpoint) {
            h5 {
                margin-bottom: @content-margin-half;
            }
            ul {
                margin-bottom: @content-margin-double;
            }
            .collapse {
                display: block;
                height: auto;
                visibility: visible;
            }
        }
    }
    .leader-recommendation {
        padding: @content-padding-half @content-padding;
        border: 1px solid @brand-primary;
        border-radius: @content-margin-half;
        margin-bottom: @content-margin;
        font-size: @font-size-large;
        text-align: center;
        strong {
            font-size: @font-size-xlarge;
        }
    }
}

//
// Slideshows
// ----------------------------------------
//
// Flexslider
// ------------------------------
.flexslider-fullwidth {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    z-index: 1;
    .flexslider-loading .slide-image {
        display: none;
    }
    .slides {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            position: absolute;
            top: 0;
            left: 0;
            display: block; // Fix for anchor tag
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            list-style: none;
            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
            }
        }
    }
}

//
// Filters
// ------------------------------
#filter {
    z-index: 100;
    &.is_stuck {
        border: 1px solid @border-color;
        border-top-width: 0;
    }
}

//
// Results
// ------------------------------
.results-wrapper {
    padding: 0 @content-padding;
    background-color: @white;
}

//
// Avatar
// ------------------------------
.avatar {
    &.avatar-overlay {
        position: absolute;
        border: 1px solid @border-color;
        &.avatar-xs-top-left {
            top: -@content-margin-half;
            right: auto;
            bottom: auto;
            left: @content-margin;
        }
        &.avatar-xs-left-top {
            top: @content-margin-half;
            right: auto;
            bottom: auto;
            left: -@content-margin;
        }
        &.avatar-xs-top-right {
            top: -@content-margin-half;
            right: @content-margin;
            bottom: auto;
            left: auto;
        }
        &.avatar-xs-right-top {
            top: @content-margin-half;
            right: -@content-margin;
            bottom: auto;
            left: auto;
        }
        &.avatar-xs-bottom-left {
            top: auto;
            right: auto;
            bottom: -@content-margin-half;
            left: @content-margin;
        }
        &.avatar-xs-left-bottom {
            top: auto;
            right: auto;
            bottom: @content-margin-half;
            left: -@content-margin;
        }
        &.avatar-xs-bottom-right {
            top: auto;
            right: @content-margin;
            bottom: -@content-margin-half;
            left: auto;
        }
        &.avatar-xs-right-bottom {
            top: auto;
            right: -@content-margin;
            bottom: @content-margin-half;
            left: auto;
        }
        @media ( min-width: @screen-sm) {
            &.avatar-sm-top-left {
                top: -@content-margin-half;
                right: auto;
                bottom: auto;
                left: @content-margin-half;
            }
            &.avatar-sm-left-top {
                top: @content-margin-half;
                right: auto;
                bottom: auto;
                left: -@content-margin-half;
            }
            &.avatar-sm-top-right {
                top: -@content-margin-half;
                right: @content-margin-half;
                bottom: auto;
                left: auto;
            }
            &.avatar-sm-right-top {
                top: @content-margin-half;
                right: -@content-margin-half;
                bottom: auto;
                left: auto;
            }
            &.avatar-sm-bottom-left {
                top: auto;
                right: auto;
                bottom: -@content-margin-half;
                left: @content-margin-half;
            }
            &.avatar-sm-left-bottom {
                top: auto;
                right: auto;
                bottom: @content-margin-half;
                left: -@content-margin-half;
            }
            &.avatar-sm-bottom-right {
                top: auto;
                right: @content-margin-half;
                bottom: -@content-margin-half;
                left: auto;
            }
            &.avatar-sm-right-bottom {
                top: auto;
                right: -@content-margin-half;
                bottom: @content-margin-half;
                left: auto;
            }
        }
        @media ( min-width: @screen-md) {
            &.avatar-md-top-left {
                top: -@content-margin-half;
                right: auto;
                bottom: auto;
                left: @content-margin-half;
            }
            &.avatar-md-left-top {
                top: @content-margin-half;
                right: auto;
                bottom: auto;
                left: -@content-margin-half;
            }
            &.avatar-md-top-right {
                top: -@content-margin-half;
                right: @content-margin-half;
                bottom: auto;
                left: auto;
            }
            &.avatar-md-right-top {
                top: @content-margin-half;
                right: -@content-margin-half;
                bottom: auto;
                left: auto;
            }
            &.avatar-md-bottom-left {
                top: auto;
                right: auto;
                bottom: -@content-margin-half;
                left: @content-margin-half;
            }
            &.avatar-md-left-bottom {
                top: auto;
                right: auto;
                bottom: @content-margin-half;
                left: -@content-margin-half;
            }
            &.avatar-md-bottom-right {
                top: auto;
                right: @content-margin-half;
                bottom: -@content-margin-half;
                left: auto;
            }
            &.avatar-md-right-bottom {
                top: auto;
                right: -@content-margin-half;
                bottom: @content-margin-half;
                left: auto;
            }
        }
        @media ( min-width: @screen-lg) {
            &.avatar-lg-top-left {
                top: -@content-margin-half;
                right: auto;
                bottom: auto;
                left: @content-margin-half;
            }
            &.avatar-lg-left-top {
                top: @content-margin-half;
                right: auto;
                bottom: auto;
                left: -@content-margin-half;
            }
            &.avatar-lg-top-right {
                top: -@content-margin-half;
                right: @content-margin-half;
                bottom: auto;
                left: auto;
            }
            &.avatar-lg-right-top {
                top: @content-margin-half;
                right: -@content-margin-half;
                bottom: auto;
                left: auto;
            }
            &.avatar-lg-bottom-left {
                top: auto;
                right: auto;
                bottom: -@content-margin-half;
                left: @content-margin-half;
            }
            &.avatar-lg-left-bottom {
                top: auto;
                right: auto;
                bottom: @content-margin-half;
                left: -@content-margin-half;
            }
            &.avatar-lg-bottom-right {
                top: auto;
                right: @content-margin-half;
                bottom: -@content-margin-half;
                left: auto;
            }
            &.avatar-lg-right-bottom {
                top: auto;
                right: -@content-margin-half;
                bottom: @content-margin-half;
                left: auto;
            }
        }
    }
}

//
// Rating
// ------------------------------
.rating {
    position: relative;
    display: inline-block;
    color: @gray;
    .fa {
        font-size: @font-size-large;
        &.icon-active {
            color: @brand-secondary;
        }
    }
    .rating-count {
        position: relative;
        top: -2px;
    }
    .fa + .rating-count {
        margin-left: @content-margin-quarter;
    }
    .rating-count + .fa {
        margin-left: @content-margin-quarter;
    }
    &.checkbox {
        margin-bottom: @content-margin-quarter;
        + .rating.checkbox {
            margin-top: @content-margin-half;
        }
    }
}

.table-title {
    margin-bottom: @content-margin-half;
    color: @gray-dark;
}

.vessel {
    margin-bottom: @content-margin-half;
    font-size: @font-size-large;
}

.price {
    //  color: @gray-dark;
    font-size: @font-size-xlarge;
    font-weight: 500;
}

.information {
    color: lighten( @text-color, 10%);
    font-size: @font-size-small;
    .trip-info {
        @media ( max-width: @grid-float-breakpoint) {
            margin-bottom: ( @content-margin + 5);
        }
        li + li {
            margin-top: @content-margin-half;
        }
    }
}

.boat-card-info {
    .boat-info-primary {
        display: block;
        // margin-bottom: @content-margin-quarter;
        line-height: 20px;
        .clearfix();
    }
    .boat-info-secondary {
        display: block;
        margin-bottom: @content-margin;
        line-height: 20px;
        .clearfix();
    }
    .vessel {}
    .location,
    .duration {}
    .price {
        position: relative;
        top: -2px;
    }
}

.review {
    position: relative;
    .review-heading {
        padding-left: 100px;
    }
    .avatar {
        float: left;
        margin-left: -100px;
    }
    .author {
        font-size: @font-size-medium;
    }
    .date {
        display: block;
        margin-bottom: @content-margin-half;
        color: @gray-light;
        font-size: @font-size-small;
    }
    @media ( max-width: @grid-float-breakpoint) {
        .review-heading {
            margin-bottom: @content-margin-half;
            .clearfix();
        }
    }
    @media ( min-width: @grid-float-breakpoint) {
        .review-body {
            padding-left: 100px;
        }
        .date {
            margin-bottom: @content-margin;
        }
        .rating {
            position: absolute;
            top: 0;
            right: 0;
        }
        + .review {
            .rating {
                top: @content-margin;
            }
        }
    }
}

.panel-boat-detail {
    .information-primary {
        border: 1px solid red;
    }
}

.captain {
    position: relative;
    .captain-heading {
        padding-left: 100px;
    }
    .avatar {
        float: left;
        margin-left: -100px;
    }
    .author {
        font-size: @font-size-medium;
    }
    .location {
        display: block;
        margin-bottom: @content-margin-half;
        color: @gray-light;
        font-size: @font-size-small;
    }
    .rating {
        margin-bottom: @content-margin-half;
    }
    .price {
        position: absolute;
        top: 0;
        right: 0;
    }
    .captain-price .pull-right {
        position: absolute;
        right: 0;
        top: 0;
    }
    @media ( max-width: @grid-float-breakpoint) {
        .captain-heading {
            margin-bottom: @content-margin-half;
            .clearfix();
        }
    }
    @media ( min-width: @grid-float-breakpoint) {
        .captain-body {
            padding-left: 100px;
        }
        + .captain {
            .price {
                top: @content-margin;
            }
        }
    }
}

.navbar-filter {
    margin-bottom: 0;
    .price-range {
        display: block;
        margin-bottom: @content-margin-half;
        text-align: center;
    }
    &.navbar {
        min-height: 0;
        //  margin-bottom: @content-margin;
    }
    .nav > li > a.dropdown-toggle {
        text-align: left;
        white-space: nowrap;
        .fa {
            margin-right: @content-margin-half;
        }
        .caret {
            float: right;
            margin-top: @content-margin-half;
        }
        @media ( min-width: @grid-float-breakpoint) {
            text-align: center;
            .caret {
                float: none;
                margin-top: 0;
                margin-left: @content-margin-half;
            }
        }
    }
    .dropdown-form {
        width: 400px;
        max-height: 300px;
        //  background-color: lighten( @brand-primary, 45% );
        background-color: @gray-lightest;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        p {
            margin-bottom: @content-margin-half;
        }
        &.dropdown-filter-boat {
            width: auto;
            @media ( min-width: @grid-float-breakpoint) {
                width: 400px;
            }
        }
        &.dropdown-filter-price,
        &.dropdown-filter-captain {
            width: auto;
            @media ( min-width: @grid-float-breakpoint) {
                width: 300px;
            }
        }
        &.dropdown-filter-more {
            width: auto;
            @media ( min-width: @screen-md-min) {
                width: 690px;
            }
            @media ( min-width: @screen-lg-min) {
                width: 840px;
            }
        }
        @media ( min-width: @grid-float-breakpoint) {
            max-height: none;
        }
    }
    .nav {
        &.navbar-nav {
            margin: 0;
        }
        > li {
            + li {
                border-top: 1px solid @gray-light;
            }
            > a {
                padding: @content-margin-half @content-margin;
                //  color: @text-color;
                text-align: center;
                &:hover {
                    color: @brand-primary;
                    background-color: transparent;
                }
            }
            &.open {
                > a,
                > a:hover,
                > a:focus {
                    color: @brand-primary;
                    background-color: transparent;
                }
            }
        }
    }
    // Mobile Only
    @media ( max-width: @grid-float-breakpoint) {
        .filterbar-collapse {
            overflow: hidden;
        }
    }
    // Desktop Only
    @media ( min-width: @grid-float-breakpoint) {
        margin-left: -@content-margin;
        margin-right: -@content-margin;
        .collapse {
            display: block;
            visibility: visible;
        }
        .nav {
            position: relative;
            display: table;
            width: 100%;
            table-layout: fixed;
            border-collapse: separate;
            > li {
                display: table-cell;
                float: none;
                border: 1px solid transparent;
                width: 100%;
                vertical-align: top;
                + li {
                    border-top-color: transparent;
                }
                &:first-child + li ~ li {
                    border-left-color: @border-color;
                }
                > a {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

.how-it-works {
    padding: ( @line-height-computed * 3) 0 @line-height-computed;
    color: @white;
    background-color: @brand-primary;
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        color: @white;
    }
    .fa {
        margin-bottom: @line-height-computed;
        font-size: ( @font-size-xlarge * 1.5);
    }
    .close {
        position: relative;
        top: -@line-height-computed;
        left: -1px;
        display: block;
        border: 2px solid @white;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        line-height: 26px;
        color: @white;
        font-size: @font-size-medium;
        .opacity( 0.6);
        box-shadow: @close-text-shadow;
    }
}

.home-toggle-form {
    padding: @content-padding;
    padding-bottom: 0;
    margin-bottom: @content-margin;
    color: @white;
    z-index: 50;
    .clearfix();
}

.slideshow-overlay {
    z-index: 100;
}

.boat-search {
    padding: @content-padding;
    padding-bottom: 0;
    border: 1px solid #d9dcdd;
    border-radius: @border-radius-base;
    background-color: #e2e9ec;
    p {
        display: inline-block;
        line-height: @input-height-base;
        font-size: @font-size-large;
        .fa {
            margin-right: @content-margin-half;
        }
    }
    .form-inline .form-control {
        width: 200px;
    }
}

.destination-card {
    position: relative;
    //  margin: 0 ( @line-height-computed / 2 );
    height: 170px;
    background-color: @gray;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    a {
        padding-left: @content-padding;
        padding-right: @content-padding;
        background-color: rgba( 255, 255, 255, 0);
        .transition( background-color .15s linear);
    }
    .destination-card-location {
        margin: 0;
        color: @white;
        .font-family-open-sans( bold);
        text-transform: uppercase;
    }
    &:hover {
        a {
            background-color: rgba( 255, 255, 255, 0.3);
            text-decoration: none;
        }
    }
}

@media ( max-width: 979px) {
    .navbar-nav .dropdown-menu.dropdown-no-collapse {
        position: absolute;
    }
}

.hero-wrapper {
    position: relative;
    height: 400px;
    overflow: hidden;
    @media ( min-width: @screen-sm) {
        height: 600px;
    }
    @media ( max-width: @screen-md) {
        height: 200px;
    }
    .hero-video {
        background: url(/images/hero.jpg);
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -1;
        #sandwich-video {
            position: absolute;
            bottom: 0;
            height: 100%;
            //  width: auto;
            @media ( min-width: @grid-float-breakpoint) {
                height: auto;
                width: 100%;
            }
            audio,
            canvas,
            video {
                display: inline-block;
            }
            @media ( max-width: @screen-md) {
                display: none;
            }
        }
        @media ( min-width: @screen-md) {
            background: none;
        }
    }
    .caption-area {
        position: relative;
        height: 400px;
        width: 100%;
        color: @white;
        @media ( min-width: @screen-sm) {
            height: 600px;
        }
        @media ( max-width: @screen-md) {
            height: 200px;
        }
        .headline {
            font-size: 30px;
            font-weight: 400;
            @media ( min-width: @screen-sm) {
                font-size: 60px;
            }
        }
        .subheadline {
            font-size: 14px;
            @media ( min-width: @screen-sm) {
                font-size: 18px;
            }
        }
    }
}

#home-slideshow {
    // background: url(/images/hero.jpg);
    background-size: cover;
    @media ( max-width: @screen-md) {
        .flexslider {
            // display: none;
        }
    }
    @media ( min-width: @screen-md) {
        background: none;
    }
}

//
// Locations Map
// ------------------------------
#sticky-map {
    // height: 100%;
}

.map {
    width: 100%;
    height: 300px;
    margin-bottom: 25px;
    @media ( max-width: @grid-float-breakpoint) {
        height: 250px;
        margin-bottom: 0px;
    }
}

#map-canvas-locations {
    width: 100%;
    height: 100%;
    height: calc(100% - 0px);
    margin-top: -20px;
}

.columns-3 {
    .columns ( 3,
    200px);
}

//
// OVERRIDES, FOR LATER IMPLEMENTATION
// -----------------------------------------
html .modal-open:parent {
    overflow: hidden;
}

body {
    /* overflow-y: scroll;*/
    /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    font-weight: 100;
}

ul {
    padding-left: 25px;
    list-style-position: outside;
    li {
        // line-height: 1.2em !important;
        // margin-bottom: 10px;
    }
}

input[type="radio"] {
    border: 2px solid @gray;
}

.ui-datepicker table td a.ui-state-default.ui-state-active {
    border-radius: 3px;
    background-color: @blue !important;
}

#myTab a {
    @media ( max-width: @screen-sm) {
        padding: 10px;
    }
}

#search-main {
    z-index: 20;
    color: @white;
}

.breadcrumb-group .breadcrumb {
    background: @gray-light;
    color: @white;
    .badge {
        background: @white;
        color: @gray-light;
    }
    &:not(:last-child):after {
        border-left: 10px solid @gray-light;
    }
}

.ui-datepicker-inline {
    margin: 0 auto;
}

.btn-social-icon {
    border: none;
    em {
        margin-top: 2px;
    }
}

.has-error .form-control,
.has-error .form-control:focus {
    border-color: #cc0000;
}

.modal {
    // z-index: 2;
}

//
// FLEX HOME SLIDER FIXES
// -----------------------------------------
.slideshow-overlay {
    pointer-events: none;
}

#form-standard-search .home-toggle-form,
#form-advanced-search .home-toggle-form {
    pointer-events: all;
    padding-left: 40px;
    padding-right: 40px;
}

.flex-control-nav {
    z-index: 15;
}

.flex-direction-nav {
    height: 100%;
    width: 100%;
    z-index: 5;
    position: absolute;
    top: 0;
    border: none;
    li {
        position: relative;
        height: 100%;
        width: 50%;
        float: left;
    }
    a {
        height: 100%;
        border: none;
        i {
            width: 50px;
            height: 42px;
            top: ~"calc(50% - 42px)";
            position: relative;
            margin: 15px;
        }
    }
}

//
// NOTIFICATIONS (bell)
// -----------------------------------------
header .container {
    position: relative;
}

.bs-notifications-mobile {
    .navbar-nav {
        margin: 0 15px 0 0;
    }
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    width: ~"calc(100% - 15px)";
    pointer-events: none;
    ul {
        padding: 0;
    }
    li {
        width: 100%;
        &.new:before {
            content: " ";
            position: absolute;
            width: 8px;
            height: 8px;
            background: @orange;
            border-radius: 50%;
            right: 58px;
            top: 15px;
        }
        a {
            pointer-events: all;
            padding-top: 22.5px;
            padding-bottom: 22.5px;
        }
    }
    .user-account-dropdown .dropdown-menu {
        width: 100%;
        margin-top: 65px;
        border-radius: 0;
        li {
            padding: 10px;
            border-bottom: solid 1px @gray-lightest;
            img {
                width: 45px;
                height: 45px;
            }
            p {
                display: inline-block;
                margin: 5px 10px;
                vertical-align: top;
            }
        }
    }
    .dropdown-toggle {
        float: right;
        margin-right: 40px;
        &:after {
            border-bottom-color: #f6f6f6;
        }
    }
    .title {
        color: @blue;
        background: @gray-lightest;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 0.9em;
        padding: 5px 10px;
    }
    .bs-messages-mobile img {
        border-radius: 50%;
    }
    .dropdown.open>a:after {
        border-bottom-color: #f6f6f6;
    }
}

#user-dropdown-profile-tabs {
    padding-top: 0;
    height: 28px;
    li {
        height: 26px;
        a {
            background: @gray-lightest;
            padding: 2px;
            border-radius: 0;
            border: none;
            margin: 0;
            padding: 5px;
        }
        &.active a {
            background: @white;
            color: @blue;
            border: none;
            .badge {
                background: @orange;
            }
        }
    }
}

#user-dropdown-profile-tabs + div {
    @media ( max-width: @screen-sm) {
        margin-top: 30px;
    }
}

//
// PROFILE PHOTO
// -----------------------------------------
.profile-photo {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    margin: 15px auto;
    box-shadow: 0 0 0 1px @gray-light;
    img {
        // margin-left: -25%;
    }
}

//
// HELPERS
// -----------------------------------------
.padding-none-xs {
    @media ( max-width: @screen-xs) {
        padding: 0;
    }
}

.padding-none-sm {
    @media ( min-width: @screen-sm) {
        padding: 0;
    }
}

.block-xs {
    @media ( max-width: @screen-xs) {
        width: 100%;
        display: block;
    }
}

.smaller {
    font-size: 75%;
}

.bigger {
    font-size: 150%;
    font-weight: 200;
}

.biggest {
    font-size: 240%;
}

.btn-xl {
    font-size: 130%;
    padding: 20px 30px;
}

.small-xs {
    @media ( max-width: @screen-xs) {
        font-size: 90%;
        line-height: 110%;
    }
}

.text-left-xs {
    @media ( max-width: @screen-xs) {
        text-align: left;
    }
}

.text-right-xs {
    @media ( max-width: @screen-xs) {
        text-align: right;
    }
}

.margin-left-none {
    margin-left: 0;
}

.no-underline {
    a {
        text-decoration: none;
    }
}

hr.blue {
    border: 1px @blue solid;
}

.btn-white {
    .button-variant(@blue;
    @white;
    @white);
    &.btn-knockout {
        .button-variant( @white;
        transparent;
        @white;
        @white;
        transparent;
        @white);
    }
}

.relative {
    position: relative;
}

.text-shadow {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.light-placeholder {
    &::-webkit-input-placeholder {
        /* WebKit browsers */
        color: @gray-light !important;
    }
    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: @gray-light !important;
        opacity: 1;
    }
    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: @gray-light !important;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: @gray-light !important;
    }
}

.custom-list {
    position: relative;
    overflow: hidden;
}

.circle-number {
    display: inline-block;
    float: left;
    border: 1px @blue solid;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    // padding: 0 5px;
    color: @blue;
    text-align: center;
    margin: 0 10px 20px 0;
    .white &,
    .active & {
        border: 1px @white solid;
        color: @white;
    }
    &.no-border {
        border: none;
    }
    &.no-bottom {
        margin-bottom: 0;
    }
    &.margin-left {
        margin-left: 30px;
    }
}

.password-tip {
    position: relative;
    .icon {
        position: absolute;
        left: ~"calc(100% + 5px)";
        top: 7px;
        display: block;
        float: left;
        border: 1px @blue solid;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        padding: 0 5px;
        color: @blue;
        text-align: center;
        margin: 0 10px 20px 0;
        cursor: pointer;
        a {
            text-decoration: none;
        }
    }
}

.tip {
    position: relative;
    .icon {
        top: 7px;
        display: inline-block;
        border: 1px #39c solid;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        padding: 0 5px;
        color: #39c;
        text-align: center;
        margin: 0;
        cursor: pointer;
        a {
            text-decoration: none;
        }
    }
}

input.required {
    &:before {
        content: "\f069";
        position: absolute;
        right: 5px;
        top: 5px;
        color: red;
    }
}

.close.normal {
    font-size: 26px;
}

.cursor {
    cursor: pointer;
}

.white-tooltip {
    .tooltip {
        opacity: 1;
    }
    .tooltip-inner {
        background-color: @gray-lightest;
        color: @gray;
        box-shadow: 0 0 0px 1px @gray;
    }
    .tooltip.top .tooltip-arrow {
        border: 1px solid @gray;
        border-top: none;
        border-left: none;
        background: @gray-lightest;
        width: 8px;
        height: 8px;
        .transform( rotate(45deg))
    }
}

.white-link {
    text-decoration: none;
    color: white;
    &:hover,
    &:active,
    &:visited,
    &:focus {
        text-decoration: none;
        color: white;
    }
    &:hover {
        opacity: 0.9 !important;
    }
}

.border-gray {
    box-shadow: inset 0 0 0 5px fade(@red, 20%);
}

.popover {
    border-radius: 4px;
    border: none;
    box-shadow: none;
    background-color: @blue;
    color: white;
    &.top {
        margin-top: 0;
        &>.arrow {
            left: 50%;
            margin-left: -11px;
            border-bottom-width: 0;
            border-top-color: @blue;
            bottom: -11px;
            &:after {
                display: none;
            }
        }
    }
    .popover-content {
        padding: 3px 6px;
    }
}

//
// RADIO BUTTONS
// -----------------------------------------
input[type=radio] {
    // vertical-align: top;
}

@button-size: 16px;
input[type=radio]:before {
    content: " ";
    position: absolute;
    top: -2px;
    left: -2px;
    width: @button-size;
    height: @button-size;
    background: @white;
    border-radius: 50%;
    box-shadow: 0 0 0 2px @gray-light;
}

input[type=radio]:checked:after {
    content: " ";
    position: absolute;
    top: @button-size/4 - 2;
    left: @button-size/4 - 2;
    width: @button-size/2;
    height: @button-size/2;
    background: @gray-light;
    border-radius: 50%;
}

.checkbox-inline {
    // padding-left: 30px;
}

input[type=checkbox] {
    vertical-align: top;
    margin-right: 10px;
    margin-top: 1px;
}

input[type=checkbox]:before {
    content: " ";
    position: absolute;
    width: @button-size;
    height: @button-size;
    background: @white;
    border-radius: 3px;
    box-shadow: 0 0 0 1px @gray-light;
    top: 0;
}

input[type=checkbox]:checked:after {
    font-family: "FontAwesome";
    content: "\f00c";
    position: absolute;
    top: 2px;
    // left: 17px;
    width: @button-size/2;
    height: @button-size/2;
}

.tooltip-inner {
    background-color: @blue;
}

.tooltip.top .tooltip-arrow {
    border-top-color: @blue;
}

//
// DEFAULT ALT
// -----------------------------------------
.slider-row {
    position: relative;
}

.slide,
.video-wrapper {
    // .container {
    //     display: block;
    //     position: relative;
    //     width: 100%;
    //     height: 100%;
    // }
    .video-caption {
        width: 100%;
        position: absolute;
        left: auto;
        top: 75%;
        text-align: center;
        color: @white;
        z-index: 999999;
        .headline {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.1em;
        }
    }
    .flex-caption {
        position: absolute;
        left: auto;
        right: 30px;
        top: 100px;
        text-align: right;
        color: @white;
        z-index: 999999;
        .headline {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.1em;
            // color: @dark-blue;
        }
        .subheadline {
            font-style: 24px;
        }
        @media ( max-width: @screen-sm) {
            top: 8%;
            width: 80%;
            left: 50%;
            right: auto;
            text-align: center;
            .transform( translate(-50%, 0));
            .headline {
                font-size: 24px;
            }
            .subheadline {
                font-size: 12px;
            }
        }
    }
}

@media ( max-width: 1200px) {
    .information .fa-ul > li {
        padding-left: 25px;
    }
    .information .fa-li {
        left: 0px;
        position: absolute;
        top: 3px;
    }
}

@media ( max-width: @screen-sm) {
    #home-slideshow {
        position: relative;
    }
    .slideshow-overlay {
        position: relative;
        margin: 0;
        padding: 0;
        .container {
            padding: 0;
            margin: 0;
        }
    }
    .home-toggle-form {
        margin: 0;
        padding: 15px;
        h2 {
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: normal;
        }
        p,
        div {
            margin-bottom: 6px;
        }
        .btn-lg {
            padding: 8px;
            font-size: 16px;
            line-height: 1;
            border-radius: 3px;
        }
    }
    a.link-reset {
        padding-top: 20px;
        text-align: center;
    }
}

.border-bottom-none {
    border-bottom: none;
    td {
        border-bottom: none !important;
    }
}

.border-top-none {
    border-top: none;
    td {
        border-top: none !important;
    }
}

//
// NEW CAPTAIN SLIDER
// -----------------------------------------
#new-captain-slider {
    .captain {
        padding: 20px;
        &.vertical {
            text-align: center;
            a,
            span {
                // display: block;
            }
            img {
                margin: 0 auto 10px;
            }
        }
    }
    // width: 3330px;
    .slick-track {
        // width: 3330px;
    }
}

#new-captain-slider,
#new-boat-slider,
#lyb-images-slider {
    .slick-next {
        right: -5px;
    }
    .slick-prev {
        left: -5px;
    }
    .slick-list {
        margin-bottom: 0;
    }
}

.captain-card {
    text-align: center;
    .panel-image img {
        text-align: center;
        margin: auto;
        // left: 50%;
        // .transform(translateX(-50%));
    }
}

.rating,
.no-break {
    white-space: nowrap;
}

.lyb-list,
.dashboard {
    z-index: 50000;
    .dropdown-toggle {
        text-align: left;
        padding: 10px 20px;
        .caret {
            margin: 10px 0;
        }
    }
    .dropdown-menu {
        left: 20px;
        width: ~"calc( 100% - 40px )";
        top: ~"calc( 100% - 20px )";
        .lyb-item {
            float: left;
            width: 100%;
            a {
                line-height: 3em;
                float: left;
                width: 100%;
                position: relative;
            }
            &.inactive {
                cursor: default;
                a {
                    opacity: 0.8;
                }
            }
            &.completed .completed-icon {
                position: absolute;
                top: 16px;
                right: 16px;
            }
        }
    }
}

#ListYourBoatMenu {
    position: relative;
    .caret {
        position: absolute;
        right: 16px;
    }
}

.lyb-missing {
    .text-left {
        text-align: left;
    }
    a i {
        margin-right: 10px;
    }
    #incomplete-join-the-fleet i:before {
        content: "\f090";
    }
    #incomplete-add-your-boat i:before {
        content: "\f21a";
    }
    #incomplete-boat-features i:before {
        content: "\f03a";
    }
    #incomplete-images i:before {
        content: "\f03e";
    }
    #incomplete-location i:before {
        content: "\f03e";
    }
    #incomplete-personal-info i:before {
        content: "\f007";
    }
    #incomplete-insurance i:before {
        content: "\f0e9";
    }
    #incomplete-price i:before {
        content: "\f0d6";
    }
    #incomplete-condition i:before {
        content: "\f046";
    }
    #incomplete-assign-captain i:before {
        content: "\f13d";
    }
}

.lyb-item {
    position: relative;
    .completed-icon {
        display: none;
    }
    .clickzone {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: #d33;
    }
    &:hover {
        background: @gray-lightest;
    }
    &.active {
        background: @blue;
        color: white;
        &:hover {
            background: darken(@blue, 5%);
        }
    }
    &.inactive {
        background: @gray-lighter;
        color: @gray;
        cursor: default;
        opacity: 0.86;
        i {
            color: @gray;
        }
        &:hover {
            background: @gray-lighter;
            i {
                color: @gray;
            }
        }
    }
    &.disabled {
        color: @gray;
        i {
            color: @gray;
        }
        &:hover {
            i {
                color: @gray;
            }
        }
    }
    &.completed {
        .completed-icon {
            display: block;
        }
    }
}

.slick-dots li {
    margin-right: 0px;
    a {
        width: 8px;
        height: 8px;
    }
}

.full-width {
    width: 100%;
}

a.ui-state-default.date-unavailable,
a.ui-state-default.date-confirmed-rental,
a.ui-state-default.date-completed,
a.ui-state-default.date-blocked,
a.ui-state-default.date-unavailable {
    color: @red;
    .opacity(0.7);
    pointer-events: none;
}

a.ui-state-default.date-confirmed-rental {
    color: @blue;
}

a.ui-state-default.date-completed {
    color: @green;
}

a.ui-state-default.date-blocked {
    color: @gray;
}

a.ui-state-default.date-unavailable {
    color: @red;
}

.datepicker-legend {
    width: 270px;
    margin: 5px auto;
}

.date-pending-approval-message,
.date-confirmed-rental-message,
.date-completed-message,
.date-blocked-message,
.date-unavailable-message {
    margin-bottom: 0;
    padding-left: 20px;
    position: relative;
    font-size: 12px;
    &:before {
        font-family: "fontawesome";
        position: absolute;
        top: 1px;
        left: 0;
        width: 15px;
        height: 15px;
        background: currentColor;
        border-radius: 3px;
        content: " ";
    }
}

.date-pending-approval-message {
    &:before {
        background-color: @blue;
        // background: @red;
    }
}

.date-confirmed-rental-message {
    &:before {
        background-color: @green;
        // background: @red;
    }
}

.date-completed-message {
    &:before {
        background-color: @gray;
        // background: @red;
    }
}

.date-blocked-message {
    &:before {
        background-color: @red;
        // background: @red;
    }
}

.video-wrapper {
    background: url('../images/poster.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    &.about {
        background: url('../images/about-poster.jpg');
        background-size: cover;
        z-index: 900000;
    }
    video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        // min-width: 100%;
        // min-height: 100%;
        .transform( translate(-50%,
        -50%));
    }
}

@media ( min-width: @screen-sm) {
    .slides {
        pointer-events: none;
    }
}

.bg-boaters {
    background: @blue url('../images/BS-About2.jpg');
    background-size: cover;
}

.bg-owners {
    background: @blue url('../images/bg-owners.jpg');
    background-size: cover;
}

.bg-afiliate-intro {
    background: @blue url('../images/afiliates-header.jpg') left center;
    background-size: cover;
    font-size: 120%;
    height: 0;
    padding-top: 16%;
    opacity: 0.8;
    p {
        margin-bottom: 0;
    }
    &.end {
        background: @blue url('../images/afiliates-header.jpg') right center;
        background-size: cover;
    }
}

.bg-afiliate {
    background: @blue url('../images/BS-About2.jpg');
    background-size: cover;
    // font-size: 120%;
    p {
        margin-bottom: 0;
    }
}

#bs-afiliate-features {
    .slide-1 {
        background: url('../images/afiliate-features-1.jpg') center center;
        background-size: cover;
    }
    .slide-2 {
        background: url('../images/afiliate-features-2.jpg') center center;
        background-size: cover;
    }
    .slide-3 {
        background: url('../images/afiliate-features-3.jpg') center center;
        background-size: cover;
    }
}

.panel-crew {
    min-height: 380px;
    @media ( min-width: @screen-lg) {
        &.panel-crew-1, &.panel-crew-2, &.panel-crew-3, &.panel-crew-4 {
            min-height: 420px;
        }
    }
    @media ( min-width: @screen-md) {
        &.panel-crew-1,
        &.panel-crew-2,
        &.panel-crew-3 {
            min-height: 420px;
        }
    }
    @media ( min-width: @screen-sm) {
        &.slick-slide {
            min-height: 420px;
        }
    }
}

#bs-crew {
    margin: 0;
    .slick-list {
        margin: 0;
    }
    .slick-dots {
        position: relative;
        top: -50px;
    }
}

#bs-business img {
    margin: auto;
}

.panel-crew,
.about-icon,
.reasons-icon,
.dedication-icon,
#boaters-img {
    opacity: 0;
    .transform( scale(0.9));
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    &.active {
        opacity: 1;
        .transform( scale(1));
    }
}

//Modal Window for Cropper
@media (min-width: 768px) {
    #avatar-modal .modal-dialog {
        width: 70%;
        margin: 10px auto;
    }
}

//Retail Price table on mobile
#retailPriceTable tr td:first-child span {
    color: #666;
    font-weight: 400;
}

@media (max-width: 430px) {
    #retailPriceTable tr {
        float: left;
        width: 50%;
    }
    #retailPriceTable tr td {
        float: left;
        width: 100%;
    }
}

//
//Captains thumbnail search results
//-------------------------------
.avatar {
    &.avatar-overlay {
        &.avatar-md-right-top {
            &.captain-thumb {
                top: -104px;
                right: 15px;
                bottom: auto;
                left: auto;
                width: 60px;
                height: 60px;
            }
        }
    }
}

.information {
    .va-container {
        .col-xs-5 {
            &.va-bottom {
                right: -(@content-padding-three-quarter * 2);
            }
        }
    }
}

.search-result h3.headline {
    width: 75%;
}

.search-result .vessel {
    width: 75%;
}

@media ( max-width: 1200px) {
    .avatar {
        &.avatar-overlay {
            &.avatar-md-right-top {
                &.captain-thumb {
                    width: 55px;
                    height: 55px;
                    top: -92px;
                }
            }
        }
    }
    .search-result h3.headline {
        font-size: 20px;
    }
    .search-result .vessel {
        font-size: 16px;
    }
}

@media ( max-width: 380px) {
    .avatar {
        &.avatar-overlay {
            &.avatar-md-right-top {
                &.captain-thumb {
                    display: block;
                    width: 50px;
                    top: -70px;
                    height: 50px;
                }
            }
        }
    }
    .modal-dialog {
        z-index: 1050;
        width: 94%;
        margin: 10px;
        top: 10px;
        left: 0;
    }
    .modal.in .modal-dialog {
        margin-top: 0%;
    }
}

@media ( max-width: 480px) {
    #update_price_list {
        margin-bottom: 15px;
    }
}

@media ( max-width: 390px) {
    .assigncaption-content .col-xs-3 {
        width: 50%;
    }
    .radio-inline label.checkbox-inline-user {
        margin-right: 40px;
        float: left;
    }
    #bs-lyb-insurance-form .col-xs-10 {
        width: 100%;
    }
    #bs-lyb-insurance-form .row {
        margin-bottom: 20px;
    }
    #bs-lyb-insurance-form .row p {
        margin-bottom: 5px;
    }
    .captain {
        float: left;
        width: 100%;
    }
    .captain .captain-heading {
        width: 100%;
        left: 50%;
        position: relative;
        margin-left: -35%;
    }
    .captain-p {
        float: left;
        width: 50%;
    }
    .captain {
        .row-space-4 {
            margin-bottom: 20px;
            float: left;
            width: 100%;
        }
        .captain-p p {
            font-size: 13px;
        }
        .captain-price {
            float: left;
            width: 50%;
            text-align: left;
            margin-top: 20px;
            .pull-right {
                position: relative;
                right: 0;
                top: 0;
                margin-bottom: 20px;
            }
            .price {
                float: left;
                width: 100%;
                text-align: center;
                position: relative;
                top: 0;
                font-size: 21px;
            }
        }
    }
    .captain .captain-heading {
        margin-bottom: 0px;
    }
    .captain .captain-body {
        float: left;
        width: 100%
    }
}

.tab-content {
    .well {
        .well {
            &.inverse {
                min-height: 300px;
            }
        }
    }
}

.ProfileMenu {
    padding-left: 5px;
    margin-bottom: 0px !important;
}

.btn {
    transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.modal.in {
    .modal-dialog {
        margin-top: 6%;
    }
}

h3.headline {
    a {
        color: #808080;
    }
}

#booking-trip-form .form-control[readonly] {
    cursor: pointer;
    background: #fff;
}

#booking-trip-form .input-group-addon {
    background: #fff;
}

.datepicker table tr td.disabled-date,
.datepicker table tr td.disabled-date:hover {
    background: none;
    color: #d75f58 !important;
    cursor: default;
}

.date-unavailable-message {
    color: #d75f58 !important;
}

.date-unavailable-message .fa {
    color: #d75f58 !important;
}

.home-video_2 .video-wrapper .flex-caption {
    top: 75%;
    left: 0;
    width: 100%;
}

.home-video_2 .video-wrapper .flex-caption p {
    text-align: center;
}

//5 columns rows
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


.trip-details-custom-size {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    float: none;
}

@media (min-width: 650px) {
    .trip-details-custom-size { 
        width: 50%;
        float: left;
    }
}




#form-standard-search .form-control,
#form-advanced-search .form-control {
    background-color: #e6f1f8;
    color: #646e75;
}

#form-advanced-search .input-group-addon {
    background-color: #e6f1f8;
    color: #646e75;
}


/*Dropdown search checkbox buttons*/

.radio-group-btn {
    float: left;
    width: 100%;
    margin-left: 3%;
    font-size: 12px
}

.radio-group-btn .radio {
    float: left;
    display: inline-block;
    margin-right: 9%;
    margin-top: 10px;
    margin-bottom: 0px;
}


/*Homepage advaced search tabs*/

.buttons-tabs {
    width: 100%;
    background-color: #00518b;
    padding: 0;
    z-index: 50;
    position: relative;
    pointer-events: all;
    padding-left: 0px;
    padding-right: 0px;
    -webkit-box-shadow: inset 6px -10px 64px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 6px -10px 64px -23px rgba(0, 0, 0, 0.75);
    box-shadow: inset 6px -10px 64px -23px rgba(0, 0, 0, 0.75);
}

#form-advanced-search .buttons-tabs li {
    position: relative;
    width: 50%;
    float: left;
}

#form-advanced-search .buttons-tabs .menu-button {
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    transition: all .2s ease;
    font-weight: 600;
    display: table-caption;
    vertical-align: middle;
    padding: 8% 0;
}

.buttons-tabs ul {
    padding: 0;
}

.buttons-tabs li {
    list-style: none;
}

#boat-search-form {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0px 9%;
}

.hide-tab {
    opacity: 0;
    transform: translate(0px, -15px);
}

.hide-tab.hide-tab-action {
    opacity: 0;
    transform: translate(0px, 0px);
}

.show-tab {
    opacity: 1;
    transform: translate(0px, 0px);
}

#boat-search-form,
#cap-search-form {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#cap-search-form {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0px 9%;
    display: block;
    visibility: hidden;
}

#form-advanced-search .buttons-tabs .menu-button.cap-search {
    padding-left: 13%;
}

#form-advanced-search .buttons-tabs .menu-button.boat-searc {
    padding-left: 13%;
}

.buttons-tabs li a.cap-search::after {
    display: block;
    background: url(assets/svg/bs-icons-01-white.svg);
    background-size: 400% 100%;
    background-position: -48px 0px;
    position: absolute;
    width: 3em;
    height: 3em;
    content: ' ';
    top: 13%;
    left: 15%;
    padding-left: 13%;
}

.buttons-tabs li a.boat-searc::after {
    display: block;
    background: url(assets/svg/bs-icons-01-white.svg);
    background-size: 400% 100%;
    position: absolute;
    width: 3em;
    height: 3em;
    content: ' ';
    top: 13%;
    left: 17%;
    padding-left: 13%;
}

.buttons-tabs li a {
    color: #fff;
    background: none;
    opacity: 0.7;
    float: left;
    width: 100%;
}

.buttons-tabs li a.active-tab {
    color: #fff;
    background: #0068b0;
    opacity: 1;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

#form-advanced-search .home-toggle-form {
    float: left;
    position: relative;
    width: 100%;
    min-height: 228px;
    transition: all 0.3s ease;
}

@media ( max-width: 1200px) {
    .buttons-tabs li a.boat-searc::after {
        left: 10%;
    }
    .buttons-tabs li a.cap-search::after {
        left: 8%;
    }
}

@media ( max-width: 990px) {
    .captain-image-results {
        text-align: center;
    }
    .captain-image-results .img-circle {
        max-width: 40%
    }
}

@media ( max-width: 480px) {
    #boat-gallery .gal .slick-slide {
        padding: 0;
    }
    #seach_result_captains .information .panel {
        text-align: left;
        padding: 0px 30px;
    }
    #seach_result_captains .information .row .col-xs-6:last-child {
        float: right;
    }
}

@media ( max-width: 390px) {
    .captain-image-results .img-circle {
        max-width: 55%
    }
    #form-advanced-search .buttons-tabs .menu-button {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
    }
    .buttons-tabs li a.cap-search::after {
        background-position: -43px 0px;
    }
}

.form-control[type=search] {
    width: 90%;
}


/****NEW CUSTOM MENU   ******************************************/

.mobile-search-dropdown-toggle {
    display: none;
}

.mobile-search-drop {
    position: absolute;
    top: 0px;
    width: 0%;
    height: 62px;
    z-index: 99;
    padding: 10px 0px 10px 0px;
    right: 58px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.mobile-search-drop.open {
    opacity: 1;
    visibility: visible;
    width: 58%;
}

.mobile-search-drop #searchBy {
    float: left;
}

.mobile-search-drop .fa-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: none;
}

.mobile-search-drop #searchBy {
    display: block;
    width: 33%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #999999;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px 0px 0px 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background-color: #f0f0f0;
}

.mobile-search-drop .form-group {
    margin-bottom: 5px;
}

.mobile-search-drop .form-control[type=search] {
    font-size: 14px !important;
    float: left;
    width: 58%;
    height: 21px;
    border-left: 0px;
    border-radius: 0px 4px 4px 0px;
    margin-bottom: 10px;
}

#bs-navbar-mobile {
    position: fixed;
    width: 240px;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 90%;
    right: 0;
    top: 66px;
    z-index: 99;
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-shadow: inset 20px 0px 50px -30px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 20px 0px 50px -30px rgba(0, 0, 0, 0.6);
    box-shadow: inset 20px 0px 50px -30px rgba(0, 0, 0, 0.6);
}

.body-menu-open,
.html-menu-open {
    overflow: hidden;
}

@media ( max-width: 992px) {
    .mobile-search-dropdown-toggle {
        display: block;
        float: right;
        padding: 10px 20px;
        padding-top: 20.5px;
        padding-bottom: 22.5px;
        color: #666666;
        line-height: 20px;
        position: relative;
        font-size: 20px;
        margin-right: 11px;
    }
    .bs-site-nav {
        margin-bottom: 0px;
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 8px 20px;
        font-weight: 400;
        font-size: 13px;
    }
    .dropdown-header {
        font-size: 13px;
        color: #666;
        font-weight: 400;
        margin-top: 6px;
        padding-bottom: 0;
    }
    .navbar-brand {
        background-size: contain;
        background-position: 0 center;
        width: 140px;
    }
    .bs-site-wrapper:after {
        content: "";
        display: block;
        position: absolute;
        visibility: hidden;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        opacity: 0;
        background: #000;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
        transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
        -webkit-transition-property: opacity, visibility;
        -moz-transition-property: opacity, visibility;
        transition-property: opacity, visibility;
    }
    .body-menu-open .bs-navbar-mobile {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .bs-navbar-mobile {
        left: auto;
        right: 0;
        -webkit-transform: translate(240px, 0);
        -moz-transform: translate(240px, 0);
        -ms-transform: translate(240px, 0);
        -o-transform: translate(240px, 0);
        transform: translate(240px, 0);
    }
    .bs-navbar-mobile,
    .bs-site-wrapper {
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-transition: -moz-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: -o-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .body-menu-open .bs-site-wrapper {
        -webkit-transform: translate(-240px, 0);
        -moz-transform: translate(-240px, 0);
        -ms-transform: translate(-240px, 0);
        -o-transform: translate(-240px, 0);
        transform: translate(-240px, 0);
    }
    .bs-navbar-mobile,
    .bs-site-wrapper {
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-transition: -moz-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: -o-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .body-menu-open .bs-site-wrapper:after {
        opacity: 0.7;
        visibility: visible;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #666666;
    }
}

@media ( max-width: 620px) {
    .mobile-search-drop {
        position: absolute;
        top: 48px;
        width: 100%;
        height: 0px;
        z-index: 99;
        padding: 10px 0px 10px 0px;
        right: inherit;
        left: 0;
        background-color: #fff;
    }
    .mobile-search-drop.open {
        width: 100%;
        height: 62px;
    }
    .mobile-search-drop #searchBy {
        margin-left: 2%;
    }
    #bs-navbar-mobile {
        top: 48px;
    }
    header.bs-site-nav {
        min-height: 48px;
        height: 48px;
    }
    .navbar-brand {
        height: 48px;
    }
    .navbar-toggle {
        margin-top: 6.5px;
    }
    .mobile-search-dropdown-toggle {
        padding-top: 11px;
        padding-bottom: 11px;
    }
    h1,
    .h1 {
        font-size: 20px;
    }
    .btn-lg,
    .btn-group-lg > .btn {
        font-size: 15px;
    }
    .lyb-list .dropdown-toggle {
        text-align: left;
        padding: 5px 20px;
    }
}

@media (max-width: 360px) {
    .mobile-search-dropdown-toggle {
        padding-top: 12px;
        padding-bottom: 11px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar-brand {
        width: 128px;
    }
}

@media ( max-width: 360px) {
    .mobile-search-drop .form-control[type=search] {
        width: 50%;
    }
    .mobile-search-drop #searchBy {
        width: 37%;
    }
}

#topSearchForm #searchBy {
    float: right;
}

#topSearchForm .input-group .form-control {
    width: 58%;
    float: right;
}

#topSearchForm #searchBy {
    display: block;
    width: 38%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 2.028571;
    color: #999999;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px 0px 0px 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background-color: #f0f0f0;
    border-right: 0px;
    height: 34px;
}

.dropdown-filter-more {
    left: 50%;
    margin-left: -352%;
}

.navbar-filter .nav > li:last-child {
    width: 50%;
}

@media ( max-width: 1200px) {
    .navbar-filter .nav > li > a {
        font-size: 13px;
    }
}

@media (max-width: 992px) {
    .dropdown-filter-more {
        margin-left: 0px;
        left: 0;
    }
    .navbar-filter .nav > li:last-child {
        width: 100%;
    }
}

// DASHBOARD
// 
.inbox-close-message {
    position: relative;
    right: -25px;
    top: -15px;
}

.message-left,
.message-right {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-left-width: 1px;
    border-right-width: 1px;
}

.message-left {
    margin-left: 5px;
    &:before {
        content: " ";
        position: absolute;
        width: 15px;
        height: 15px;
        top: 25px;
        left: ~"calc(100% - 8px)";
        background: #fff;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        .transform(rotate(45deg));
    }
}

.message-right {
    margin-right: 5px;
    &:before {
        content: " ";
        position: absolute;
        width: 15px;
        height: 15px;
        top: 25px;
        left: -7px;
        background: #fff;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        .transform(rotate(45deg));
    }
}

// @media( min-width: @screen-sm) {
.message-icon-right {
    padding-right: 0;
}

.message-icon-left {
    padding-left: 0;
}

// }
@media( max-width: @screen-xs) {
    // .dashboard.trip-info {
    //     position: absolute;
    //     margin-top: -223px;
    // }
    // .center-xs {
    //     text-align: center;
    //     margin-left: auto;
    //     margin-right: auto;
    // }
}

.dashboard-nav {
    background: @blue;
    color: white;
    border-bottom: 1px @gray-light solid;
    padding: 15px 15px 14px 15px;
    margin-bottom: 25px;
    a.item {
        color: white;
        text-decoration: none;
        padding: 15px 20px;
        margin-right: -4px;
        margin-bottom: -1px;
        white-space: nowrap;
        &.active {
            background: @medium-blue;
            color: white;
            &:hover {
                background: @medium-blue;
                color: white;
            }
        }
        &:hover {
            background: @medium-blue;
            color: white;
        }
    }
    .mobile {
        a {
            padding: 0;
            width: 33%;
            text-align: center;
            color: white;
            &:hover {
                color: white;
            }
        }
    }
}

.dashboard-desktop-nav {
    ul {
        list-style-type: none;
        list-style-position: outside;
        padding-left: 0;
    }
    li {
        margin-bottom: 10px;
        color: @gray-light;
        > ul {
            margin-top: 10px;
            padding-left: 25px;
        }
    }
}

// END DASHBOARD

/*New autocomplete dropdown suggestion*/

.autocomplete-suggestions {
    bottom: -72px;
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}

// .rental {
//     @media( max-width: @screen-sm) {
//         border: 1px solid #ccc;
//         border-radius: 3px;
//         padding: 15px 0px;
//         margin: 0;
//     }
// }
