@bs-icon-size: 4em;
@bs-icon-small-size: 2em;
@bs-icon-glyphs: 18;
@bs-icon-rows: 2;
.bs-icon {
    display: inline-block;
    background: url(assets/svg/bs-icons-01.svg);
    background-size: (@bs-icon-glyphs * 100%) (@bs-icon-rows * 100%);
    position: relative;
    width: @bs-icon-size;
    height: @bs-icon-size;
    margin: 1em auto;
    &.icon-small {
        width: @bs-icon-small-size;
        height: @bs-icon-small-size;
    }
    &.margin-none {
        margin: 0;
    }
    &.bs-icon-st-wheel {
        background-position: (0* (100% / (@bs-icon-glyphs - 1))) (0* (100% / (@bs-icon-rows - 1)));
        .white & {
            background-position: (0* (100% / (@bs-icon-glyphs - 1))) (1* (100% / (@bs-icon-rows - 1)));
        }
    }
    &.bs-icon-hat {
        background-position: (1* (100% / (@bs-icon-glyphs - 1))) (0* (100% / (@bs-icon-rows - 1)));
        .white & {
            background-position: (1* (100% / (@bs-icon-glyphs - 1))) (1* (100% / (@bs-icon-rows - 1)));
        }
    }
    &.bs-icon-anchor {
        background-position: (2* (100% / (@bs-icon-glyphs - 1))) (0* (100% / (@bs-icon-rows - 1)));
        .white & {
            background-position: (2* (100% / (@bs-icon-glyphs - 1))) (1* (100% / (@bs-icon-rows - 1)));
        }
    }
    &.bs-icon-boat {
        background-position: (3* (100% / (@bs-icon-glyphs - 1))) (0* (100% / (@bs-icon-rows - 1)));
        .white & {
            background-position: (3* (100% / (@bs-icon-glyphs - 1))) (1* (100% / (@bs-icon-rows - 1)));
        }
    }
    &.bs-icon-crowd {
        background-position: (4* (100% / (@bs-icon-glyphs - 1))) (0* (100% / (@bs-icon-rows - 1)));
        .white & {
            background-position: (4* (100% / (@bs-icon-glyphs - 1))) (1* (100% / (@bs-icon-rows - 1)));
        }
    }
    &.bs-icon-horseshoe {
        background-position: (5* (100% / (@bs-icon-glyphs - 1))) (0* (100% / (@bs-icon-rows - 1)));
        .white & {
            background-position: (5* (100% / (@bs-icon-glyphs - 1))) (1* (100% / (@bs-icon-rows - 1)));
        }
    }
    &.bs-icon-money {
        background-position: (6* (100% / (@bs-icon-glyphs - 1))) (0* (100% / (@bs-icon-rows - 1)));
        .white & {
            background-position: (6* (100% / (@bs-icon-glyphs - 1))) (1* (100% / (@bs-icon-rows - 1)));
        }
    }
    &.bs-icon-umbrella {
        background-position: (7* (100% / (@bs-icon-glyphs - 1))) (0* (100% / (@bs-icon-rows - 1)));
        .white & {
            background-position: (7* (100% / (@bs-icon-glyphs - 1))) (1* (100% / (@bs-icon-rows - 1)));
        }
    }
    &.bs-icon-lifesaver {
        background-position: (8* (100% / (@bs-icon-glyphs - 1))) (0* (100% / (@bs-icon-rows - 1)));
        .white & {
            background-position: (8* (100% / (@bs-icon-glyphs - 1))) (1* (100% / (@bs-icon-rows - 1)));
        }
    }
    &.bs-icon-thumbup {
        background-position: (9* (100% / (@bs-icon-glyphs - 1))) (0* (100% / (@bs-icon-rows - 1)));
        .white & {
            background-position: (9* (100% / (@bs-icon-glyphs - 1))) (1* (100% / (@bs-icon-rows - 1)));
        }
    }
    &.bs-icon-compass {
        background-position: (10* (100% / (@bs-icon-glyphs - 1))) (0* (100% / (@bs-icon-rows - 1)));
        .white & {
            background-position: (10* (100% / (@bs-icon-glyphs - 1))) (1* (100% / (@bs-icon-rows - 1)));
        }
    }
    &.bs-icon-gears {
        background-position: (11* (100% / (@bs-icon-glyphs - 1))) (0* (100% / (@bs-icon-rows - 1)));
        .white & {
            background-position: (11* (100% / (@bs-icon-glyphs - 1))) (1* (100% / (@bs-icon-rows - 1)));
        }
    }
    &.bs-icon-cal {
        background-position: (12* (100% / (@bs-icon-glyphs - 1))) (0* (100% / (@bs-icon-rows - 1)));
        .white & {
            background-position: (12* (100% / (@bs-icon-glyphs - 1))) (1* (100% / (@bs-icon-rows - 1)));
        }
    }
    &.bs-icon-support {
        background-position: (13* (100% / (@bs-icon-glyphs - 1))) (0* (100% / (@bs-icon-rows - 1)));
        .white & {
            background-position: (13* (100% / (@bs-icon-glyphs - 1))) (1* (100% / (@bs-icon-rows - 1)));
        }
    }
    &.bs-icon-clock {
        background-position: (14* (100% / (@bs-icon-glyphs - 1))) (0* (100% / (@bs-icon-rows - 1)));
        .white & {
            background-position: (14* (100% / (@bs-icon-glyphs - 1))) (1* (100% / (@bs-icon-rows - 1)));
        }
    }
    &.bs-icon-agenda {
        background-position: (15* (100% / (@bs-icon-glyphs - 1))) (0* (100% / (@bs-icon-rows - 1)));
        .white & {
            background-position: (15* (100% / (@bs-icon-glyphs - 1))) (1* (100% / (@bs-icon-rows - 1)));
        }
    }
    &.bs-icon-yatch {
        background-position: (16* (100% / (@bs-icon-glyphs - 1))) (0* (100% / (@bs-icon-rows - 1)));
        .transform(scale(1.5));
        .white & {
            background-position: (16* (100% / (@bs-icon-glyphs - 1))) (1* (100% / (@bs-icon-rows - 1)));
        }
    }
    &.bs-icon-fast-boat {
        background-position: (17* (100% / (@bs-icon-glyphs - 1))) (0* (100% / (@bs-icon-rows - 1)));
        .transform(scale(1.5));
        .white & {
            background-position: (17* (100% / (@bs-icon-glyphs - 1))) (1* (100% / (@bs-icon-rows - 1)));
        }
    }
}
