@orange: #fe9700;
@black: #333333;
@red: #d42a22;
// @screen-xs: @screen-xs + 1px; 
//

.dashboard-section {
    position: relative;
    margin-bottom: 20px;
    @media screen and (max-width: @screen-sm) {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 50px !important;
        }
    }
    &.border-bottom {
        border-bottom: 1px solid @gray;
    }
    &.no-border-bottom {
        border-bottom: none !important;
    }
    // &:not(:last-child):not(:first-child) {
    //     border-bottom: 1px solid #cccccc;
    // }
    &:last-child {
        margin-bottom: 200px;
    }
    .dashboard-section-header {
        padding-top: 10px;
        margin-bottom: 15px;
        overflow: hidden;
        h2,
        h3 {
            position: relative;
            font-size: 24px;
            color: @black;
            margin-bottom: 10px;
            width: auto;
            float: none !important;
            > span {
                display: inline-block;
                position: relative;
                .red-badge {
                    top: -5px;
                    right: -20px;
                }
            }
        }
        h3 {
            font-size: 20px;
            line-height: 32px;
            // z-index: 1;
            + a {
                margin-top: -32px;
                font-weight: normal;
                position: relative;
                z-index: 2;
            }
        }
        @media screen and (max-width: @screen-sm) {
            font-size: 12px;
            line-height: 1.3;
            margin-bottom: 5px;
            h2 {
                font-size: 18px;
            }
            h3 {
                font-size: 16px;
            }
            .intro-text {
                padding-left: 40px;
                float: left;
                i:first-child {
                    font-size: 28px;
                    position: absolute;
                    vertical-align: middle;
                    left: 0px;
                }
            }
        }
    }
    .intro-text {
        position: relative;
        padding-left: 50px;
        i:first-child {
            font-size: 32px;
            position: absolute;
            vertical-align: middle;
            left: 0px;
        }
    }
    .indented-content {
        @media screen and (min-width: @screen-sm) {
            position: relative;
            padding-left: 50px;
        }
    }
}

.dashboard {
    & > header {
        background: url('images/dashboard/bg-header.jpg') center center;
        background-size: cover;
        z-index: 700 !important;
        @media screen and (min-width: @screen-sm) {
            padding-top: 10px;
            height: 94px;
        }
        * {
            color: white !important;
        }
        .container {
            @media screen and (min-width: @screen-sm) {
                padding-left: 0;
            }
        }
    }
    .bs-site-wrapper {
        padding-top: 0;
        z-index: 690;
        min-height: 600px;
        // overflow: hidden;
        .container {
            @media screen and (max-width: @screen-sm) {
                padding: 0;
            }
        }
        &.sidebar-active{
            z-index: 900;
        }
    }
    .main-panel {
        padding-bottom: 110px + 50px;
        padding-top: 30px;
        position: relative;
        background: #fff;
        padding-left: 50px;
        min-height: 100vh;
        @media screen and (min-width: @screen-lg) {
            min-width: 936px;
        }
        @media screen and (min-width: @screen-md) and (max-width: @screen-lg) {
            min-width: 736px;
        }
        @media screen and (min-width: @screen-sm) and (max-width: @screen-md) {
            min-width: 0;
        }
        @media screen and (max-width: @screen-sm) {
            padding: 20px;
        }
        @media screen and (max-width: @screen-xs) {
            min-height: 0;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 100%;
            height: 100%;
            width: 100%;
            background: #fff;
            z-index: -1;
        }
    }
    .alert-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: @orange;
        padding: 20px 0;
        color: white;
        height: 110px;
        z-index: 10;
        .container {
            padding-left: 0;
        }
        p {
            font-size: 24px;
            margin-bottom: 5px;
            &.small {
                font-size: 16px;
            }
        }
        @media screen and (max-width: @screen-lg) {
            height: auto;
            text-align: center;
            padding: 10px;
            font-size: 80%;
            .margin-bottom-full {
                margin-bottom: 5px !important;
            }
            p {
                font-size: 16px;
                margin-bottom: 0;
                &.small {
                    font-size: 12px;
                    span {
                        display: inline-block !important;
                    }
                }


            }
        }
    }
    .badge-icon {
        position: relative;
        text-align: center;
        > i {
            font-size: 32px;
        }
        p {
            font-size: 18px;
            line-height: 1;
        }
        .badge {
            position: absolute;
            top: -10px;
            right: ~"calc(50% - 25px)";
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: @red;
            color: white;
            font-size: 18px;
            padding: 0;
            line-height: 19px;
            text-align: center;
            vertical-align: middle;
            font-weight: 100;
            i {
                font-size: 18px;
            }
        }
        @media screen and (max-width: @screen-sm) {
            > i {
                font-size: 18px;
            }
            p {
                font-size: 12px;   
            }
            .badge {
                .transform( scale(0.75) );
            }
        }
    }
    h2 {
        vertical-align: middle;
        i {
            vertical-align: middle;
        }
    }
}

.save-progress {
    padding-top: 15px;
    border-top: solid 1px @gray;
}


.section-personal-info .dashboard-section-header.user-pic {
    display: flex;
    overflow: visible;
    margin-bottom: 35px;

    .user-pic {
        position: relative;
        width: 135px;
        height: 135px;
        margin-right: 35px;

        img {
            position: relative;
            margin: 4px;
            width: auto;
            height: 135px;
            box-shadow: 0 0 0 4px @gray;
        }

        @media screen and (max-width: @screen-sm) {
            height: 70px;
            width: 70px;
            margin: 5px auto;
            margin-right: 30px;
            
            img { 
                height: 70px;
            }
            + div {


            }
        }

    }
}


@import "_dashboard/_sidebar.less";
@import "_dashboard/_availability.less";
@import "_dashboard/_pricing.less";
@import "_dashboard/_captains.less";
@import "_dashboard/_boats.less";
@import "_dashboard/_boat-managers.less";
@import "_dashboard/_trips.less";
@import "_dashboard/_pics-videos.less";
@import "_dashboard/_toolbar.less";

@import "_dashboard/_captain-price.less";
@import "_dashboard/_account-info.less";
// @import "_dashboard/_boats.less";
@import "_dashboard/_insurance.less";
// @import "_dashboard/_promote.less";



@import "_dashboard/_messenger/_messenger.less";
@import "_dashboard/_notifications/_notifications.less";
@import "_dashboard/_trip-details/_trip-details.less";


@import "_dashboard/_renter-dashboard/_trips.less";
@import "_dashboard/_renter-dashboard/_favorites.less";
@import "_dashboard/_renter-dashboard/_wishlist.less";