/*  -------- Form Element Styles ------------ */

/*  -------- Inputs ------------ */

input[type="text"], input[type="mail"], input[type="tel"], input[type="password"]{
  border:none;
  border-bottom: solid 1px @gray-light;
  padding: 10px 0;
  display:block;
  width:100%;
  background: #FFFFFF;
  text-align:left;
  position: relative;	
  color: @gray-dark;
  
}

textarea{
  border: none;
  border-bottom: 1px solid @gray-light;
  width: 100%;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 300;
  color: #999999;
  margin: 0;
}

input[type="checkbox"]:not(:checked),[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

label:before {
    border: 1px solid @gray !important;
}


input[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
  display: inline;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  &:before{
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 17px; height: 17px;
    border: 1px solid @blue;
    background: #fff;
    border-radius: 3px;
  }
   &:after{
    background: white none repeat scroll 0 0;
    content:  "\f00c";
    background: white none repeat scroll 0 0;
    color: @blue;
    font-family: FontAwesome;
    font-size: 1.6rem;
    font-weight: 300;
    left: 7px;
    line-height: 0.8;
    padding: 0;
    position: absolute;
    top: 3px;
    transition: all 0.2s ease 0s;
   }
}
input[type="checkbox"]:not(:checked) + label:before {
  border: 1px solid @gray-light;
}
input[type="checkbox"]:checked + label:before {
  border: 1px solid @blue;
}
input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

input[type="radio"]:not(:checked),[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

input[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
  display: inline;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  &:before{
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 17px; height: 17px;
    border: 1px solid @blue;
    background: #fff;
    border-radius: 50%;
  }
   &:after{
    content:  "";
    background: @blue;
    left: 4px;
    width: 9px;
    height: 9px;
    line-height: 0.8;
    padding: 0;
    position: absolute;
    top: 6px;
    transition: all 0.2s ease 0s;
    border-radius: 50%;
   }
}
input[type="radio"]:not(:checked) + label:before {
  border: 1px solid @gray-light;
}
input[type="radio"]:checked + label:before {
  border: 1px solid @blue;
}
input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
input[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

input[type="submit"], .lyb-submit {
  background: @blue;
  display: block;
  border: none;
  color: #fff;
  font-weight: 333;
  padding: 12px 0;
  text-align: center;
  width: 100%;
  font-size:1.6rem;
  cursor:pointer;
  margin:0;
  border-radius: px;
    &:hover {
    background: @blue;
    color: #fff;
  }
  
}

.submit-inactive{
    background: @gray-light;
    cursor: default;
    &:hover {
      background: @gray-light;
    }
  }

.checkRadioContainer label.selected svg {
  .st0, .st1{
    stroke: white;
    transition: all 0.3s ease;
  }
}

.upload-picture {
  border: 2px dashed @gray-light;
  width: 100%;
  background-image: url(../img/dashed-boat.svg);
  background-position: center 30px;
  background-repeat: no-repeat;
  background-size: 40% auto;
  padding: 180px 0 0 0;
  margin: 0 0 40px 0;
  span.input-text{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 30px 0;
  }
  span.input-text-small{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 30px 0;
    font-size: 14px;
    color: #999;
  }

  @media (max-width: @screen-sm) {
    border: none;
    width: 100%;
    background-image: none;
    padding: 10px 0 40px 0;
   
    span.input-text{
      display: none;
    }
    span.input-text-small{
      display: block;
      width: 100%;
      text-align: center;
      margin: 0 0 30px 0;
      font-size: 14px;
      color: #999;
    }
      
  }
}



label.error{
  position: absolute;
  right: 0;
  top: 10px;
  margin: 0;
  padding: 0;
  display: none !important;
}




/*  -------- Check Boxes ------------ */



.checkRadioContainer > label > input {
  display: none;
}
.checkRadioContainer {
  padding: 0;
}

.checkRadioContainer > label {
   border: 1px solid @gray-light;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  width: 47.5%;
  padding: 15px 0 15px 60px;
  margin: 0 0 20px 0;
  text-align: left;
  color: @gray-dark;
  position: relative;
  transition: all 0.3s ease;
  &:nth-of-type(even){
     float: right;
  }
  svg{
    left: 5px;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    transition: all 0.3s ease 0s;
    .st0, .st1, .st2, .st3{
        stroke: @gray-dark; 
        path: @gray-dark; 
        line: @gray-dark; 
    }

  }
  &:hover, &.selected{
    background: @blue;
    color: white;
    transition: all 0.3s ease;
    svg{
      transition: all 0.3s ease;
      .st0, .st1, .st2, .st3{
        stroke: white;
        path: white;
        line: white;
      }
    }
  }
  &.small-svg{
    svg{
      height: 30px;
    }
  }
  &.medium-svg{
    svg{
       height: 34px;
    }
  }
  &.wide-label{
     text-indent: 0px;
     svg{
      left: 10px;
    }
  }

  @media (max-width: @screen-sm) {
    width: 100%;
  }
}

/*  -------- Selects ------------ */

.chosen-container-single .chosen-single {
    padding: 5px 0 0 10px !important;
    height: 40px !important;
    background: white !important;
    border: 1px solid @gray-light !important;
    box-shadow: !important;
      
   
}






