    .bs-footer {
        position: relative;
        padding: 40px 0 100px;
        ul {
            list-style-type: none;
            padding-left: 0;
        }
        h4 {
            margin-bottom: 16px;
            font-size: 14px;
            color: @black;
            font-weight: 400;
        }
        a {
            color: @gray;
            font-size: 13px;
            line-height: 25px;
        }
        .social-icons {
            a {
                margin: 0 5px;
            }
        }
    }