header {
    z-index: 850 !important;
    width: 100% !important;
    position: relative; // absolute !important;
    top: 0;
    left: 0;
    .logo {
        position: relative;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 256px;
        @media only screen and (max-width: 767px) {
            width: 186px;
        }
    }
    nav.main {
        position: absolute;
        display: inline-block;
        margin-top: 15px;
        padding-right: 53px;
        top: 0;
        right: 0;
        > a {
            position: relative;
            display: inline-block;
            margin-left: 0;
            width: 64px;
            top: 4px;
            text-align: center;
            .transition(0.3s);
            span {
                position: absolute;
                overflow: hidden;
                width: 100%;
                font-size: 12px;
                position: relative;
                display: inline-block;
                opacity: 0;
                transform: translateY(-50%);
                .transition(0.3s);
            }
            &:hover {
                color: white;
                transform: translateY(-10%);
                span {
                    transform: translateY(0%);
                    opacity: 1;
                }
            }
        }
        i {
            vertical-align: middle;
            font-size: 28px !important;
            .transition(0.3s, ease-out);
        }
        @media only screen and (min-width: 768px) {
            margin-top: 26px;
            padding-right: 48px;
            .icons-mobile {
                position: absolute;
                top: 16px;
                right: -2px;
            }
        }
        @media only screen and (max-width: @screen-sm) {
            .icons-mobile {
                position: absolute;
                top: 16px;
                right: 10px;
            }
        }
        .contact-us-wrapper {
            position: absolute;
            font-size: 10px;
            color: white;
            right: 0px;
            top: -20px;
            width: 100%;
            text-align: right;
            a {
                color: white;
                margin-left: 0;
                cursor: pointer;
            }
            @media screen and (max-width: @screen-sm) {
                display: none;
            }
        }
    }
    .body-veil {
        // display: none;
        .opacity(0.4);
        z-index: 940;
        .transition(0.3s, ease-out);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: transparent;
    }
    //=====================================
    //======= From Home.less ==============
    //=====================================
    .icons-mobile {
        position: fixed;
        top: 50%;
        .translate(0, -50%);
        right: 15px;
        .wrapper-hamburger,
        .wrapper-search {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }
        .wrapper-search {
            margin-right: 10px;
            .fa {
                font-size: 20px;
            }
        }
        .wrapper-hamburger {
            position: relative;
            width: 35px;
            height: 19px;
            top: -1px;
            .icon-line {
                display: block;
                width: 85%;
                margin: 0 auto;
                right: 0;
                height: 3px;
                background-color: @white;
                // margin-bottom: 6px;
                position: absolute;
                left: 0;
                .transitionProp(transform, 0.3s, ease-out);
                &:last-of-type {
                    // margin-bottom: 0;
                }
                &:hover {}
            }
            .line1 {
                top: 0;
            }
            .line2 {
                top: 8px;
            }
            .line3 {
                bottom: 0;
            }
            .line1,
            .line2,
            .line3 {
                border-radius: 2px;
            }
        }
    }
    .wrapper-header-search {
        max-width: 350px;
        height: 42px;
        position: absolute;
        top: 80px;
        right: -12px;
        z-index: -10;
        border: none;
        background-color: white;
        border-radius: 21px;
        width: 100%;
        .box-shadow(0px 6px 6px rgba(0, 0, 0, 0.175));
        // right: 20px;
        .scale(1, 0);
        // .translate(0,-20px);
        .opacity(0);
        .transition(0.3s, ease-out);
        @media screen and (max-width: @screen-sm) {
            right: 5px;
            margin-left: 5px;
            width: ~"calc(100% - 10px)";
            &:after {
                right: 70px !important;
            }
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 100%;
            right: 150px;
            width: 0;
            height: 0;
            border-bottom: 10px solid #FFFFFF;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
        }
        .wrapper-inputs {
            position: relative;
        }
        .wrapper-select {
            margin: 0 0 5px 0;
            position: relative;
            .btn {
                color: @gray;
                background-color: @white;
                border: 1px solid @gray-light;
                .bs-caret {
                    color: @gray;
                }
                &:hover,
                &:active,
                &:focus {
                    outline: 0 !important;
                }
            }
            .icon-captain {
                width: 18px;
                height: 21px;
                background: url("images/icon-captain-2x.png") no-repeat center 1px;
                background-size: 100% auto;
                vertical-align: bottom;
            }
            .dropdown-menu {
                border-radius: 2px;
                li {
                    a {
                        display: block;
                        padding: 8px 13px;
                    }
                }
            }
            @media only screen and (min-width: @screen-sm) {
                width: 150px;
                margin: 0;
                .caret {
                    position: absolute;
                    top: 74% !important;
                    right: 15px;
                }
            }
        }
        .btn-secondary {
            width: 100%;
            height: 35.5px;
            @media only screen and (min-width: @screen-sm) {
                border-radius: 0 2px 2px 0;
                width: 80px;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .search-category {
            background: @gray-lighter;
            position: absolute;
            width: 35%;
            display: inline-block;
            height: 34px;
            top: 4px;
            left: 4px;
            margin-right: -4px;
            border-radius: 17px 0 0 17px;
            .dropdown {
                height: 34px;
                button {
                    background: transparent;
                    border: none;
                    height: 34px;
                    text-align: left;
                    width: 100%;
                }
                font-size: 10px;
                .dropdown-menu {
                    border: none;
                    background: transparent;
                    padding: 0;
                    margin: 0;
                    top: 0;
                    min-width: 0;
                    width: calc(~"100% - 4px");
                    box-shadow: 0 0 0 transparent;
                    border-radius: 17px 0 17px 17px;
                    overflow: hidden;
                    a {
                        background: @gray-lighter;
                        padding: 9px 0 10px 6px;
                        font-size: 10px;
                        letter-spacing: 0.005em;
                        &:hover {
                            background: @gray-light;
                        }
                    }
                }
                .caret {
                    top: 56%;
                    border-top: 2px solid;
                    border-right: 2px solid transparent;
                    border-left: 2px solid transparent;
                }
                .selected {
                    letter-spacing: 0.005em;
                }
            }
        }
        .search-box {
            position: absolute;
            right: 0px;
            height: 42px;
            width: 65%;
            margin-left: 30%;
            display: inline-block;
            background: @white;
            border-radius: 0 21px 21px 0;
            margin: 0 auto;
            input[type=text] {
                position: absolute;
                width: calc(~"100% - 36px");
                background: transparent;
                border: none;
                height: 34px;
                top: 4px;
                left: 0px;
                font-size: 12px;
                padding-left: 10px;
                border-radius: 25px 0 0 25px;
                font-weight: 50;
                &:focus {
                    outline: none;
                }
                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    font-weight: 300;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    font-weight: 300;
                }
                &:-ms-input-placeholder {
                    /* IE 10+ */
                    font-weight: 300;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    font-weight: 300;
                }
            }
            button {
                position: absolute;
                width: 36px;
                height: 34px;
                background: @orange;
                top: 4px;
                right: 4px;
                border: none;
                border-radius: 0 17px 17px 0;
                color: white;
                font-size: 10px;
                &:focus {
                    outline: none;
                }
                &:hover {
                    background: lighten(@orange, 10%);
                }
            }
        }
    }
    .wrapper-header-help {
        position: absolute;
        padding: 20px 10px;
        top: 30px;
        z-index: -10;
        border-radius: 8px;
        background-color: @white;
        width: 100%;
        left: 0;
        .scale(1,
        0);
        // .translate(0,-20px);
        .opacity(0);
        .box-shadow(0px 6px 6px rgba(0, 0, 0, 0.175));
        .transition(0.3s,
        ease-out);
        ul {
            padding: 0;
            margin: 0;
            li {
                padding: 7px 10px;
                list-style: none;
                a {
                    color: @gray-dark;
                    font-size: 15px;
                    .transition(0.3s,
                    ease-out);
                    &:hover {
                        text-decoration: none;
                        color: @blue;
                        .transition(0.3s,
                        ease-out);
                    }
                }
            }
        }
        &:before {
            content: '';
            position: absolute;
            bottom: 100%;
            right: 55px;
            width: 0;
            height: 0;
            border-bottom: 8px solid @gray-light;
            border-right: 9px solid transparent;
            border-left: 9px solid transparent;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 100%;
            right: 57px;
            width: 0;
            height: 0;
            border-bottom: 7px solid #FFFFFF;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
        }
        .nc-icon-outline {
            font-size: 24px;
            margin-right: 3px;
            vertical-align: bottom;
        }
        @media only screen and (min-width: 480px) {
            max-width: 215px;
            left: inherit;
            right: 14px;
            &:before {
                right: 17px;
            }
            &:after {
                right: 19px;
            }
        }
        @media only screen and (min-width: @screen-sm) {
            &:before {
                right: 45px;
            }
            &:after {
                right: 47px;
            }
        }
        @media only screen and (min-width: @screen-md) {
            &:before {
                right: 44px;
            }
            &:after {
                right: 46px;
            }
        }
    }
    .wrapper-header-account {
        position: absolute;
        padding: 20px 10px;
        top: 80px;
        z-index: -10;
        border-radius: 8px;
        background-color: @white;
        width: 100%;
        right: 74px;
        max-width: 280px;
        .scale(1,
        0);
        // .translate(0,-20px);
        .opacity(0);
        .box-shadow(0px 6px 6px rgba(0, 0, 0, 0.175));
        .transition(0.3s,
        ease-out);
        ul {
            padding: 0;
            margin: 0;
            li {
                padding: 7px 10px;
                list-style: none;
                a {
                    color: @gray-dark;
                    font-size: 15px;
                    .transition(0.3s,
                    ease-out);
                    &:hover {
                        text-decoration: none;
                        color: @blue;
                        .transition(0.3s,
                        ease-out);
                    }
                }
            }
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 100%;
            right: calc(~"50% - 7px");
            width: 0;
            height: 0;
            border-bottom: 10px solid #FFFFFF;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
        }
        .btn {
            width: 100%;
            padding-left: 40px;
        }
        #forgot_popup_modal {
            padding-left: 0 !important;
        }
        h4 {
            color: @blue;
        }
        .nc-icon-outline {
            font-size: 24px;
            margin-right: 3px;
            vertical-align: bottom;
        }
    }
    .tooltipShow {
        .scale(1,
        1);
        .translate(0,
        0);
        .opacity(1);
        z-index: 500;
        .transition(0.3s,
        ease-out);
    }
    &.white {
        nav.main {
            padding-right: 60px;
            .contact-us-wrapper {
                right: 15px;
                color: @blue;
                a {
                    color: @blue;
                }
            }
            > a {
                span {
                    color: @blue;
                }
            }
        }
        .icons-mobile {
            right: 11px !important;
            .wrapper-hamburger {
                .icon-line {
                    height: 3px;
                    background-color: @blue;
                }
            }
        }
    }
}

.bs-menu-mobile {
    width: 230px;
    height: 100vh;
    position: absolute;
    z-index: 900;
    background-color: @white;
    right: 0;
    top: 0;
    padding: 66px 0 50px 20px;
    .translate(100%,
    0);
    .transition(0.3s,
    ease-out);
    .wrapper-menu {
        width: 100%;
        padding-right: 20px;
        height: 100%;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        .btn {
            display: block;
            margin-bottom: 10px;
            border-radius: 2px;
            border: 1px solid @blue !important;
            color: @blue !important;
            background-color: @white !important;
            width: 100%;
            &:last-of-type {
                margin-bottom: 20px;
                background-color: @white;
                color: @blue;
                border-color: @white;
            }
            &:hover {
                color: @white !important;
                background-color: @blue !important;
            }
        }
        ul {
            padding: 0;
            margin: 0 0 60px 0;
            li {
                list-style: none;
                color: @blue;
                font-size: 18px;
                a {
                    color: @gray-dark;
                    font-size: 14px;
                    display: block;
                    padding: 8px 0;
                }
                &.list-subtitle {
                    margin-top: 10px;
                }
            }
        }
    }
    @media only screen and (min-width: 621px) {
        top: 0;
        padding: 80px 0 20px 20px;
    }
}

.icons-mobile {
    position: fixed;
    // z-index: 127601;
    .wrapper-hamburger {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }
    .wrapper-hamburger {
        position: relative;
        width: 35px;
        height: 20px;
        .icon-line {
            display: block;
            width: 85%;
            margin: 0 auto;
            right: 0;
            height: 3px;
            // margin-bottom: 6px;
            position: absolute;
            left: 0;
            .transitionProp(transform,
            0.3s,
            ease-out);
            &:last-of-type {
                // margin-bottom: 0;
            }
        }
        .line1 {
            top: 0;
        }
        .line2 {
            top: 8px;
        }
        .line3 {
            bottom: 1px;
        }
        &.dark {
            .icon-line {
                background-color: @blue;
            }
        }
    }
    @media screen and (max-width: 480px) {
        top: 18px;
        right: 10px;
    }
}

.body-veil {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    z-index: 700;
}

.menuOn {
    header {
        nav {
            .nc-icon-outline {
                .opacity(0);
            }
        }
        .wrapper-hamburger {
            z-index: 1000;
            .line1 {
                top: 35%;
                right: 0;
                margin: 0 auto;
                width: 85%;
                transform: translate(0, 50%) rotate(45deg);
                -webkit-transform: translate(0, 50%) rotate(45deg);
                -moz-transform: translate(0, 50%) rotate(45deg);
                -o-transform: translate(0, 50%) rotate(45deg);
                -ms-transform: translate(0, 50%) rotate(45deg);
            }
            .line3 {
                bottom: inherit;
                top: 35%;
                right: 0;
                margin: 0 auto;
                width: 85%;
                transform: translate(0, 50%) rotate(-45deg);
                -webkit-transform: translate(0, 50%) rotate(-45deg);
                -moz-transform: translate(0, 50%) rotate(-45deg);
                -o-transform: translate(0, 50%) rotate(-45deg);
                -ms-transform: translate(0, 50%) rotate(-45deg);
            }
            .line2 {
                .opacity(0);
            }
        }
    }
    .bs-menu-mobile {
        box-shadow: 0 0 20px rgba(0, 0, 0, .25);
        z-index: 960;
        .translate(0,
        0) !important;
        position: fixed;
        .icons-mobile {
            right: 180px;
            top: 22px;
            z-index: 1000;
            .wrapper-hamburger {
                position: relative;
                width: 35px;
                height: 20px;
                .icon-line {
                    display: block;
                    width: 85%;
                    margin: 0 auto;
                    right: 0;
                    height: 3px;
                    background-color: @blue;
                    // margin-bottom: 6px;
                    position: absolute;
                    left: 0;
                    .transitionProp(transform,
                    0.3s,
                    ease-out);
                    &:last-of-type {
                        // margin-bottom: 0;
                    }
                }
                .line1 {
                    top: 35%;
                    right: 0;
                    margin: 0 auto;
                    width: 85%;
                    transform: translate(0, 50%) rotate(45deg);
                    -webkit-transform: translate(0, 50%) rotate(45deg);
                    -moz-transform: translate(0, 50%) rotate(45deg);
                    -o-transform: translate(0, 50%) rotate(45deg);
                    -ms-transform: translate(0, 50%) rotate(45deg);
                }
                .line3 {
                    bottom: inherit;
                    top: 35%;
                    right: 0;
                    margin: 0 auto;
                    width: 85%;
                    transform: translate(0, 50%) rotate(-45deg);
                    -webkit-transform: translate(0, 50%) rotate(-45deg);
                    -moz-transform: translate(0, 50%) rotate(-45deg);
                    -o-transform: translate(0, 50%) rotate(-45deg);
                    -ms-transform: translate(0, 50%) rotate(-45deg);
                }
                .line2 {
                    .opacity(0);
                }
            }
            @media only screen and (min-width: 768px) {
                top: 31px;
            }
        }
    }
    .body-veil {
        left: 0;
        display: block;
        .opacity(0.5);
        // background-color: transparent !important;
    }
}

.menuHeaderOn {
    .body-veil {
        display: block;
        left: 0;
        .opacity(0.5);
    }
}
