// 
// Text Selection
// --------------------------------------------------

::selection { 
	color: @white;
	background: @brand-primary;
}

::-moz-selection { 
	color: @white;
	background: @brand-primary;
}

input:-webkit-autofill { 
	-webkit-text-fill-color: @input-color;
	.box-shadow( inset 0 0 0 50px @input-bg );

	&::selection { background: @input-bg;}
}


//
// Colors
// --------------------------------------------------

.white { color: @white;}
.black { color: @black;}
.gray  { color: @text-color;}

.light-gray { color: lighten( @text-color, 20% );}
.dark-gray { color: darken( @text-color, 20% );}

.red    { color: @red;}
.orange { color: @orange;}
.yellow { color: @yellow;}
.green  { color: @green;}
.green-confirmed  { color: @green-confirmed;}
.blue   { color: @blue;}
.purple, 
.violet { color: @purple;}

.link-reset { 
	color: inherit;

	&:hover, 
	&:focus, 
	&:active { 
		color: inherit;
		outline: none;
		text-decoration: none;
	}
}

.link-muted { 
	color: @text-color;

	&:hover { color: @brand-primary;}
}

.link-knockout { 
	color: @white;

	&:hover { color: @brand-primary;}
}


//
// Background Colors
// --------------------------------------------------

.bg-white { background-color: @white;}
.bg-black { background-color: @black;}
.bg-gray  { background-color: @text-color;}

.bg-light-gray { background-color: lighten( @text-color, 20% );}
.bg-lighter-gray { background-color: lighten( @text-color, 30% );}
.bg-lightest-gray { background-color: @gray-lightest;}
.bg-dark-gray { background-color: darken( @text-color, 20% );}

.bg-red    { background-color: @red;}
.bg-orange { background-color: @orange;}
.bg-yellow { background-color: @yellow;}
.bg-green  { background-color: @green;}
.bg-blue   { background-color: @blue;}
.bg-dark-blue   { background-color: @dark-blue;}
.bg-purple, 
.bg-violet { background-color: @purple;}


// Fonts
// --------------------------------------------------

.font-size-12 { font-size: 12px;}
.font-size-14 { font-size: 14px;}
.font-size-16 { font-size: 16px;}
.font-size-18 { font-size: 18px;}
.font-size-20 { font-size: 20px;}
.font-size-22 { font-size: 22px;}
.font-size-24 { font-size: 24px;}

.font-size-30 { font-size: 30px;}
.font-size-36 { font-size: 36px;}
.font-size-48 { font-size: 48px;}


// Images
// --------------------------------------------------

.img-responsive { 

	&.pull-left, 
	&.pull-left-xs, 
	&.pull-left-sm, 
	&.pull-left-md, 
	&.pull-left-lg, 
	&.pull-right, 
	&.pull-right-xs, 
	&.pull-right-sm, 
	&.pull-right-md, 
	&.pull-right-lg { display: inline-block;}

}


// Divider Line
// --------------------------------------------------

hr { 
	&.dotted { border-style: dotted;}

	&.dashed { border-style: dashed;}

	&.thin { margin: -@content-margin-half 0 @content-margin-half;}

	&.narrow { margin: -@content-margin-quarter 0 @content-margin-quarter;}
}


//
// Forms
// --------------------------------------------------

.required { 
	color: @red;

	label & { margin-right: 3px;}

}


// Lists
// --------------------------------------------------

.list-disc { list-style: disc;}
.list-circle { list-style: circle;}
.list-square { list-style: square;}

.list-upper-latin, 
.list-upper-alpha { list-style: upper-alpha;}
.list-lower-latin, 
.list-lower-alpha { list-style: upper-alpha;}

.list-upper-roman { list-style: upper-roman;}
.list-lower-roman { list-style: lower-roman;}

.list-bullet { 
	padding-left: @content-padding;
	list-style: none;

	> li { 
		position: relative;

		&:before { 
			content: @unicode-bullet;
			position: absolute;
			top: -7px;
			left: -20px;
			font-size: @font-size-xlarge;
			font-family: @font-family-sans-serif;
		}
	}

	&.list-bullet-blue > li:before { color: @blue;}

	&.list-bullet-green > li:before { color: @green;}

	&.list-bullet-orange > li:before { color: @orange;}
}


.list-caret { 
	padding-left: @content-padding;
	list-style: none;

	> li { 
		position: relative;

		&:before { 
			content: @unicode-rsaquo;
			position: absolute;
			top: -9px;
			left: -20px;
			font-size: @font-size-xlarge;
			font-family: @font-family-sans-serif;
		}
	}

	&.list-caret-blue > li:before { color: @blue;}

	&.list-caret-green > li:before { color: @green;}

	&.list-caret-orange > li:before { color: @orange;}
}

.list-chevron { .list-caret();}

.list-table-view { 
	padding: 0;
	margin: 0;
	list-style: none;

	> li { 
		position: relative;
		padding-top: @content-margin-half;
		padding-bottom: @content-margin-half;

		+ li { border-top: 1px solid @border-color;}
	}
}


// 
// Padding
// --------------------------------------------------

.padding { padding: @content-padding;}

.padding-none { padding: 0;}

.padding-half { padding: 10px;}


// 
// Padding Top
// ----------------------------------------

.padding-top-none { padding-top: 0;}

.padding-top-full { padding-top: @content-padding;}

.padding-top-half { padding-top: @content-padding-half;}

.padding-top-quarter { padding-top: @content-padding-quarter;}

.padding-top-double { padding-top: @content-padding-double;}


// 
// Padding Right
// ----------------------------------------

.padding-right-none { padding-right: 0;}

.padding-right-full { padding-right: @content-padding;}

.padding-right-half { padding-right: @content-padding-half;}

.padding-right-quarter { padding-right: @content-padding-quarter;}

.padding-right-double { padding-right: @content-padding-double;}


// 
// Padding Bottom
// ----------------------------------------

.padding-bottom-none { padding-bottom: 0;}

.padding-bottom-full { padding-bottom: @content-padding;}

.padding-bottom-half { padding-bottom: @content-padding-half;}

.padding-bottom-quarter { padding-bottom: @content-padding-quarter;}

.padding-bottom-double { padding-bottom: @content-padding-double;}


// 
// Padding Left
// ----------------------------------------

.padding-left-none { padding-left: 0;}

.padding-left-full { padding-left: @content-padding;}

.padding-left-half { padding-left: @content-padding-half;}

.padding-left-quarter { padding-left: @content-padding-quarter;}

.padding-left-double { padding-left: @content-padding-double;}


// Border
// --------------------------------------------------

.border { 
	border-top: 1px solid @border-color;

	&.border-dotted { border-style: dotted;}
	&.border-dashed { border-style: dashed;}
}

.border-none { border-width: 0;}


// Border Top
// ----------------------------------------

.border-top { 
	border-top: 1px solid @border-color;

	&.border-top-dotted { border-top-style: dotted;}
	&.border-top-dashed { border-top-style: dashed;}
}

.border-top-none, 
.border-top-xs-none { border-top-width: 0;}

@media ( min-width: @screen-sm ){ 

	.border-top-sm { 
		border-top: 1px solid @border-color;

		&.border-top-sm-dotted { border-top-style: dotted;}
		&.border-top-sm-dashed { border-top-style: dashed;}
	}

	.border-top-sm-none { border-top-width: 0;}
}

@media ( min-width: @screen-md ){ 

	.border-top-md { 
		border-top: 1px solid @border-color;

		&.border-top-md-dotted { border-top-style: dotted;}
		&.border-top-md-dashed { border-top-style: dashed;}
	}

	.border-top-md-none { border-top-width: 0;}
}

@media ( min-width: @screen-lg ){ 

	.border-top-lg { 
		border-top: 1px solid @border-color;

		&.border-top-lg-dotted { border-top-style: dotted;}
		&.border-top-lg-dashed { border-top-style: dashed;}
	}

	.border-top-lg-none { border-top-width: 0;}
}


// Border Right
// ----------------------------------------

.border-right { 
	border-right: 1px solid @border-color;

	&.border-right-dotted { border-right-style: dotted;}
	&.border-right-dashed { border-right-style: dashed;}
}

.border-right-none, 
.border-right-xs-none { border-right-width: 0;}

@media ( min-width: @screen-sm ){ 

	.border-right-sm { 
		border-right: 1px solid @border-color;

		&.border-right-sm-dotted { border-right-style: dotted;}
		&.border-right-sm-dashed { border-right-style: dashed;}
	}

	.border-right-sm-none { border-right-width: 0;}
}

@media ( min-width: @screen-md ){ 

	.border-right-md { 
		border-right: 1px solid @border-color;

		&.border-right-md-dotted { border-right-style: dotted;}
		&.border-right-md-dashed { border-right-style: dashed;}
	}

	.border-right-md-none { border-right-width: 0;}
}

@media ( min-width: @screen-lg ){ 

	.border-right-lg { 
		border-right: 1px solid @border-color;

		&.border-right-lg-dotted { border-right-style: dotted;}
		&.border-right-lg-dashed { border-right-style: dashed;}
	}

	.border-right-lg-none { border-right-width: 0;}
}


// Border Bottom
// ----------------------------------------

.border-bottom { 
	border-bottom: 1px solid @border-color;

	&.border-bottom-dotted { border-bottom-style: dotted;}
	&.border-bottom-dashed { border-bottom-style: dashed;}
}

.border-bottom-none, 
.border-bottom-xs-none { border-bottom-width: 0;}

@media ( min-width: @screen-sm ){ 

	.border-bottom-sm { 
		border-bottom: 1px solid @border-color;

		&.border-bottom-sm-dotted { border-bottom-style: dotted;}
		&.border-bottom-sm-dashed { border-bottom-style: dashed;}
	}

	.border-bottom-sm-none { border-bottom-width: 0;}
}

@media ( min-width: @screen-md ){ 

	.border-bottom-md { 
		border-bottom: 1px solid @border-color;

		&.border-bottom-md-dotted { border-bottom-style: dotted;}
		&.border-bottom-md-dashed { border-bottom-style: dashed;}
	}

	.border-bottom-md-none { border-bottom-width: 0;}
}

@media ( min-width: @screen-lg ){ 

	.border-bottom-lg { 
		border-bottom: 1px solid @border-color;

		&.border-bottom-lg-dotted { border-bottom-style: dotted;}
		&.border-bottom-lg-dashed { border-bottom-style: dashed;}
	}

	.border-bottom-lg-none { border-bottom-width: 0;}
}

.border-bottom-gray {
	border-bottom: 1px solid @gray;
}


// Border Left
// ----------------------------------------

.border-left { 
	border-left: 1px solid @border-color;

	&.border-left-dotted { border-left-style: dotted;}
	&.border-left-dashed { border-left-style: dashed;}

}

.border-left-gray {
	border-left: 1px solid @gray;
}

.border-left-none, 
.border-left-xs-none { border-left-width: 0;}

@media ( min-width: @screen-sm ){ 

	.border-left-sm { 
		border-left: 1px solid @border-color;

		&.border-left-sm-dotted { border-left-style: dotted;}
		&.border-left-sm-dashed { border-left-style: dashed;}
	}

	.border-left-sm-none { border-left-width: 0;}
}

@media ( min-width: @screen-md ){ 

	.border-left-md { 
		border-left: 1px solid @border-color;

		&.border-left-md-dotted { border-left-style: dotted;}
		&.border-left-md-dashed { border-left-style: dashed;}
	}

	.border-left-md-none { border-left-width: 0;}
}

@media ( min-width: @screen-lg ){ 

	.border-left-lg { 
		border-left: 1px solid @border-color;

		&.border-left-lg-dotted { border-left-style: dotted;}
		&.border-left-lg-dashed { border-left-style: dashed;}
	}

	.border-left-lg-none { border-left-width: 0;}
}


// 
// Margin
// --------------------------------------------------

.margin { margin: @content-margin;}

.margin-none { margin: 0;}


// 
// Margin Top
// ----------------------------------------

.margin-top-none { margin-top: 0;}

.margin-top-full { margin-top: @content-margin;}
	.margin-top-pull-full { margin-top: -@content-margin;}

.margin-top-half { margin-top: @content-margin-half;}
	.margin-top-pull-half { margin-top: -@content-margin-half;}

.margin-top-quarter { margin-top: @content-margin-quarter;}
	.margin-top-pull-quarter { margin-top: -@content-margin-quarter;}

.margin-top-double { margin-top: @content-margin-double;}
	.margin-top-pull-double { margin-top: -@content-margin-double;}


@media (max-width: @screen-xs-max){ 

	.margin-top-xs-pull-full    { margin-top: -@content-margin;}
	.margin-top-xs-pull-half    { margin-top: -@content-margin-half;}
	.margin-top-xs-pull-quarter { margin-top: -@content-margin-quarter;}
	.margin-top-xs-pull-double  { margin-top: -@content-margin-double;}

}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

	.margin-top-sm-pull-full    { margin-top: -@content-margin;}
	.margin-top-sm-pull-half    { margin-top: -@content-margin-half;}
	.margin-top-sm-pull-quarter { margin-top: -@content-margin-quarter;}
	.margin-top-sm-pull-double  { margin-top: -@content-margin-double;}

}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

	.margin-top-md-pull-full    { margin-top: -@content-margin;}
	.margin-top-md-pull-half    { margin-top: -@content-margin-half;}
	.margin-top-md-pull-quarter { margin-top: -@content-margin-quarter;}
	.margin-top-md-pull-double  { margin-top: -@content-margin-double;}

}

@media ( min-width: @screen-lg ){ 

	.margin-top-lg-pull-full    { margin-top: -@content-margin;}
	.margin-top-lg-pull-half    { margin-top: -@content-margin-half;}
	.margin-top-lg-pull-quarter { margin-top: -@content-margin-quarter;}
	.margin-top-lg-pull-double  { margin-top: -@content-margin-double;}

}


// 
// Margin Right
// ----------------------------------------

.margin-right-none { margin-right: 0;}

.margin-right-full { margin-right: @content-margin;}

.margin-right-half { margin-right: @content-margin-half;}

.margin-right-quarter { margin-right: @content-margin-quarter;}

.margin-right-double { margin-right: @content-margin-double;}


// 
// Margin Bottom
// ----------------------------------------

.margin-bottom-none { margin-bottom: 0;}

.margin-bottom-full { margin-bottom: @content-margin;}

.margin-bottom-half { margin-bottom: @content-margin-half;}

.margin-bottom-quarter { margin-bottom: @content-margin-quarter;}

.margin-bottom-double { margin-bottom: @content-margin-double;}


// 
// Margin Left
// ----------------------------------------

.margin-left-none { margin-left: 0;}

.margin-left-full { margin-left: @content-margin;}

.margin-left-half { margin-left: @content-margin-half;}

.margin-left-quarter { margin-left: @content-margin-quarter;}

.margin-left-double { margin-left: @content-margin-double;}


// Transitions
// --------------------------------------------------

.transition-none { 
	.transition( "none !important" );
}