.text-truncate {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}



.dropdown-menu { 

	&.dropdown-form { padding: @content-padding-half; }

	.nav-tabs, 
	.nav-tabs.nav-justified { 
		> li > a { 
			&,
			&:hover,
			&:focus { 
				border-top-color: transparent;
				border-left-color: transparent;
				border-right-color: transparent;
				border-radius: 0;
				color: @text-color;
				font-size: @font-size-base;

				.badge { 
					color: @white;
					background-color: @brand-secondary;
				//	.opacity( 0.5 );
				}
			}
		}

		> li.active > a { 
			border-bottom-color: transparent;
	
		//	.badge { .opacity( 1.0 );}
		}

		> li + li > a { 
			&,
			&:hover,
			&:focus { border-left-color: @nav-tabs-active-link-hover-border-color;}
		}
	}
}


.navmenu.navmenu-default {

	.navmenu-header { padding: @content-padding @content-padding 0;}

	.navmenu-nav { 
		> li {

			> a, 
			> span { 
				display: block;
			 	padding: @content-padding-quarter @content-padding;
			}

			> a:hover { background-color: @gray-lighter;}

			&.nav-header { 
				padding: @content-padding-half @content-padding;
				margin-top: @content-margin;
				color: @gray;
				font-size: @font-size-small;

				&:first-child { margin-top: 0;}
			}
		}
	}
}



.va-center {
	display: inline-block;
	margin-left: -2px;
	float: none;
	vertical-align: middle;
}

.va-bottom {
	display: inline-block;
	margin-left: -2px;
	float: none;
	vertical-align: bottom;
}


.bs-site-wrapper { 
	position: relative;
	left: 0;
	min-height: 100%;
	z-index: 2;
	background: @body-bg;
}


// .bs-site-nav { margin-bottom: @content-margin;}


.bs-navbar-desktop {
	.list-inline { margin-top: 12px;}

	.nav-icon .fa { font-size: 18px;}

	.dropdown-menu { 
		

		.tab-pane { 
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	.search-dropdown { 
		margin-left: 10px;

		.dropdown-menu.dropdown-form { width: 400px;}
	}

	.nav-button { margin-left: 20px;}

	.user-account-dropdown { 

		&.user-bubble-active { 
			&:before { 
				content: '';
				position: absolute;
				top: 18px;
				right: 13px;
				width: 0;
				height: 0;
				border: 4px solid @brand-secondary;
				border-radius: 100%;
			}

			> a .fa { color: @brand-primary;}
		}

		.dropdown-menu { 
			padding-top: 0;
			padding-bottom: 0;
			width: 300px;
		}
	}
}


.user-messages, 
.active-trips { 
	li { 
		padding-left: @content-padding;
		padding-right: @content-padding;
	}

	p { margin-bottom: @content-margin-half;}

	li + li { 
		border-top: 1px solid @border-color;
		padding-top: @content-padding-half;
	}

	img { 
		position: relative;
		top: 5px;
	}
}


.bs-site-nav { 
	margin-bottom: @content-margin;

	.navbar-toggle { .navbar-vertical-align(34px);}
}


.navbar-brand { 
	position: relative;
	width: 180px;
	margin-left: @content-margin;
	background: url( 'images/logo-desktop-boatsetter.png' ) center no-repeat;
	text-indent: -9999px;
}


.brand-tagline { 
	position: absolute;
	left: 170px;
	top: 37px;
	display: none;
	font-size: 12px;
	.font-family-open-sans( light );
	text-indent: 0;
	white-space: nowrap;

	@media( min-width: @grid-float-breakpoint ) { 
		display: block;
	}
}


.navbar-toggle { 

	@icon-bar-rotatate-count: 0.5;
	@icon-bar-top-offet: 6px;

	@icon-bar-rotate: ( @icon-bar-rotatate-count * 360 ) + 45deg;

//	.box-shadow( inset 0 1px 5px rgba( red( @gray ), green( @gray ), blue( @gray ), 1.0 ) );

	&.animate { 
		.icon-bar { 
			position: relative;
			top: @icon-bar-top-offet;
			transition: all 250ms ease-in-out;
			.rotate( @icon-bar-rotate );

			+ .icon-bar { 
				top: 0;
				.opacity( 0 );

				+ .icon-bar { 
					top: -@icon-bar-top-offet;
					.rotate( -@icon-bar-rotate );
					.opacity( 1.0 );
				}
			}
		}
	}

	&.collapsed { 
		.box-shadow( none );

		&.animate { 
			.icon-bar { 
				top: 0 !important;
				.rotate( 0deg ) !important;
				.opacity( 1.0 ) !important;
			}
		}
	}
}


.bs-navmenu-mobile { 
	top: @navbar-height + 1;
	z-index: 1;
}






.bs-site-panel { 
	padding: ( @content-padding-double + @content-padding ) 0 @content-padding-double;

	&.flush { padding: 0;}
	&.flush-top { padding-top: 0;}
	&.flush-bottom { padding-bottom: 0;}

	&.bg-white      { background-color: @white;}
	&.bg-light-gray { background-color: @gray-lighter;}
	&.bg-gray       { background-color: @gray;}
	&.bg-dark-gray  { background-color: @gray-darker;}
	&.bg-black      { background-color: @black;}

	&.bg-red    { background-color: @red;}
	&.bg-orange { background-color: @blue;}
	&.bg-yellow { background-color: @yellow;}
	&.bg-green  { background-color: @green;}
	&.bg-blue   { background-color: @blue;}
	&.bg-purple { background-color: @purple;}

	&.bg-red, 
	&.bg-orange, 
	&.bg-green, 
	&.bg-blue, 
	&.bg-purple { color: @white;}

	&#captains-overview { 

		[class*="col-"] [class*="col-"] { 
			border-color: @white;
			margin-bottom: 0;

			@media( min-width: @grid-float-breakpoint ) { 
				margin-bottom: @content-margin-double;
			}
		}
	}
}


.how-it-works { 
	padding: ( @line-height-computed * 3 ) 0 @line-height-computed;
	color: @white;
	background-color: @brand-primary;

	.h1, .h2, .h3, 
	.h4, .h5, .h6 { color: @white;
					font-weight: bold;}

	.fa { 
		margin-bottom: @line-height-computed;
		font-size: ( @font-size-xlarge * 1.5 );
	}

	.close { 
		position: relative;
		top: -@line-height-computed;
		left: -1px;
		display: block;
		border: 2px solid @white;
		border-radius: 100%;
		width: 30px;
		height: 30px;
		line-height: 26px;
		color: @white;
		font-size: @font-size-medium;
		.opacity( 0.6 );
		box-shadow: @close-text-shadow;
	}
}


.destination-cards { 
	.bs-site-title .btn { 
		position: relative;
		top: -5px;
	}
}

.destination-card { 
	position: relative;
//	margin: 0 ( @line-height-computed / 2 );
	height: 170px;
	background-color: @gray;
	background-size: cover;
	background-position: center;

	a { 
		padding-left: @content-padding;
		padding-right: @content-padding;
		background-color: rgba( 255, 255, 255, 0 );
		.transition( background-color .15s linear );
	}

	.destination-card-location { 
		margin: 0;
		color: @white;
		.font-family-open-sans( bold );
		text-transform: uppercase;
	}

	&:hover { 
		a { 
			background-color: rgba( 255, 255, 255, 0.3 );
			text-decoration: none;
		}
	}
	
}



.boat-search { 
	padding: @content-padding;
	padding-bottom: 0;
	border: 1px solid lighten( @brand-primary, 25% );
	border-radius: @border-radius-base;
	background-color: lighten( @brand-primary, 45% );

	p { 
		display: inline-block;
		line-height: @input-height-base;
		font-size: @font-size-large;

		.fa { margin-right: @content-margin-half;}
	}

	.form-inline .form-control { width: 200px;}
}


.boat-overview-card { 
	position: relative;
	top: 0;
	display: block;
	border: 1px solid @border-color;
	margin-bottom: @content-margin;
	color: @text-color;
	background-color: @white;
	transition: all 0.2s ease-in-out;

	.poster { border-bottom: 1px solid @border-color;}

	.boat-card-info { 
		position: relative;
		padding: @content-padding-half;


		.boat-info-primary { 
			display: block;
			margin-bottom: @content-margin-half;
			line-height: 20px;
			.clearfix();
		}

		.boat-info-secondary { 
			display: block;
			line-height: 20px;
			.clearfix();
		}

		.price { 
			position: relative;
			top: -2px;
			font-size: @font-size-xlarge;
		}
	}

	&:hover { 
		text-decoration: none;
		.box-shadow( 0 1px 5px rgba( red( @gray ), green( @gray ), blue( @gray ), 0.7 ) );

		.poster { .opacity( 0.80 );}

		.boat-info-primary, 
		.boat-info-secondary { 
			color: @brand-primary;
		}
	}
}







.breadcrumb-group { 

	@breadcrumb-padding: 10px;

	@breadcrumb-divider-color: @body-bg;

	@breadcrumb-text-color: @text-color;
	@breadcrumb-bg-color: @white;

	@breadcrumb-active-text-color: @white;
	@breadcrumb-active-bg-color: @brand-primary;


	position: relative;
	display: inline-block;
//	border: 1px solid @border-color;
	margin-bottom: @content-margin;
	vertical-align: middle; // match .btn alignment given font-size hack above
	overflow: hidden;

	.breadcrumb { 
		position: relative;
		float: left;
		padding: @breadcrumb-padding 0;
		color: @breadcrumb-text-color;
		text-align: center;
		background-color: @breadcrumb-bg-color;

		+ .breadcrumb { 
			margin-left: -1px;
			border-left: 2px solid @breadcrumb-divider-color
		}

		.badge { 
			position: relative;
			top: -2px;
			color: @breadcrumb-bg-color;
			background-color: @breadcrumb-text-color;
		}

		&.active { 
			color: @breadcrumb-active-text-color;
			background-color: @breadcrumb-active-bg-color;

			&:not(:last-child):after { border-left-color: @breadcrumb-active-bg-color;}

			.badge { 
				color: @breadcrumb-active-bg-color;
				background-color: @breadcrumb-active-text-color;
			}
		}
	}


	&.breadcrumb-group-justified {
		display: table;
		width: 100%;
		table-layout: fixed;
		border-collapse: separate;

		> .breadcrumb { 
			float: none;
			display: table-cell;
			width: 1%;
		}
	}


	@media( min-width: @grid-float-breakpoint ) { 

		/** The Spacing **/
		@breadcrumb-padding-times-2       : ( @breadcrumb-padding * 2 );
		@breadcrumb-padding-times-3       : ( @breadcrumb-padding * 3 );
		@breadcrumb-padding-times-4       : ( @breadcrumb-padding * 4 );
		@breadcrumb-padding-times-5       : ( @breadcrumb-padding * 5 );
		@breadcrumb-padding-times-6       : ( @breadcrumb-padding * 6 );
		@breadcrumb-padding-times-7       : ( @breadcrumb-padding * 7 );

		.breadcrumb:not(:last-child):after { 
			content: " ";
			display: block;
			width: 0;
			height: 0;
			border: ( @breadcrumb-padding * 2 ) solid transparent;
			border-left: ( @breadcrumb-padding * 1 ) solid @breadcrumb-bg-color;
			position: absolute;
			top: 50%;
			margin-top: -( @breadcrumb-padding * 2 );
			left: 100%;
			z-index: 3;
		}

		.breadcrumb:not(:last-child):before {
			content: " ";
			display: block;
			width: 0;
			height: 0;
			border: ( @breadcrumb-padding * 3 ) solid transparent;
			border-left: ( ( @breadcrumb-padding * 2 ) - 4 ) solid @breadcrumb-divider-color;
			position: absolute;
			top: 50%;
			margin-top: -( @breadcrumb-padding * 3 );
			left: 100%;
			z-index: 3;
		}

		.breadcrumb { padding: @breadcrumb-padding @breadcrumb-padding-times-2 @breadcrumb-padding @breadcrumb-padding-times-4;}

		.breadcrumb:first-child { padding: @breadcrumb-padding @breadcrumb-padding @breadcrumb-padding @breadcrumb-padding-times-2;}

		.breadcrumb:last-child { padding: @breadcrumb-padding @breadcrumb-padding-times-3 @breadcrumb-padding @breadcrumb-padding-times-5;}
	}
}








.fa-ul .fa:before { margin-right: @content-margin-half;}




.toggle-arrow { 
	&:before { 
		content: @unicode-caret-down;
		right: 0;
		font-size: @font-size-small;
		margin-left: @content-margin-quarter;
	}

	.collapsed &:before { content: @unicode-caret-up;}

	@media( min-width: @grid-float-breakpoint ) { 
		position: absolute;
	}
}


.avatar { 
	&.avatar-overlay { 
		position: absolute;
		border: 1px solid @border-color;
	}
}

.rating { 
	margin-bottom: @content-margin;
	color: @gray;
	font-size: @font-size-small;

	.fa { 
		color: @brand-secondary;
		font-size: @font-size-large;
		text-shadow: 0 0 1px darken( @brand-secondary, 25% );
	}

	.rating-label { 
		position: relative;
		top: -3px;
	}

	.fa + .rating-label { margin-left: @content-margin-quarter;}
	.rating-label + .fa { margin-left: @content-margin-quarter;}
}


.column-headline { 
	display: inline-block;

//	@media( min-width: @grid-float-breakpoint ) { 
//		margin-bottom: 0;
//	}

	.results-label { color: @gray-dark;}
}


.column-content { 
	padding: @content-padding;
	padding-bottom: 0;
	border: 1px solid @border-color;
	margin-bottom: @content-margin;
	background-color: @white;
	.clearfix();

	&.column-content-collapse { padding: 0;}

	&.header { 
		border-bottom: none;
		margin-bottom: 0;

		.form-inline { 
			position: relative;
			top: -7px;
		}
	}

	&.filter { 
	//	background-color: lighten( @brand-primary, 45% );
		background-color: @gray-lightest;
	}
}


.search-result { 

	+ .search-result { 
		padding-top: @content-padding;
		border-top: 1px solid @border-color;
	}

	.rating { margin-bottom: @content-margin-half;}

	.images { 
		position: relative;
		margin-bottom: @content-margin;


		.avatar.avatar-overlay { 
			bottom: -@content-margin;
			right: @content-margin;

			@media( min-width: @grid-float-breakpoint ) { 
				bottom: @content-margin;
				right: -( @content-margin - 5 );
			}
		}
	}

	.information { 
		color: lighten( @text-color, 10% );

		font-size: @font-size-small;

		.trip-info { 
			@media ( max-width: @grid-float-breakpoint ) { 
				margin-bottom: ( @content-margin + 5 );
			}

			li + li { margin-top: @content-margin-half;}
		}
	}

	.headline { 
		color: @text-color;
		font-size: @font-size-h3;
		font-weight: 500;

		@media( min-width: @grid-float-breakpoint ) { 
			margin-bottom: @content-margin-half;
			font-size: @font-size-h1;
		}
	}

	.vessel { 
		margin-bottom: @content-margin-half;
		font-size: @font-size-large;
	}

	.price { 
		color: @gray-dark;
		font-size: @font-size-xlarge;
		font-weight: 500;
	}
}






.filter { 

	.navbar-toggle { 
		border: 1px solid @border-color;
		background-color: @white;
	}
}







.radio-group { 
	display: block !important;
	padding: @content-padding-half @content-padding;
	border: 1px solid @border-color;
	margin-bottom: @content-margin !important;
}