.flat-tabs {
    &.nav-tabs {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        @media screen and (max-width: @screen-sm) {
            margin: 0 -20px;
        }
    }
    &.nav-tabs > li {
        -ms-flex-positive: 1;
        flex-grow: 1;
        /* float: none !important;*/
        /* display: inline-block !important;*/
        @media screen and (max-width: 500px) {
            display: block !important;
            &.active {
                a {
                    // border-bottom: 0 !important;
                }
            }
        }
    }
    &.nav-tabs > li > a {
        display: inline-block;
        width: auto;
        background: transparent;
        border: none;
        font-size: 16px;
        padding: 5px 0;
        color: @gray-darker;
        @media screen and (max-width: @screen-sm) {
            font-size: 12px;
            text-align: center;
            padding: 5px 5px;
        }
    }
    &.nav-tabs > li.active > a {
        background: transparent;
        color: @gray-darker;
        font-weight: normal;
        border-bottom: 2px @blue solid;
        &:hover {
            color: @gray-darker;
        }
    }
    &.tab-content > .tab-pane {
        padding-left: 0;
    }
    &.nav-tabs.wide {
        > li > a {
            width: 100%;
            bottom: -1px;
        }
        > li.active > a {
            border-bottom: 1px @blue solid;
        }
    }
}

.wrapper-select {
    margin: 0 0 5px 0;
    position: relative;
    > div {
        background-color: transparent;
        box-shadow: 0 0 0 0;
    }
    .btn-group.open .dropdown-toggle {
        background-color: transparent !important;
        box-shadow: 0 0 0 0;
    }
    .btn {
        color: @gray-darker;
        border: 0 !important;
        // border-bottom: 1px solid @gray-light !important;
        background-color: transparent;
        border-radius: 0 !important;
        position: relative;
        &:hover,
        &:active,
        &:focus {
            outline: 0 !important;
        }
        &:before {
            font-family: 'Nucleo Outline';
            content: "\ea6a";
            font-weight: 100;
            color: @gray;
            font-size: 16px;
            position: absolute;
            top: 50%;
            .translate(0, -50%);
            right: 10px;
        }
        .boat-status & {
            border-bottom: 1px solid @gray !important;
        }
    }
    .bs-caret {
        display: none;
    }
    .dropdown-menu {
        border-radius: 2px;
        margin: 7px 0 0;
        padding: 0;
        // background-color: transparent;
        top: 34px;
        left: 0;
        li {
            a {
                display: block;
                padding: 8px 31px;
            }
        }
    }
    .dropdown {
        background-color: transparent;
        top: 34px;
        left: 0;
    }
    .btn-info:hover,
    .btn-info:focus,
    .btn-info:active,
    .btn-info.active,
    .open > .dropdown-toggle.btn-info {
        background-color: @gray-lighter !important;
        color: @gray-darker !important;
        outline: none !important;
    }
    @media only screen and (min-width: @screen-sm) {
        .caret {
            position: absolute;
            top: 74% !important;
            right: 15px;
        }
    }
}

.btn {
    height: 40px;
    font-size: 12px;
    vertical-align: middle;
    line-height: 25px;
    i[class^="bs-icon-"] {
        font-size: 18px;
        vertical-align: middle;
    }
    &.btn-sm {
        height: 26px;
        line-height: 16px !important;
    }
}

.nc-icon-outline.x075 {
    font-size: 0.75em;
}

.red-badge {
    position: absolute;
    top: -8px;
    right: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: @red;
    color: white;
    font-size: 11px;
    padding: 0;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    font-weight: 100;
    &.inline {
        position: relative;
        display: inline-block;
        top: auto;
    }
}

.noUi-horizontal .noUi-tooltip {
    bottom: 110%;
    color: #1773a3 !important;
    font-size: 16px !important;
    white-space: nowrap;
}

.noUi-horizontal .noUi-handle {
    top: -9px !important;
}

.noUi-horizontal {
    height: 10px !important;
    margin: 0 0 0 5% !important;
    &.inline-slider {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
        width: ~"calc(100% - 20px)" !important;
    }
}

.noUi-target {
    width: 95% !important;
    @media (max-width: @screen-sm) {
        width: 85% !important;
    }
    &.inline-slider {
        // width: 100% !important;
    }
}

.noUi-horizontal .noUi-handle {
    top: -12px !important;
}

.noUi-connect {
    background: @blue !important;
}

.noUi-handle {
    background: rgba(0, 0, 0, 0) url("images/bs-icons/spare/bs_slider-handler.svg") no-repeat scroll center center !important;
    border: medium none !important;
    box-shadow: none !important;
    &:before,
    &:after {
        content: "" !important;
        background: none !important;
    }
}

.noUi-tooltip {
    border: none !important;
    border-radius: 3px;
    background: transparent;
    white-space: nowrap;
    .big-tooltip & {
        display: block;
        position: absolute;
        border: none !important;
        border-radius: 3px;
        background: transparent;
        padding: 5px;
        text-align: center;
        font-size: 24px !important;
        color: #333333;
        font-weight: normal;
        color: @black !important;
    }
}

.data-set {
    .data-set-name {
        p {
            color: @gray-dark;
        }
    }
    .data-set-value {
        p {
            color: @gray-darker;
        }
    }
    @media screen and (max-width: @screen-sm) {
        p {
            font-size: 14px;
            margin-bottom: 10px;
        }
    }
}

.bs-icon-list {
    margin-top: 40px;
    margin-bottom: 40px;
    p {
        i:first-child {
            font-size: 28px;
            vertical-align: middle;
            width: 45px;
            position: relative;
            display: inline-block;
        }
        span {
            font-size: 16px;
            vertical-align: middle;
        }
    }
}

i[class^="bs-icon-"] {
    vertical-align: middle;
}

.tooltip-content {
    display: none;
    span {
        position: relative;
        display: inline-block;
        margin: 5px;
    }
    .tooltipster-box & {
        display: flex;
    }
}

body .modal.mobile-modal {
    @media screen and (max-width: @screen-xs) {
        width: 100%;
        padding: 0;
        .modal-dialog {
            // margin: 0 !important;
            // width: 100% !important;
            // top: 0 !important;
            // min-height: 100vh;
            .modal-content.padding {
                padding: 0 !important;
                // border-radius: 0;
                // min-height: 100vh;
                .modal-body {
                    padding: 10px;
                }
            }
        }
    }
}

.add-more {
    font-weight: normal;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.scroll-box {
    max-height: 130px;
    position: relative;
    display: block;
    border: 1px solid @gray;
}

.scroll-box-content {
    padding: 20px;
    width: 100%;
}

div.nano {
    > .nano-pane {
        width: 12px;
        border-radius: 0;
        background: @gray-lighter;
        > .nano-slider {
            margin: 0 3px;
            background: @blue;
        }
    }
}

.flex-row {
    display: flex;
}

.btn-normal {
    min-width: 200px;
}

.push-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.border-top-bottom {
    border-top: 1px solid @gray;
    border-bottom: 1px solid @gray;
}

.strong {
    font-weight: bold;
}

.bs-icon-lg {
    font-size: 25px;
}

.bs-icon-32 {
    font-size: 32px;
}

hr.dark {
    border-bottom: solid 1px @gray-dark;
}


.input-like {
    padding: 10px 0;
}


.bs-table {
    width: 100%;
    .bs-table-header {
        border-bottom: 1px solid @gray-dark !important;
        font-weight: normal;
        font-size: 16px;
    }
    .row, 
    tr {
        border-bottom: 1px solid @gray;
        padding: 5px 0;
        margin: 0;
    }
    td, 
    th {
        padding: 4px;
        text-align: center;
    }
}

.mobile-block {
    @media screen and (max-width: @screen-xs) {
        display: block;
    }
}
