//CHECKBOX
:root input[type=checkbox].bs-checkbox {
    /* original check box are push outside the viexport */
    position: absolute;
    left: -1000em;
    + label {
        font-weight: normal;
        color: @gray-darker;
        margin-top: 20px;
        font-size: 14px;
        vertical-align: middle;
        display: block;
        text-align: center;
        margin-bottom: 20px;
        cursor: pointer;
        padding-left: 0;
        &.horizontal {
            display: inline-block;
            margin-left: 0;
            margin-top: 3px;
            font-size: 18px;
        }
        i {
            font-size: 24px;
            vertical-align: middle;
            margin: 0
        }
        span.small {
            margin-top: 10px;
            display: block;
            color: @gray-dark;
            &.inline {
                display: inline;
                white-space: nowrap;
            }
        }
    }
    &:checked {
        + label {
            color: @blue;
        }
    }
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder {
        color: @gray;
    }
}

:root input[type=checkbox].bs-checkbox.simple {
    margin-right: 45px !important;
    margin-right: auto;
    + label {
        margin-bottom: 0 !important;
        font-size: 16px !important;
        font-weight: lighter;
        color: @gray-darker;
        &:before {
            // margin-right: 15px !important;
        }
    }
}

:root input[type=checkbox].bs-checkbox + label:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
    margin-bottom: 20px;
    background: white url("images/bs-icons/spare/bs_checkbox.svg") no-repeat 0 0;
    vertical-align: bottom;
    position: relative;
    bottom: 2px;
}

:root input[type=checkbox].bs-checkbox + label {
    font-weight: normal;
    color: @blue;
    font-size: 14px;
    vertical-align: middle;
    display: block;
    &:not(.horizontal) span {
        @media screen and ( max-width: @screen-sm ) {
            position: relative;
            display: block;
            margin-top: 5px;
        }
    }
    &.horizontal {
        display: inline-block;
        font-size: 18px;
        &:before {
            display: inline-block;
            margin-bottom: auto;
            vertical-align: middle;
        }
    }
}

:root input[type=checkbox].bs-checkbox.bs-checkbox-lg {
    width: 32px;
    height: 32px;
    + label:before {
        width: 32px;
        height: 32px;
        background: white url("images/bs-icons/spare/bs_checkbox-lg.svg") no-repeat 0 0;
        border: none !important;
    }
    + label:after {
        display: none;
    }
    &:checked {
        + label:before {
            background: white url("images/bs-icons/spare/bs_checkbox-lg-checked.svg") no-repeat 0 0;
        }
        + label:after {
            display: none;
        }
    }
}

:root input[type=checkbox].bs-checkbox:checked + label:before {
    background: white url("images/bs-icons/spare/bs_checkbox-checked.svg") no-repeat 0 0;
}

:root input[type=checkbox].bs-checkbox:disabled + label:before {
    opacity: 0.6;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

:root input[type=checkbox].bs-checkbox:checked:disabled + label:before {
    opacity: 0.6;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

:root input[type=checkbox].bs-checkbox:disabled + label,
:root input[type=checkbox].bs-checkbox:disabled + label + .big-tooltip {
    opacity: 0.6;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

:root input[type=checkbox].bs-checkbox:checked:disabled + label,
:root input[type=checkbox].bs-checkbox:checked:disabled + label + .big-tooltip {
    opacity: 0.6;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

// RADIO BUTTON
:root input[type=radio].bs-radio {
    /* original check box are push outside the viexport */
    position: absolute;
    left: -1000em;
    + label {
        cursor: pointer;
        font-weight: normal;
        color: @gray-darker;
        font-size: 14px;
        vertical-align: middle;
        display: block;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 5px;
        margin-right: 5px;
        &:before {
            border: none !important;
        }
        &.horizontal {
            display: inline-block;
            margin-left: 0;
            margin-top: 3px;
            font-size: 18px;
        }
        i {
            font-size: 24px;
            vertical-align: middle;
        }
        span.small {
            margin-top: 10px;
            display: block;
        }
    }
    &:checked {
        + label {
            color: @blue;
        }
    }
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder {
        color: @gray;
    }
}

:root input[type=radio].bs-radio.simple {
    margin-right: 45px !important;
    margin-right: auto;
    + label {
        margin-bottom: 0 !important;
        font-size: 16px !important;
        font-weight: lighter;
        color: @gray-darker;
        &:before {
            // margin-right: 15px !important;
        }
    }
}

:root input[type=radio].bs-radio + label:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
    background: white url("images/bs-icons/spare/bs_radio.svg") no-repeat 0 0;
    vertical-align: bottom;
    position: relative;
    bottom: 2px;
}

:root input[type=radio].bs-radio + label {
    font-weight: normal;
    color: @blue;
    font-size: 14px;
    vertical-align: middle;
    display: block;
    &:not(.horizontal) span {
        @media screen and ( max-width: @screen-sm ) {
            position: relative;
            display: block;
            margin-top: 5px;
        }
    }
    &.horizontal {
        display: inline-block;
        font-size: 18px;
        &:before {
            display: inline-block;
            margin-bottom: auto;
            vertical-align: middle;
        }
    }
}

:root input[type=radio].bs-radio.bs-radio-lg {
    width: 32px;
    height: 32px;
    + label:before {
        width: 32px;
        height: 32px;
        background: white url("images/bs-icons/spare/bs_radio-lg.svg") no-repeat 0 0;
    }
    &:checked {
        + label:before {
            background: white url("images/bs-icons/spare/bs_radio-lg-checked.svg") no-repeat 0 0;
        }
    }
}

:root input[type=radio].bs-radio:checked + label:before {
    background: white url("images/bs-icons/spare/bs_radio-checked.svg") no-repeat 0 0;
}

:root input[type=radio].bs-radio:disabled + label:before {
    opacity: 0.6;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

:root input[type=radio].bs-radio:checked:disabled + label:before {
    opacity: 0.6;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

:root input[type=radio].bs-radio:disabled + label,
:root input[type=radio].bs-radio:disabled + label + .big-tooltip {
    opacity: 0.6;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

:root input[type=radio].bs-radio:checked:disabled + label,
:root input[type=radio].bs-radio:checked:disabled + label + .big-tooltip {
    opacity: 0.6;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

// INPUTS
input[type="text"],
input[type="mail"],
input[type="tel"],
input[type="password"] {
    &.bs-inputs {
        border: none;
        border-bottom: solid 1px @gray;
        padding: 10px 0;
        display: block;
        width: 100%;
        background: #FFFFFF;
        text-align: left;
        position: relative;
        color: @black;
        font-weight: normal;
        &:disabled {
            opacity: 0.4;
        }
        @media screen and (min-width: @screen-md) {
            font-size: 16px;
        }
        &:focus {
            outline: none;
            border-bottom: solid 1px @blue;
        }
        &.bs-inputs-lg {
            font-size: 18px;
        }
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder,
        &:-moz-placeholder {
            color: @gray;
        }
        @media screen and (max-width: 992px) {
            &::-webkit-input-placeholder {
                color: @gray;
            }
        }
    }
    &.no-editable {
        border-bottom: none !important;
        color: @gray;
    }
}

.with-number {
    position: relative;
    input.bs-inputs {
        padding-left: 30px;
    }
    &:before {
        content: attr(data-number);
        position: absolute;
        top: 10px;
        left: 0;
        width: 20px;
        height: 20px;
        background: @blue;
        border-radius: 50%;
        color: white;
        line-height: 20px;
        text-align: center;
        z-index: 100;
        font-weight: bold;
    }
}

.bs-datepicker {
    position: relative;
    display: block;
    cursor: pointer;
    input {
        cursor: pointer;
    }
    &:before {
        position: absolute;
        z-index: 1;
        font-family: 'Nucleo Outline';
        content: '\ea6a';
        right: 0.25em;
        transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 0deg);
        transition: transform 0.5s;
        pointer-events: none;
    }
}

.bs-inputs-icon {
    .bs-inputs {
        padding-left: 30px !important;
        .transition(0.25s);
        &:focus {
            padding-left: 0 !important;
            + i {
                opacity: 0;
            }
        }
    }
    i {
        z-index: 1;
        position: absolute;
        top: 14px;
        line-height: 32px;
        vertical-align: middle;
        color: @blue;
        font-size: 18px;
        .transition(0.25s);
    }
}

.bs-inputs.short {
    min-width: 100px;
}

textarea {
    &.bs-inputs {
        border: none;
        border-bottom: 1px solid @gray;
        width: 100%;
        padding: 15px 0 35px 0;
        font-weight: 300;
        color: @black;
        font-weight: normal;
        margin: 0;
        &:focus {
            outline: none;
            border-bottom: solid 1px @blue;
        }
        &.bs-inputs-lg {
            font-size: 18px;
        }
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder,
        &:-moz-placeholder {
            color: @gray;
        }
    }
}

label i {
    font-size: 24px;
    margin-right: 10px;
}

.edit-inputs {
    font-weight: normal;
    cursor: pointer;
}

input[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    &.btn-available,
    &.btn-unavailable {
        &:before,
        &:after {
            display: none;
        }
        padding-left: 12px;
        font-size: 120%;
        background: @white;
        display: block;
        img {
            margin-top: -5px;
        }
    }
    &.btn-available {
        color: #23af40;
        border: 1px solid #23af40;
        &:hover {
            color: #23af40;
        }
    }
    &.btn-unavailable {
        color: @red;
        border: 1px solid @red;
        &:hover {
            color: @red;
        }
    }
}

[type="radio"]:checked + label {
    &.btn-available {
        background: #23af40;
        color: white;
        &:hover {
            color: white;
        }
    }
    &.btn-unavailable {
        background: @red;
        color: white;
        &:hover {
            color: white;
        }
    }
}

.bs-input-group {
    height: 40px;
    input {
        height: 40px !important;
        padding-left: 20px !important;
        height: auto;
        background-color: transparent !important;
        border: 1px solid @gray-dark !important;
        // box-shadow: none !important;
        &.copy {
            border: 1px dashed @gray-dark !important;
        }
    }
}

.import-btn {
    margin: 15px;
    margin-left: 0;
    display: inline-block;
}

.btn-knockout {
    &.btn-facebook-2 {
        border-color: #4c76bb;  
        margin-top: 15px;
        margin-right: 15px;
    }
    &.btn-messenger-2 {
        border-color: #19b5fc;  
        margin-top: 15px;
        margin-right: 15px;
    }
    &.btn-twitter-2 {
        border-color: #19c5fc;  
        margin-top: 15px;
        margin-right: 15px;
    }
}