// 
// <div class="progress-radial progress-65">
//  <div class="overlay">65%</div>
// </div>
// 
// 
// 
.progress-radial {
    margin: 0 auto 25px;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: @orange;
}
/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */

.progress-radial .overlay {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    font-weight: 300;
}
/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */

.progress-0 {
    background-image: linear-gradient(90deg, @blue 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, @orange 50%, @blue 50%, @blue);
}

.progress-5 {
    background-image: linear-gradient(90deg, @blue 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, @orange 50%, @blue 50%, @blue);
}

.progress-10 {
    background-image: linear-gradient(90deg, @blue 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, @orange 50%, @blue 50%, @blue);
}

.progress-15 {
    background-image: linear-gradient(90deg, @blue 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, @orange 50%, @blue 50%, @blue);
}

.progress-20 {
    background-image: linear-gradient(90deg, @blue 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, @orange 50%, @blue 50%, @blue);
}

.progress-25 {
    background-image: linear-gradient(90deg, @blue 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, @orange 50%, @blue 50%, @blue);
}

.progress-30 {
    background-image: linear-gradient(90deg, @blue 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, @orange 50%, @blue 50%, @blue);
}

.progress-35 {
    background-image: linear-gradient(90deg, @blue 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, @orange 50%, @blue 50%, @blue);
}

.progress-40 {
    background-image: linear-gradient(90deg, @blue 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, @orange 50%, @blue 50%, @blue);
}

.progress-45 {
    background-image: linear-gradient(90deg, @blue 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, @orange 50%, @blue 50%, @blue);
}

.progress-50 {
    background-image: linear-gradient(-90deg, @orange 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, @orange 50%, @blue 50%, @blue);
}

.progress-55 {
    background-image: linear-gradient(-72deg, @orange 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, @orange 50%, @blue 50%, @blue);
}

.progress-60 {
    background-image: linear-gradient(-54deg, @orange 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, @orange 50%, @blue 50%, @blue);
}

.progress-65 {
    background-image: linear-gradient(-36deg, @orange 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, @orange 50%, @blue 50%, @blue);
}

.progress-70 {
    background-image: linear-gradient(-18deg, @orange 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, @orange 50%, @blue 50%, @blue);
}

.progress-75 {
    background-image: linear-gradient(0deg, @orange 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, @orange 50%, @blue 50%, @blue);
}

.progress-80 {
    background-image: linear-gradient(18deg, @orange 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, @orange 50%, @blue 50%, @blue);
}

.progress-85 {
    background-image: linear-gradient(36deg, @orange 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, @orange 50%, @blue 50%, @blue);
}

.progress-90 {
    background-image: linear-gradient(54deg, @orange 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, @orange 50%, @blue 50%, @blue);
}

.progress-95 {
    background-image: linear-gradient(72deg, @orange 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, @orange 50%, @blue 50%, @blue);
}

.progress-100 {
    background-image: linear-gradient(90deg, @orange 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, @orange 50%, @blue 50%, @blue);
}
