/* Common, default styles for the notification box */

.ns-effect-thumbslider .ns-content {
   
    padding: 0 40px 0 50px !important;
    border:solid 1px #d4d4d4;
   
}


.progress-button{
	border: none;
	display: block;
	background: #0072a0;
	color: white;
	font-size: 16px;
	padding: 10px 0;
	width: 200px;
	margin: 40px 0;
}

.not-buttons{
	float: right;
}






.ns-box {
	position: fixed;
	background: transparent;
	padding: 22px;
	line-height: 1.4;
	z-index: 1000;
	pointer-events: none;
	color: rgba(250,251,255,0.95);
	font-size: 18px;
	top: 100px;
	left: 22px;
	font-weight: 300;
	font-family: "Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
}



.ns-thumb  {
	width: 64px;
	height: 64px;
	overflow: hidden;
	border-radius: 50%;
	border: 2px solid #0072a0;
	left: -10px;
}

.ns-thumb img {
	width: 100%;
}

.ns-box.ns-show {
	pointer-events: auto;
}

.ns-box a {
	color: #333333;
	opacity: 0.8 !important;
	font-weight: 300;
}

.ns-box-span{
	color: #333333;
	opacity: 0.8;
	font-weight: 300;

}

.ns-box a:hover,
.ns-box a:focus {
	opacity: 1;
}

.ns-box p {
	color: #333333;
	opacity: 1 !important;
	font-weight: 300;
}

.not-buttons{
	text-align: right;
}

.ns-box.ns-show,
.ns-box.ns-visible {
	pointer-events: auto;
}

.ns-close {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 4px;
	top: 4px;
	overflow: hidden;
	text-indent: 100%;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.ns-close:hover, 
.ns-close:focus {
	outline: none;
}

.ns-close::before,
.ns-close::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 60%;
	top: 50%;
	left: 50%;
	background: #6e6e6e;
}

.ns-close:hover::before,
.ns-close:hover::after {
	background: #fff;
}

.ns-close::before {
	-webkit-transform: translate(-50%,-50%) rotate(45deg);
	transform: translate(-50%,-50%) rotate(45deg);
}

.ns-close::after {
	-webkit-transform: translate(-50%,-50%) rotate(-45deg);
	transform: translate(-50%,-50%) rotate(-45deg);
}