.saved-credit-cards-list {
	border-top: 1px solid @gray;
	border-bottom: 1px solid @gray;
	margin: 15px 0 35px;
}

.saved-credit-card-item {
	font-size: 16px;
	margin-top: 15px;
}

.saved-credit-card-item-header {
	position: relative;
	padding-bottom: 15px;
	cursor: pointer;
	.toggle:before {
		position: absolute;
		z-index: 1;
		font-family: 'Nucleo Outline';
		content: '\ea6a';
		transform: translate3d(100%, 0%, 0) rotate3d(0, 0, 1, 0deg);
		transition: transform 0.5s;
	}
	&.active .toggle:before {
		transform: translate3d(100%, 0%, 0) rotate3d(0, 0, 1, 180deg);
	}
}

.saved-credit-card-item-body {

}

