.section-boat-managers {
    .boat-managers {
        position: relative;
        display: block;
        width: 100%;
        table {
            width: 100%;
            tr:not(:last-child) {
                border-bottom: solid 1px @gray;
            }
            th {
                font-size: 10px;
                font-weight: bold;
                color: @gray-darker;
                padding: 10px;
            }
            td {
                vertical-align: middle;
                padding: 0 10px;
                &.name {
                    color: @gray-dark;
                    font-size: 14px;
                    font-weight: normal;
                }
                .pending {
                    color: @red;
                    font-size: 10px;
                    font-weight: bold;
                }
                .btn {
                    width: 100%;
                }
                p {
                    margin: 20px 0;
                }
            }
        }
        @media screen and ( max-width: @screen-xs) {
            table {
                display: block;
                width: 100%;
                tbody {
                    display: block;
                }
                tr {
                    display: block;
                    width: 100%;
                    border-bottom: none !important;
                }
                th {
                    display: none;
                    width: 100%;
                }
                td {
                    display: block;
                    width: 100%;
                    &:nth-child(1),
                    &:nth-child(2) {
                        width: 49%;
                        display: inline-block;
                    }
                    &:nth-child(1) {
                        margin-bottom: 10px;
                    }
                    &:nth-child(2) {
                        margin-bottom: 10px;
                        text-align: right;
                    }
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5) {
                        display: inline-block;
                        width: 32%;
                        font-size: 12px;
                        &:after {
                            content: attr(data-header);
                            display: block;
                        }
                    }
                    &:nth-child(6) {
                        p {
                            margin: 10px 0 20px;
                        }
                        margin-bottom: 20px;
                        // &:not(:last-child) {
                        border-bottom: solid 1px @gray;
                        // }
                    }
                }
            }
        }
    }
}

.section-add-boat-managers {
    border-bottom: none !important;
    opacity: 0;
    display: none;
    .dashboard-section-header {
        h2 {
            font-size: 20px;
        }
    }
    .permissions {
    	margin-top: 20px;
        @media screen and ( max-width: @screen-xs) {
    	margin-top: 0;
            label span {
            	font-size: 12px;
            	display: block;
            }
        }
    }
}
