.section-boat-requests {
    border-top: 1px solid @gray-dark;
    padding-top: 20px;
}

.boats-list {
    .captain:not(: last-child):after {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0 15px;
        width: ~"calc( 100% - 30px)";
        border-bottom: 1px solid @gray;
    }
}

.boat {
    position: relative;
    @media screen and (max-width: @screen-sm) {
        margin-left: auto;
        margin-right: auto;
        clear: left;
        .margin-top-full {
            text-align: center;
        }
    }
    &.assign-myself {
        background: @gray-lighter;
    }
    padding: 15px 0;
    .boat-features
     {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-between;
    }
    .boat-feature
     {
        position: relative;
        margin-top: 10px;
        text-align: center;
        color: @black;
        line-height: 1.3;
        display: inline-block;
        margin-right: 15px;
        i {
            font-size: 28px;
            font-weight: normal;
            margin-bottom: 0;
            color: @black;
            display: block;
        }
        .boat-feature-name {
            font-size: 10px;
            margin-bottom: 0;
            color: @black;
            font-weight: normal;
            display: block;
        }
        .boat-feature-value {
            font-size: 12px;
            margin-bottom: 0;
            display: block;
        }
    }
    &.border-bottom {
        border-bottom: 1px solid @gray;
    }
}

@media screen and (min-width: 303px) {
    .only-xxs {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .only-xxs {
        display: block;
    }
}
