.section-captains-requests {
    border-top: 1px solid @gray-dark;
    padding-top: 20px;
}

.captain-list {
    .captain:not(: last-child):after {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0 15px;
        width: ~"calc( 100% - 30px)";
        border-bottom: 1px solid @gray;
    }
}

.captain {
    position: relative;
    @media screen and (max-width: @screen-sm) {
        margin-left: auto;
        margin-right: auto;
        clear: left;
        .margin-top-full {
            text-align: center;
        }
    }
    &.assign-myself {
        background: @gray-lighter;
    }
    padding: 15px 0;
    .captain-features {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-between;
    }
    .captain-feature {
        padding-top: 10px;
        text-align: center;
        color: @black;
        line-height: 1.3;
        display: inline-block;
        margin-right: 15px;
        i {
            font-size: 28px;
            font-weight: normal;
            margin-bottom: 0;
            color: @black;
            display: block;
        }
        .captain-feature-name {
            font-size: 10px;
            margin-bottom: 0;
            color: @black;
            font-weight: normal;
            display: block;
        }
        .captain-feature-value {
            font-size: 12px;
            margin-bottom: 0;
            display: block;
        }
    }
    &.border-bottom {
        border-bottom: 1px solid @gray;
    }
}



.section-my_fleet{
    .stats{
        padding-left: 90px;
        @media screen and (max-width: @screen-md) {
            margin-top: 10px;
            padding-left: 15px;
        }
        @media screen and (max-width: @screen-sm) {
            text-align: center;
            padding-left: 0;
        }
    }
    .wrapper-search{
        min-width: 315px;
        @media screen and (max-width: @screen-sm) {
            padding-left: 15px;
        }
    }
    .user-profile{

    }
    .no-underline{
        @media screen and (max-width: @screen-sm) {
            padding-right: 15px;
        }
        @media screen and (max-width: 530px) {
            max-width: 300px;
            margin:0 auto;
        }
    }
    .wrapper-select{
        @media screen and (max-width: 530px) {
            width: 100% !important;
            margin-top: 30px;
        }
    }
    .wrapper-boat{
        @media screen and (max-width: 530px) {
            width: 100% !important;
        }
    }
}
    

@media screen and (min-width: 303px) {
    .only-xxs {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .only-xxs {
        display: block;
    }
}
