.captain-profit-table {
	width: 100%;

	tr:nth-child(2) {
		border-bottom: 1px solid @gray;
	}

	td, 
	th {
		text-align: center;
		padding: 10px 0;
		font-size: 18px;
		
		@media screen  and (max-width: @screen-xs) {
			font-size: 80%;
			
		}

		&:first-child {
			text-align: left;
			color: @blue;
		}
	}

}

.my-cash-flow-results {
	position: relative;
	padding: 40px;
	border: 1px solid @blue;
	border-radius: 4px;
	z-index: 1;
	&:before, &:after {
		content: '';
		position: absolute;
		width: 20px;
		height: 20px;
		top: 50%;
		.transform( rotate(45deg) translate(-50%, -50%) );
	}
	&:before {
		left: -10px;	
		border: solid 1px @blue;
	}

	&:after {
		background: @white;
		left: -9px;
		z-index: 5;
	}
	.title {
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 0;
	}

	.price {
		font-size: 30px;
	}

}