.insurance-plans {
    max-width: 290px;
    padding: 20px 50px;
    margin: 25px;
    display: inline-block;
    vertical-align: top;
    height: 370px;
    position: relative;
    border: 1px transparent solid;
    h2 {
        font-size: 18px !important;
        color: @dark-blue !important;
        margin-bottom: 25px !important;
        i {
            display: block;
            font-size: 32px;
            margin-bottom: 3px;
        }
    }
    ul {
        margin-bottom: 25px;
        text-align: left;
    }
    li {
        font-size: 12px;
        margin-bottom: 15px;
        list-style-type: none;
        position: relative;
        &:before {
            content: '\e91a';
            font-family: 'boatsetter';
            position: absolute;
            top: 0;
            font-weight: bold;
            left: -20px;
            font-size: 12px;
            color: @dark-blue;
        }
    }
    .selection {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        padding: 0 50px;
        text-align: center;
        a {
            width: 100%;
        }
    }
    @media screen and (max-width: @screen-sm) {
        margin: 5px 0;
        border: 1px @gray solid;
        border-radius: 4px;
        height: auto;
        padding: 10px;
        li {
            margin-bottom: 5px;
        }
        .selection {
            position: relative;
            margin-bottom: 0;
        }
    }
    &.selected {
        border: 1px @blue solid;
        border-radius: 4px;
        background: #fafcfd;
        a.disabled {
            border-color: @gray-dark;
            color: @gray-dark;
        }
    }
}

.section-insurance {
    .note {
        margin-left: 50px;
        @media screen and (max-width: @screen-sm) {
            margin-left: 0;
            text-align: center;
        }
    }
}
