.section-pics-videos {
    .help-photos {
        position: relative;
        background: @blue;
        margin: 50px 0;
        padding: 10px 25px;
        color: white;
        overflow: hidden;
        &:before {
            content: '';
            width: 273px;
            height: 180px;
            position: absolute;
            right: 20px;
            top: ~"calc(50% - 90px)";
            background: url('images/dashboard/pic-polaroids.png');
            background-size: cover;
            @media screen and (max-width: 620px) {
                .transform(scale(0.5) translate(50%, 50%) );
            }
            @media screen and (min-width: 620px) and (max-width: 720px) {
                .transform(scale(0.75) translate(50%, 0%) );
            }
        }
        &:after {
            content: '';
            width: 179px;
            height: 169px;
            position: absolute;
            left: -10px;
            top: ~"calc(50% - 84px)";
            background: url('images/dashboard/pic-bslogo.png');
            background-size: cover;
        }
    }
}

.pics-videos-uploads {
    margin-bottom: 50px;
}

.dropzone-trigger {
    position: relative;
    cursor: pointer;
    display: block;
    // min-height: 140px;
    overflow: hidden;
    border: 1px dashed @gray-dark;
    margin: 10px 0;
    + p {
        font-weight: normal;
        text-align: center;
        color: @gray-darker;
    }
}

.dz-message {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 11px;
    padding: 5px;
    color: @gray-dark;
    margin-bottom: 0;
    img {
        text-align: center;
        margin: 0 auto;
        display: block;
        width: auto;
    }
    a {
    	margin-bottom: 10px;
    }
}

.dz-preview {
    background: @black;
    position: absolute;
    top: ~"calc(100% - 1px)";
    &.dz-error {
        background: @red;
    }
}
