.pricing-calculator,
.custom-trips,
.pricing-other-options {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 30px 0;
    @media screen and (max-width: @screen-xs) {
        margin: 15px 0;
    }
    hr {
        margin: 5px 25px;
        border-bottom-color: @gray;
    }
    .half-day,
    .full-day,
    .week {
        /* min-height: 190px;*/
        &.unset {
            opacity: 0.6;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            .settings {
                pointer-events: none;
            }
        }
    }
    .btn {
        @media screen and (max-width: @screen-xs) {
            white-space: normal;
            height: auto !important;
        }
    }
    .custom-price {
        .metrorenter {
            margin: 15px 0;
            svg {
                width: 55px;
                height: 55px;
                #superaguja {
                    .transition(1s);
                    transform-origin: 50% 50% !important;
                }
            }
            &.verylikely {
                svg .cls-2 {
                    stroke: @green;
                }
                .metrorenter-msg span {
                    &:before {
                        content: 'very likely to get rented';
                    }
                    color: @green;
                }
                #superaguja {
                    transform: rotate(170deg);
                    transform-origin: 50% 50% !important;
                }
            }
            &.likely {
                svg .cls-2 {
                    stroke: @yellow;
                }
                .metrorenter-msg span {
                    &:before {
                        content: 'likely to get rented';
                    }
                    color: @yellow;
                }
                #superaguja {
                    transform: rotate(90deg);
                    transform-origin: 50% 50% !important;
                }
            }
            &.unlikely {
                svg .cls-2 {
                    stroke: @red;
                }
                .metrorenter-msg span {
                    &:before {
                        content: 'unlikely to get rented';
                    }
                    color: @red;
                }
                #superaguja {
                    transform: rotate(10deg);
                    transform-origin: 50% 50% !important;
                }
            }
            div:nth-child(1) {
                text-align: right;
                padding-right: 5px;
            }
            div:nth-child(2) {
                text-align: left;
                padding-left: 5px;
            }
            @media screen and (max-width: @screen-xs) {
                div.col-xs-12 {
                    text-align: center !important;
                    padding: 0 !important;
                }
            }
        }
    }
    .noUi-marker {
        display: none;
    }
    .noUi-value-horizontal {
        -webkit-transform: translate3d(-50%,0%,0);
        transform: translate3d(-50%,0%,0);
    }
    .metrorenter-msg {
        display: inline-block;
        /* text-align: center;*/
        font-size: 12px;
        margin-top: 9px;
        span {
            line-height: 1;
        }
    }
    .amount {
        font-size: 24px;
        color: @black;
        font-weight: normal;
    }

    .property {
        line-height: 24px;
    }
}
