@green-active: #3bb24c;
@yellow-snooze: #fdaf3d;
@red-inactive: #ec272a;
.dashboard-sidebar {
    padding: 30px 0;
    max-width: 234px;
    font-weight: 400;
    top: 0;
    @media screen and (max-width: @screen-sm) {
        z-index: 900;
        position: fixed;
        z-index: 20;
        height: 150vh;
        background: @body-bg;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        opacity: 1;
        padding: 10px 0;
        .transform (translate( -100%, 0));
        .transition(0.3s);
        &.active {
            .transform (translate( 0, 0));
            box-shadow: 2px 0 10px 0px rgba(0, 0, 0, 0.25);
        }
    }
    .boat-info, 
    .user-info {
        text-align: center;
        .progress-text {
            color: #666666;
            font-size: 13px;
            .percent {
                color: @orange;
            }
        }
        .progress-circle {
            position: relative;
            margin: 10px auto;
            width: 143px;
            height: 143px;
            img {
                position: absolute;
                top: 4px;
                left: 4px;
                width: ~"calc(100% - 8px)";
                height: ~"calc(100% - 8px)";
            }
            canvas {
                max-width: 100%;
                max-height: 100%;
            }
            @media screen and (max-width: @screen-sm) {
                height: 70px;
                width: 70px;
                margin: 5px auto;
            }
        }
        .boat-name,
        .user-name {
            font-size: 18px;
            color: @blue;
            margin-bottom: 3px;
            @media screen and (max-width: @screen-sm) {
                font-size: 15px;
            }
        }
        .boat-location {
            i {
                font-size: 16px;
            }
            @media screen and (max-width: @screen-sm) {
                font-size: 13px;
                i {
                    font-size: 14px;
                    top: 1px;
                    position: relative;
                }
            }
        }
        .boat-status {
            margin: 15px 0;
            padding: 0 15px;
            > span {
                text-align: left;
                display: block;
                padding-left: 36px;
                font-size: 12px;
                margin-bottom: -10px;
                @media screen and (max-width: @screen-sm) {
                    position: relative;
                    top: -4px;
                }
            }
            .btn {
                font-size: 18px;
                padding-left: 33px;
                color: @brand-success;
            }
            .circle-active {
                width: 14px;
                height: 14px;
                position: absolute;
                left: 10px;
                top: 50%;
                .translate(0, -50%);
                border: 1px solid @green-active;
                border-radius: 50%;
            }
            .circle-snooze {
                width: 14px;
                height: 14px;
                position: absolute;
                left: 10px;
                top: 50%;
                .translate(0, -50%);
                border: 1px solid @yellow-snooze;
                border-radius: 50%;
            }
            .circle-inactive {
                width: 14px;
                height: 14px;
                position: absolute;
                left: 10px;
                top: 50%;
                .translate(0, -50%);
                border: 1px solid @red-inactive;
                border-radius: 50%;
            }
            @media screen and (max-width: @screen-sm) {
                margin: 10px 0;
            }
        }
    }
    .dashboard-navigator {
        margin: 10px 0 60px;
        ul {
            list-style: none;
            padding-left: 0;
            li {
                position: relative;
                color: #666666;
                line-height: 38px;
                font-weight: 400;
                a,
                a:hover,
                a:visited,
                a:active {
                    display: block;
                    color: #666666;
                    text-decoration: none;
                }
                a {
                    height: 38px;
                    padding-left: 50px;
                    &:hover {
                        background: #e8e8e8;
                        cursor: pointer;
                    }
                    @media screen and (max-width: @screen-sm) {
                        font-size: 13px;
                    }
                }
                i:first-child {
                    position: absolute;
                    font-size: 26px;
                    left: 15px;
                    vertical-align: middle;
                    margin-top: 8px;
                    @media screen and (max-width: @screen-sm) {
                        font-size: 20px;
                        left: 22px;
                    }
                }
                i:nth-child(2) {
                    font-size: 18px;
                    font-weight: bold;
                    vertical-align: middle;
                    margin-left: 5px;
                    @media screen and (max-width: @screen-sm) {
                        font-size: 16px;
                    }
                }
                .red-badge {
                    display: inline-block;
                    position: relative;
                    top: auto;
                    right: auto;
                    margin-left: 3px;
                }
                &.active {
                    > a {
                        background: #e8e8e8;
                        font-weight: bold;
                    }
                }
                &.promote a {
                    color: @blue !important;
                }
                @media screen and (max-width: @screen-sm) {
                    height: 32px;
                    line-height: 32px;
                }
                > ul {
                    margin-bottom: 5px;
                    li {
                        a {
                            padding-left: 65px;
                            font-size: 13px;
                            background-color: transparent;
                            height: 28px;
                            line-height: 28px;
                            &, &:hover {
                                background: transparent;
                            }
                        }
                        &.active {
                            > a {
                                font-weight: bold;
                                background: transparent;
                            }
                        }
                    }
                }
                &.collapsible {
                    .toggle {
                        cursor: pointer;
                        &:after {
                            position: absolute;
                            right: 25px;
                            top: 12px;
                            display: inline-block;
                            font: normal normal normal 16px/1 'Nucleo Outline';
                            speak: none;
                            text-transform: none;
                            -webkit-font-smoothing: antialiased;
                            content: "\ea6c";
                            .transform(rotate(-90deg));
                            .transition(0.25s);
                        }
                        &.in {
                            &:after {
                                .transform(rotate(90deg));
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width: @screen-sm) {
            margin: 10px 0;
        }
    }
    .form-control {
        height: auto;
        .btn {
            &:before {
                .transition(0.2s, ease-out);
            }
            &:focus,
            &:active,
            &:link,
            &:visited {
                outline: 0 !important;
                box-shadow: none !important;
            }
            @media screen and (max-width: @screen-sm) {
                height: 32px;
                padding-top: 6px;
                padding-bottom: 6px;
                font-size: 16px !important;
            }
        }
        div.dropdown-menu.open {
            display: block;
            height: 0;
            overflow: hidden;
            .transition (0.2s, ease-out);
            ul {
                li {
                    .transition(0.2s, ease-out);
                    a {
                        .transition(0.2s, ease-out);
                    }
                    &:hover {
                        background-color: #e8e8e8 !important;
                        a {
                            background-color: #e8e8e8 !important;
                        }
                    }
                }
                a:focus {
                    outline: 0 !important;
                }
            }
        }
        &.open {
            .btn:before {
                -webkit-transform: translate(0, -50%) rotate(180deg);
                -moz-transform: translate(0, -50%) rotate(180deg);
                -ms-transform: translate(0, -50%) rotate(180deg);
                -o-transform: translate(0, -50%) rotate(180deg);
                transform: translate(0, -50%) rotate(180deg);
            }
            div.dropdown-menu.open {
                height: 110px; //watch out the number of status item
            }
        }
    }
    .dropdown-menu {
        box-shadow: none;
        border: 0;
        background-color: transparent;
        position: relative;
        top: 0 !important;
        font-size: 18px;
        margin-top: 0 !important;
        li {
            border-bottom: 1px solid @gray;
            a {
                padding: 4px 31px !important;
            }
        }
        @media screen and (max-width: @screen-sm) {
            font-size: 16px;
        }
    }
}

body.dashboard .bs-site-wrapper {
    @media screen and (max-width: @screen-sm) {
        &:before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 150vh;
            background: rgba(0, 0, 0, 0.4);
            z-index: 11;
            pointer-events: none;
            opacity: 0;
            .transition(0.25s);
        }
        &.sidebar-active {
            &:before {
                opacity: 1;
            }
        }
    }
}

.two-lines{
    @media screen and (max-width: @screen-md) {
        line-height: 1.3 !important;    
    }
    
}

[title*="Active"] {
    color: @green-active !important;
    line-height: 15px !important;
}

[title*="Snooze"] {
    color: @yellow-snooze !important;
    line-height: 15px !important;
}

[title*="Inactive"] {
    color: @red-inactive !important;
    line-height: 15px !important;
}
