.dashboard-toolbar {
    height: 45px;
    background-color: #14628b;
    position: relative;
    z-index: 700;
    // border-bottom: solid 2px #85b3c9;
    >.container {
        position: relative;
    }
    .sidebar-toggle {
        display: none;
    }
    ul.toolbar {
        margin-left: 0;
        padding-left: 0;
        height: 40px;
        margin-bottom: 0;
        position: relative;
        background-color: #14628b;
        .opacity(0);
        .toolbar-sidebar {
            display: inline-block;
        }
        li {
            position: relative;
            display: inline-block;
            height: 45px;
            line-height: 45px;
            padding-right: 30px;
            margin-right: 15px;
            z-index: 900;
            vertical-align: top;
            // min-width: 150px;
                &:after {
                    position: absolute;
                    z-index: 910;
                    right: -9px;
                    top: 0;
                    height: 45px;
                    line-height: 45px;
                    font-family: 'Nucleo Outline';
                    content: "\ea6a";
                    color: @white;
                    font-size: 12px;
                    width: 42px;
                    -webkit-transition: transform 0.3s;
                    -moz-transition: transform 0.3s;
                    transition: transform 0.3s;
                }
            a {
                background-color: transparent;
                display: block;
                color: @white;
                position: relative;
                z-index: 950;
            }
            &.nocaret{
                &:after{
                    content: " ";
                    color:transparent;
                }
            }
            &:hover {
                cursor: pointer;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        a{
            &:hover,&:active,&:focus{
                outline: none;
                text-decoration: none;

            }
        }
        // @media screen and (min-width: 769px) { 
        //     & > li:after {
        //         opacity: 0;
        //         .transition(0.2s);
        //     }
        //     & > li:hover:after {
        //         opacity: 1;
        //     }
        // }
    }
    .wrapper-messages {
        position: absolute;
        top: 13px;
        z-index: 950;
        right: -6px;
        padding-right: 20px;
        a {
            color: white;
        }
        i {
            font-size: 18px;
        }
    }
    ul.menu {
        padding: 0;
        overflow: hidden;
        position: relative;
        background-color: #156a97;
        width: 0;
        height: auto;
        max-height: 0;
        overflow: hidden;
        min-width: 170px;
        .transitionProp(max-height, 0.4s, ease-out);
        .menu-item {
            font-size: 14px;
            display: block;
            // border:1px solid yellow;
            line-height: 35px;
            height: auto;
            // max-height: 35px;
            margin: 0;
            overflow: hidden;
            text-indent: 0;


            &:before {
                // width: 35px;
                // border:1px solid yellow;
                // height: 35px;
                left: 0;
                position: relative;
                top: 0;
                font-family: 'boatsetter';
                color: @white;
                font-size: 21px;
                display: inline-block;
                vertical-align: middle;
                margin-left: 15px;
                margin-right: 4px;
            }
            // ==============================================
            // ==== ICONS ===================================
            // ==============================================
            // &.icon-trip {
            //     &:before {
            //         content: "\e952";
            //     }
            // }
            // &.icon-favorite {
            //     &:before {
            //         content: "\e90b";
            //     }
            // }

            i[class^="bs-icon-"]:first-child {
                position: absolute;
                text-indent: 0;
                font-size: 20px;
                top: 8px;
                left: 25px;
            }
        }
        &.first {
            @media screen and (min-width: 769px) {
                left: 0;
                top: 54px;
                width: auto;
                .menu-item {
                    // padding-right: 30px;
                }
            }
        }
        &.active {
            max-height: 700px;
        }
        @media screen and (min-width: 769px) {
            position: absolute;
        }
    }
    ul.submenu {
        height: auto;
        max-height: 0;
        overflow: hidden;
        background-color: #1773a3;
        padding: 0;
        .transitionProp(max-height, 0.4s, ease-out);
        .submenu-item {
            display: block;
            padding-left: 64px;
            line-height: 35px;
            height: auto;
            cursor: inherit !important;
            // text-indent: 75px !important;
            a {
                color: @white;
                padding-right:  10px;
            }
            .submenu-item{
                padding-left: 10px;
                height: 30px;
                line-height: 30px;
            }
            &.active {
                font-weight: bold;
                border-bottom: 0;
            }
            &:after {
                content: "" !important;
            }
            &:hover {
                cursor: inherit;
            }
            &.bscaret{
                font-weight: 300;
                &:after {
                    position: absolute;
                    text-align: center;
                    z-index: 910;
                    right: 15px;
                    text-indent: 0 !important;
                    top: 0;
                    height: 35px;
                    line-height: 35px;
                    font-family: 'Nucleo Outline';
                    content: "\ea6a" !important;
                    color: @white;
                    font-size: 12px;
                    width: 42px;
                    -webkit-transition: transform 0.3s;
                    -moz-transition: transform 0.3s;
                    transition: transform 0.3s;
                }
                &.active{
                    &:after{
                        .rotate(180deg);
                    }
                }
                
            }

        }
        &.active {
            max-height: 700px;
        }
    }
    li.toolbar-item {
        &.active {
            &:before {
                height: 0 !important;
            }
            &:after {
                .rotate(180deg) !important;
            }
        }
    }
    li.menu-item {
        &.active {
            // .submenu {
            //     height: auto;
            // }
            &:after {
                .rotate(180deg) !important;
            }
        }
    }

    
}

.dashboard-toolbar.mobile {
    height: 40px;
    ul.toolbar {
        .opacity(1);
        // height: 40px;
        max-height: 40px;
        height: auto; //quitar
        max-width: 210px;
        margin-left: -15px;
        overflow: hidden;
        background-color: #1773a3;
        li {
            display: block;
            
            width: 210px;
            padding: 0;
            height: auto; //cambiar a 40
            line-height: 40px;
            margin: 0;
            font-size: 15px;
            position: relative;
            &:after {
                line-height: 40px;
                height: 40px;
                right: 0px;
            }
        }
        .toolbar-item {
            background-color: #156a97;
            text-indent: 15px;
            &:before {
                position: absolute;
                width: 80%;
                content: " ";
                height: 1px;
                background-color: #ffffff;
                .opacity(0.4);
                margin: 0 auto;
                left: 0;
                right: 0;
                top: 39px;
            }
            &:first-child {
                background-color: #14628b;
            }
            &:first-child,
            &:last-child {
                &:before {
                    content: "";
                    background-color: transparent;
                }
            }
        }
        @media screen and (min-width: @screen-md) {
            max-width: 250px;
            li {
                width: 250px;
            }
        }
        &.open {
            max-height: 4000px;
        }
    }
    ul.menu {
        position: relative;
        width: 100%;
        li {
            font-size: 13px;
            line-height: 35px;
            min-height: 35px;
            &:before {
                position: absolute;
            }
            &:after {
                right: 35px;
                font-size: 10px;
                width: 40px;
            }
            &.menu-item {
                min-height: 35px;
                a {
                    // text-indent: 60px;
                    padding-left: 60px;
                    line-height: 1.4;
                    // min-height: 35px;
                    &.expand{
                        min-height: 35px;
                        line-height: 35px;
                    }
                }
                >a{
                    padding-right: 20px;
                }
                &:after{
                    height: 35px;
                    line-height: 35px;
                    text-align: center;
                    right: 15px;
                }
            }
        }
    }
    ul.submenu {
        .submenu-item {
            // a{
            //     min-height: 35px;
            // }
            &:hover {
                cursor: inherit !important;
            }
        }
    }
    .wrapper-messages {
        top: 11px;
        span {
            font-size: 12px;
        }
    }
}

.dashboard-toolbar.desktop {
    ul.toolbar {
        .opacity(1);
        background-color: transparent;
        .toolbar-item {
            text-indent: 15px;
            padding-right: 0;
            a {
                padding-right: 30px;
            }
            &:after{
                .opacity(0);
                .transition(0.2s);
            }
            &:hover{
                &:after{
                    .opacity(1);
                }
            }

        }
    }
    ul.menu {
        width: auto;
        min-width: 200px;
        .menu-item {
            text-indent: 0;
            padding: 0;
            min-height: 35px;
            &:before {
                position: absolute;
            }
            &:after {
                height: 45px;
                line-height:45px;
                text-align: center;
                width: 40px;
                right: 0;
            }
           
            > a {
                // text-indent: 45px;
                padding-left: 45px;
                line-height: 1.3;
                padding-top: 5px;
                padding-bottom: 5px;
                // min-height: 35px;
                &.expand{
                    min-height: 35px;
                    line-height: 35px;
                }
            }
            i[class^="bs-icon-"]:first-child {
                left: 15px;
                top: 13px;
            }
        }
    }
    ul.submenu {
        .submenu-item {
            padding: 0;
            margin: 0;
            text-indent: 45px !important;
            cursor: inherit;
            &.bscaret{
                &:after{
                    right: 0;
                }
            }
            .submenu-item{
                padding-left: 10px;
            }
        }
    }
    .wrapper-messages {
        span {
            font-size: 14px;
        }
    }
}
