@completed: #c2c2c2;
@cancelled: #898989;
@pending: #fe9700;
@upcoming: @blue;

.bs-trip {
    padding-top: 10px;
    &:not(: last-child) {
        border-bottom: 1px solid @gray;
        margin-bottom: 50px;
        .tooltipster-content & {
            margin-bottom: 25px;
            padding-bottom: 15px;
        }
    }
    .trip-header {
        h2 {
            font-size: 18px;
            padding-left: 30px;
            position: relative;
        }
        .open-bs-messenger {
            .transition(0.3s);
            opacity: 1;
        }
        .trip-state {
            position: absolute;
            font-size: 18px;
            color: @gray-dark;
            left: 0;
            cursor: pointer;
            .transition(0.3s);
        }
        @media screen and (max-width: @screen-sm) {
            h2 {
                font-size: 16px;
                padding-left: 0;
            }
            .trip-state {
                display: none;
            }
        }
    }
    .trip-body {
        .properties {
            vertical-align: middle;
            font-size: 12px;
            white-space: nowrap;
            margin-left: 30px;
            margin-right: -30px;
            i {
                font-size: 24px;
                vertical-align: middle;
            }
            @media screen and (max-width: @screen-sm) {
                text-align: center;
                margin-left: 0;
                margin-right: 0;
                i {
                    display: block;
                    font-size: 18px;
                }
            }
        }
        .price {
            position: relative;
            display: block;
            vertical-align: middle;
            color: @black;
            line-height: 40px;
            white-space: nowrap;
            .transition(0.3s);
            i {
                margin-top: -2px;
                font-size: 32px;
                vertical-align: middle;
            }
            @media screen and (max-width: @screen-xs) {
                white-space: normal;
                margin-top: -15px;
            }
        }
    }
    .trip-footer {
        position: relative;
        text-align: right;
        .transition(0.3s);
        z-index: 10;
        @media screen and (max-width: @screen-sm) {
            text-align: center !important;
        }
        .text-right {
            white-space: nowrap;
        }
    }
    .trip-more-info {
        position: relative;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        // display: none;
        top: -50px;
        z-index: 1;
        padding-bottom: 20px;
        .transform(translate(0, -10px));
        .transition(0.3s);
        @media screen and (max-width: @screen-xs) {
            top: 0;
        }
    }
    &.expanded:not(.trip-tooltip) {
        .trip-header {
            .open-bs-messenger {
                opacity: 0;
            }
        }
        .trip-state {
            .transform( rotate(90deg));
        }
        .price {
            @media screen and (min-width: @screen-xs) {
                .transform(translate(0, -75px));
            }
        }
        .trip-footer-collapsed {
            @media screen and (min-width: @screen-xs) {
                .transform(translate(0, -90px));
            }
        }
        .trip-footer .more-detail {
            opacity: 0;
        }
        .trip-more-info {
            max-height: 300px;
            opacity: 1;
            margin-bottom: -50px;
            .transform(translate(0, 0));
            @media screen and (max-width: @screen-xs) {
                max-height: 100%;
                margin-bottom: 0;
            }
        }
    }
    &.trip-tooltip,
    &.trip-mobile {
        .trip-status {
            display: block;
            position: absolute;
            font-weight: bold;
            text-transform: capitalize;
            top: -3px;
            right: 10px;
        }
        .trip-header {
            h2 {
                padding-left: 0;
            }
        }
        .properties {
            vertical-align: middle;
            font-size: 10px;
            white-space: nowrap;
            margin-left: 0;
            margin-right: 0;
            i {
                font-size: 18px;
            }
            p {
                margin-bottom: 5px;
            }
        }
        &:not(.multi-trip) {
            .trip-body {
                display: flex;
            }
            .trip-footer {
                width: 100%;
                position: absolute;
                bottom: 0;
            }
        }

        &.multi-trip:not(:last-child) {
            padding-bottom: 20px;
            margin-bottom: 15px;
            border-bottom: solid 1px @gray-dark;
        }


        @media screen and (max-width: @screen-sm) {
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: solid 1px @gray;

            .user-profile {
                .img-wrapper {
                    height: 45px;
                    width: 45px;
                    float: left;
                    margin-right: 5px;
                }
                * {
                    font-size: 95% !important;
                    text-align: left;
                }
            }

            .properties {
                width: ~"calc(100% - 30px)";
                padding: 0;
                position: relative;
                margin: -5px 15px 20px 15px;
                border-bottom: solid 1px @gray;
                p {
                    display: inline-block;
                    font-size: 95% !important;
                    float: left;
                    width: 34%;
                    padding-bottom: 5px;
                    &.price {
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin-top: 0;
                        text-align: center;
                        font-size: 14px !important;
                        i {
                            font-size: 32px;
                        }
                        .transform(translate(0,0));
                    }
                }

            }
            .open-bs-messenger {
                .img-wrapper {
                    width: auto;
                    display: inline-block;
                    vertical-align: middle;
                    .red-badge {
                        top: 0;
                    }
                }
            }
            .trip-footer {
                padding: 0 10px !important;
                div {
                    padding: 0 5px !important;
                }
            }

            .border-left-gray {
                border-left: none;
            }

        }
    }
}

.trip-status {
    &.completed {
        color: @completed; 
    }
    &.cancelled {
        color: @cancelled; 
    }
    &.pending {
        color: @pending; 
    }
    &.upcoming {
        color: @upcoming; 
    }
}

.day-trips {
    border: solid 1px @blue;
    border-radius: 3px;
    padding: 15px;
    margin: 15px -15px;
}

.bs-message {
    .message-header {}
    .message-user {
        .img-wrapper {
            float: left;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            border: 2px solid @gray;
            width: 70px;
            height: 70px;
            margin-right: 12px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .user-details {
        float: left;
        position: relative;
        height: 70px;
        top: 0;
        span {
            display: block;
        }
        .user-name {
            font-size: 14px;
            margin-top: 20px;
            display: block;
        }
        .date-time {
            font-size: 10px;
            display: block;
        }
    }
    .message {
        font-size: 12px;
    }
}

.open-bs-messenger {
    position: absolute;
    right: 10px;
    top: 0;
    margin-right: 15px;
    .img-wrapper {
        float: right;
    }
    img {
        height: 28px;
    }
    .red-badge {
        right: -15px;
        top: -5px;
    }
    .dashboard-section-header & {
        margin-right: 0;
    }
    @media screen and (max-width: @screen-sm) {
        .img-wrapper {
            float: right;
            display: block;
            overflow: hidden;
            width: 26px;
        }
    }
    .trip-tooltip & {
        position: relative;
        right: auto;
        left: 0;
        .img-wrapper {
            float: none;
        }
        img {
            height: 22px;
            width: 85px;
        }
    }
}

.user-profile {
    .img-wrapper {
        float: left;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid @gray;
        width: 70px;
        height: 70px;
        margin-right: 12px;
        img {
            width: 100%;
            height: 100%;
        }
        @media screen and (max-width: @screen-sm) {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .user-details {
        float: left;
        position: relative;
        height: 70px;
        top: 0;
        span {
            display: block;
        }
        @media screen and (max-width: @screen-sm) {
            float: none;
            text-align: center;
            .user-rating {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .user-kind {
            font-size: 12px;
            font-weight: bold;
            + .user-name {
                margin-top: 0;
            }
        }
        .user-name {
            font-size: 14px;
            margin-top: 20px;
            display: block;
        }
        .date-time {
            font-size: 10px;
            display: block;
        }
    }
}
